@value xSmallRem: 30em;
@value smallRem: 40em;
@value mediumRem: 52em;
@value mediumPlusRem: 59.25em;
@value largeRem: 72em;

@value smallPx: 640;
@value mediumPx: 832;
@value mediumPlusPx: 948;
@value largePx: 1152;
