@value white: #FFFFFF;
@value black: #000000;
@value riceCakeWhite: #ECE9DA;
@value merinoWhite: #FBF8F4;
@value alabasterGray: #F4F0E9;
@value mysticGray: #DAE4E8;
@value romanceGray: #F9F6F0;
@value gainsboroGray: #DCDCDC;
@value charcoalGray: #424242;
@value white60: rgba(255, 255, 255, 0.6);
@value white50: rgba(255, 255, 255, 0.5);
@value black80: rgba(0, 0, 0, 0.8);
@value black60: rgba(0, 0, 0, 0.6);
@value black50: rgba(0, 0, 0, 0.5);
@value black12: rgba(0, 0, 0, 0.12);
@value gray75: rgba(255, 255, 255, 0.75);
@value wildSandGray: #F4F4F4;
@value casablancaOrange: #F9BA3F;
@value bambooOrange: #DD5C00;
@value tiberBlue: #0A2A37;
@value elephantBlue: #163F51;
@value ebonyClayBlue: #273443;
@value minuitBlue: #232F3C;
@value vikingBlue: #5AB4DC;
@value curiousBlue: #269ED4;
@value cascadeBlue: #0674A5;
@value hippieBlue: #639BB4;
@value solitudeBlue: #E2EBEE;
@value oysterBayBlue: #D3E2E8;
@value iceBlue: #EAF6FC;
@value lisbonBrown: #464027;
@value vanCleefRed: #563535;
@value onionBrown: #493F28;
@value pampasBrown: #F3F1EC;
@value sisalBrown: #D1CCB6;
@value coldTurkeyRed: #D2BFBF;
@value silver: #CCCCCC;
@value rockBrown: #ECE9DA;
@value bonjourRed: #E4DADA;
@value dimmerGray: #6D6D6D;
@value visualBrown: #F9F8F5;
@value softPeach: #F6ECF0;
@value cranberry: #E04F8E;

/* semantic colors */

@value linkColor: #CA4316;
@value linkHoverColor: #CD570A;
@value visitedLinkColor: #AD5C1D;
@value paginationLinkColor: cascadeBlue;
@value headingColor: cascadeBlue;
@value navColor: tiberBlue;
@value userSiteColor: hippieBlue;
@value proSiteColor: elephantBlue;
@value mobileNavColor: elephantBlue;
@value secondaryButtonColor: #0080a5;
@value primaryBulletColor: secondaryButtonColor;
@value secondaryBulletColor: linkColor;
@value darkSecondaryButtonColor: elephantBlue;
@value warmerBackgroundColor: romanceGray;
@value colderBackgroundColor: #F3F7F8;
@value lightLinkColor: casablancaOrange;
@value featuredBannerColor: casablancaOrange;
@value subLinkColor: #007294;
@value outgoingLinkColor: subLinkColor;
@value dimmedTextColor: dimmerGray;
@value donateFormButtonColor: cascadeBlue;
@value outlineColor: casablancaOrange;
@value formLabelColor: cascadeBlue;
@value errorColor: linkColor;
@value proIconColor: #5d7384;
@value radioButtonColor: gainsboroGray;
@value memberColor: #006D84;
@value featureBackgroundColor: #CBE3E8;