body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body,
button,
input {
  font-family: "Source Sans Pro";
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  box-sizing: border-box;
}

/* Vendor Overrides */

.Select-value {
  padding-right: 25px;
}
