@value sansFont from "./typography.css";
@value linkColor, outlineColor from "./colors.css";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
}

body, button, input, select {
  font-family: sansFont;
}

input {
  /* fixes an issue with Safari in particular */
  -webkit-appearance: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  font-size: 100%;
  margin: 0;
}

a, button, input, optgroup, select, textarea {
  &:focus {
    outline: 0.25rem solid outlineColor;
  }
}

figure {
  margin: 0;
}

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  box-sizing: border-box;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
}

/*
*
Vendor Overrides
*
*/

/* react-select Overrides */

:global .Select-control, :global .Select-control:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  border: none;
  height: auto;
  cursor: pointer;
}

:global .Select-arrow {
  border-color: black transparent transparent;
  border-width: 7px 7px 1.5px;
  position: relative;
  right: .25rem;
}

:global .Select.is-open :global .Select-arrow {
  border-color: transparent transparent black !important;
  border-width: 0 7px 7px !important;
}

:global .Select-menu-outer {
  box-sizing: content-box;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, .25);
  border: none;
}

:global .Select--single > .Select-control .Select-value {
  display: inline-block;
  line-height: 1.15;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

:global .Select-arrow-zone:after {
  content: "";
  height: 1.5rem;
  width: 1px;
  opacity: 0.1;
  position: absolute;
  border-left: 1px solid #000000;
  left: -0.7rem;
  top: 50% !important;
  transform: translateY(-50%);
}
