@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.filtersWrapper {
  width: 100%;
  background-color: $warmerBackgroundColor;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
}

.filters {
  padding: 0.5rem 1rem 1rem;
  margin: 0 auto;

  @media (min-width: $largeRem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.filter, .clearButton {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.textInput::placeholder {
  color: $black50;
}

.textInput {
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.sortValue {
  position: absolute;
  max-width: 100%;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.sortByText {
  display: inline-block;
  color: $dimmedTextColor;
  margin-right: 0.25rem;
}
