@value visualBrown from "../../css/colors.css";

.wrapper {
  background-color: visualBrown;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 84px;
  padding-top: 71px;
}

.contactUsLink {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.formAndMoreWays {
  max-width: 630px;
  margin-right: 85px;
  margin-left: 20px;
}
