@value visualBrown, cranberry, softPeach, iceBlue, curiousBlue from "../../../../css/colors.css";

.details {
  display: flex;
  padding-bottom: 100px;
  padding-top: 0;
}

.tableOfContents {
  width: 285px;
  flex-shrink: 0;
  padding-left: 45px;
  margin-right: 32px;
  box-sizing: content-box;
}

.tableOfContentsHeader {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 20px;
  background-color: #F1F0ED;
}

.tableOfContentsContents {
  padding: 20px 20px 26px;
  background-color: visualBrown;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.tableOfContentsSection {
  margin-bottom: 20px;
}

.divider {
  height: 2px;
  border-bottom: 2px solid #DFDEDC;
  margin-bottom: 20px;
}

.bodyText {
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.bodyText p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.credits {
  font-size: 0.875rem;
  line-height: 1.125rem;
  opacity: 0.50;
  margin-top: 3.125rem;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  padding-top: 1.125rem;
}

.creditsBold {
  font-weight: 600;
  text-transform: uppercase;
}
