@value visualBrown, cranberry, softPeach, iceBlue, curiousBlue from "../../../../css/colors.css";
@value smallRem from "../../../../css/breakpoints.css";

.details {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  margin-top: 2rem;
  @media (min-width: smallRem) {
    flex-direction: row;
  }
}

.tableOfContents {
  width: 100%;
  @media (min-width: smallRem) {
    width: 285px;
    padding-left: 45px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  margin-bottom: 2rem;
  flex-shrink: 0;
  box-sizing: content-box;
}

.tableOfContentsHeader {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 1.25rem;
  background-color: #F1F0ED;
}

.tableOfContentsContents {
  padding: 1.25rem;
  background-color: visualBrown;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.tableOfContentsSection:not(:last-of-type) {
  margin-bottom: 1rem;
}

.divider {
  height: 2px;
  border-bottom: 2px solid #DFDEDC;
  margin-bottom: 20px;
}

.bodyText {
  font-size: 1.125rem;
  display: block;
  line-height: 1.5rem;
  @media (min-width: smallRem) {
    padding-right: 45px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  @media (min-width: smallRem) {
    display: block;
  }
}

.bodyText p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.credits {
  font-size: 0.875rem;
  line-height: 1.125rem;
  opacity: 0.50;
  margin-top: 3.125rem;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  padding-top: 1.125rem;
}

.creditsBold {
  font-weight: 600;
  text-transform: uppercase;
}
