@value visualBrown, elephantBlue from "../../../../css/colors.css";

.wrapper {
  background-color: visualBrown;
  width: 100%;
}

.relatedSets {
}

.header {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.sets {
  display: flex;
}

.set {
  flex-basis: 20%;
  margin-right: 19px;
}

.set:last-child {
  margin-right: 0;
}

.setImage {
  width: 100%;
  height: auto;
}
