@value warmerBackgroundColor, elephantBlue from "../../../../css/colors.css";
@value largeRem from "../../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../../css/typography.css";

.wrapper {
  background-color: warmerBackgroundColor;
  width: 100%;
}

.relatedSets {
  padding: 2rem 1rem;

  /* overrides for react-slick css*/
  & :global .slick-prev:before,
  & :global .slick-next:before {
    content: none;
  }

  & :global .slick-disabled {
    display: none;
  }

  @media (min-width: largeRem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  font-family: serifFont;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.setLink {
  display: block;
  margin-top: 1rem;
}

.setLink:hover .title {
  text-decoration: underline;
}

.title {
  font-size: .875rem;
  font-weight: 600;
  margin-top: .5rem;
}

.setImage {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
