@value visualBrown, elephantBlue from "../../../../css/colors.css";

.wrapper {
  background-color: visualBrown;
  width: 100%;
}

.relatedSets {
  padding: 2rem 1rem;
}

.header {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.setLink {
  display: block;
  margin-top: 1rem;
}

.setLink:hover .title {
  text-decoration: underline;
}

.title {
  font-size: .875rem;
  font-weight: 600;
  margin-top: .5rem;
}

.setImage {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
