---

files:
    # The stock Elastic Beanstalk Nginx configuration, with modifications
    "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            map $http_upgrade $connection_upgrade {
                default        "upgrade";
                ""            "";
            }
            server {
                listen 80 default;    # "default" added by DPLA
                gzip on;
                gzip_comp_level 4;
                # Note that gzip_types text/html is already specified in the
                # including file...
                gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
                if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
                    set $year $1;
                    set $month $2;
                    set $day $3;
                    set $hour $4;
                }
                access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
                access_log    /var/log/nginx/access.log;
                location / {

                    proxy_pass            http://docker;
                    proxy_http_version    1.1;
                    proxy_set_header      Connection $connection_upgrade;
                    proxy_set_header      Upgrade    $http_upgrade;
                    proxy_set_header      Host       $host;
                    proxy_set_header      X-Real-IP  $remote_addr;
                    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
                    proxy_hide_header     ETag;
                    proxy_hide_header     X-Powered-By;

                    #
                    # REDIRECTS
                    #

                    # ... Pro site:
                    #

                    # Pro Site > Ebooks
                    rewrite ^/ebooks https://ebooks.dp.la permanent;
                    rewrite ^/ebooks/ebook-bibliolabs https://ebooks.dp.la/bibliolabs permanent;
                    rewrite ^/ebooks/curation-corps https://ebooks.dp.la/curation-corps permanent;
                    rewrite ^/ebooks/open-ebooks-2 https://ebooks.dp.la/open-ebooks permanent;
                    rewrite ^/ebooks/dpla-exchange https://ebooks.dp.la/dpla-exchange permanent;
                    rewrite ^/ebooks/dpla-publications https://ebooks.dp.la/dpla-publications permanent;
                    rewrite ^/ebooks/ebook-simplye https://ebooks.dp.la/simplye permanent;
                    rewrite ^/ebooks/ebook-platform https://ebooks.dp.la/platform permanent;
                    rewrite ^/ebooks/ebook-hosting https://ebooks.dp.la/hosting permanent;
                    rewrite ^/ebooks/faqs https://ebooks.dp.la/faqs permanent;
                    rewrite ^/ebooks/ebook-investing-in-libraries https://ebooks.dp.la/investing-in-libraries permanent;
                    rewrite ^/ebooks/ebook-community https://ebooks.dp.la/community permanent;
                }
            }

    "/etc/nginx/sites-enabled/www-redirect.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            server {
                listen 80;
                server_name ~^www\.(?<domain>.+)$;
                return 301 $http_x_forwarded_proto://$domain$uri;
            }


