@import "stylesheets/variables.module";

.header {
  font-family: $serifFont;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.contentTable {
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: $colderBackgroundColor;

  @media (min-width: $mediumRem) {
    padding: 2rem 3rem;
  }
}

.tableHeading {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $dimmedTextColor;
  font-weight: 600;
  vertical-align: baseline;

  @media (min-width: $mediumRem) {
    font-size: 1rem;
  }
}

.tableItem {
  vertical-align: baseline;
  font-family: $serifFont;
  line-height: 1.25;
  margin-top: 0.5rem;

  @media (min-width: $smallRem) {
    margin-top: 0;
  }

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
  }
}

.paddedRow {
  margin-bottom: 1.5rem;

  @media (min-width: $mediumRem) {
    margin-bottom: 2rem;
  }
}

.mailToLink {
  padding-bottom: 0.25rem;
}
