@import "stylesheets/variables.module";

.header {
  font-family: $serifFont;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.contentTable {
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: $colderBackgroundColor;

  @media (min-width: $mediumRem) {
    padding: 2rem 3rem;
  }
}

.tableHeading {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $dimmedTextColor;
  font-weight: 600;
  vertical-align: baseline;

  @media (min-width: $mediumRem) {
    font-size: 1rem;
  }
}

.tableItem {
  vertical-align: baseline;
  font-family: $serifFont;
  line-height: 1.25;
  margin-top: 0.5rem;

  @media (min-width: $smallRem) {
    margin-top: 0;
  }

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
  }
}

.paddedRow {
  margin-bottom: 1.5rem;

  @media (min-width: $mediumRem) {
    margin-bottom: 2rem;
  }
}

.mailToLink {
  padding-bottom: 0.25rem;
}

.contactForm {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  & form {
    display: flex;
    flex-direction: column;
  }

  & label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0 0 1rem;
    position: relative;
    color: $formLabelColor;

    & > span {
      display: block;
      margin: 0 0 0.25rem 0.5rem;

      &:not(.notFixed) {
        position: absolute;
        top: 0.25rem;
        left: 0;
      }
    }
  }
}

