@value linkColor, pampasBrown from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.header {
  font-family: "Lora";
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.contentTable {
  background-color: pampasBrown;
  padding: 1rem 1.5rem;
  width: 100%;

  @media (min-width: mediumRem) {
    padding: 2rem 3rem;
  }
}

.tableHeading {
  font-size: .8rem;
  text-transform: uppercase;
  opacity: 0.50;
  font-weight: 600;
  vertical-align: baseline;

  @media (min-width: mediumRem) {
    font-size: 1rem;
  }
}

.tableItem {
  vertical-align: baseline;
  font-family: "Lora";
  line-height: 1.25;
  margin-top: .5rem;

  @media (min-width: smallRem) {
    margin-top: 0;
  }

  @media (min-width: mediumRem) {
    font-size: 1.25rem;
  }
}

.firstRow {
  margin-bottom: 1.5rem;

  @media (min-width: mediumRem) {
    margin-bottom: 2rem;
  }
}

.mailToLink {
  border-bottom: 2px solid linkColor;
  padding-bottom: .25rem;
}
