@value colors: "../../../../colors.css";
@value merinoWhite, elephantBlue, dimGray, bambooOrange from colors;
@value breakpoints: "../../../../breakpoints.css";
@value smallRem, mediumRem, mediumPlusRem from breakpoints;

.socialMedia {
  margin: auto;
  padding: 45px 25px 55px;
  display: flex;
  flex-direction: column;
}
@media (min-width: smallRem) {
  .socialMedia {
    flex-direction: row;
    padding: 45px 50px 55px;
  }
}
@media (min-width: mediumRem) {
  .socialMedia {
    padding: 72px 70px 77px;
  }
}

@media screen and (min-width: 1100px) {
  .socialMedia {
    padding: 72px 0 77px 0;
    max-width: 1024px;
  }
}

.wrapper {
  background-color: merinoWhite;
}

.header {
  font-family: "Source Serif Pro";
  font-weight: bold;
  color: elephantBlue;
  margin-bottom: 24px;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
}

.twitter {
  flex: 1;
  color: dimGray;
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  padding-right: 27px;
  margin-bottom: 25px;
}

.twitterText {
  margin-bottom: 6px;
}

.twitterDate {
  text-transform: uppercase;
  color: bambooOrange;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  margin-bottom: 19px;
}

.visitLink {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
  color: bambooOrange;
}

.instagram {
  flex: 2;
}

.instagramImages {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
<<<<<<< 989befaa85a2d520defdb64e07676ff35be79d26
=======

>>>>>>> wip
@media (min-width: mediumPlusRem) {
  .instagramImages {
    flex-wrap: nowrap;
  }
}

.instagramImage {
  padding: 0px 6px 6px 0;
  width: calc(50% - 6px);
  height: calc(50% - 6px);
<<<<<<< 989befaa85a2d520defdb64e07676ff35be79d26
}
=======
  max-width: 225px;
  max-height: 225px;
}

>>>>>>> wip
@media (min-width: mediumPlusRem) {
  .instagramImage {
    width: calc(25% - 6px);
  }
}

.externalLinkIcon {
  width: 16px;
  height: 16px;
  padding-left: 9px;
  position: relative;
  top: 2px;
}
