@value warmerBackgroundColor, subLinkColor, black from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";

.setsWrapper {
  margin: -0.2rem auto 1rem;

  /* Overwrite flexbox-grid with a thinner gutter */
  & :global .row {
    margin-left: -0.1rem;
    margin-right: -0.1rem;

    @media (min-width: mediumRem) {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }

  & :global .col-xs-6, & :global .col-md-4 {
    padding-left: .1rem;
    padding-right: .1rem;

    @media (min-width: mediumRem) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @media (min-width: mediumRem) {
    padding: 0 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  @media (min-width: largeRem) {
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }
}

.itemWrapper {
  margin-top: .2rem;
  display: flex;

  @media (min-width: mediumRem) {
    margin-top: 1rem;
  }
}

.item {
  background-color: warmerBackgroundColor;

  @media (min-width: mediumRem) {
    background-color: transparent;
  }
}

.itemContent {
  padding: .5rem .75rem .75rem;

  @media (min-width: smallRem) {
    padding: .75rem 1rem 1rem;
  }

  @media (min-width: mediumRem) {
    padding: 0.5rem 0 1rem;
  }
}

.image {
  max-width: 100%;

  @media (min-width: mediumRem) {
    border-radius: 3px;
  }
}

.itemCount {
  display: none;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: .5rem;

  @media (min-width: mediumRem) {
    display: block;
  }
}

.title {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }

  @media (mediumRem) {
    font-size: 1.25rem;
  }
}

.timePeriod {
  font-size: .875rem;
  margin-top: .25rem;

  & a {
    color: subLinkColor;
  }

  @media (mediumRem) {
    font-size: 1.25rem;
  }
}

.tags {
  font-size: .875rem;
  margin-top: .25rem;

  & a {
    color: subLinkColor;
  }
}

.tag {
  display: inline;
}
