@import "stylesheets/variables";

.setsWrapper {
  margin: -0.2rem auto 1rem;

  /* Overwrite flexbox-grid with a thinner gutter */
  & :global .row {
    margin-left: -0.1rem;
    margin-right: -0.1rem;

    @media (min-width: $mediumRem) {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }

  & :global .col-xs-6, & :global .col-md-4 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    @media (min-width: $mediumRem) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @media (min-width: $mediumRem) {
    padding: 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  @media (min-width: $largeRem) {
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }
}

.itemWrapper {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  display: flex;

  @media (min-width: $mediumRem) {
    margin-top: 1rem;
  }
}

.item {
  background-color: $warmerBackgroundColor;

  @media (min-width: $mediumRem) {
    background-color: transparent;
  }
}

.itemContent {
  padding: 0 0.75rem 0.75rem;

  @media (min-width: $smallRem) {
    padding: 0 1rem 1rem;
  }

  @media (min-width: $mediumRem) {
    padding: 0 0 1rem;
  }
}

.image {
  width: 100%;

  @media (min-width: $mediumRem) {
    border-radius: 3px;
  }
}

.title {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }

  @media ($mediumRem) {
    font-size: 1.25rem;
  }
}

.timePeriod {
  font-size: 0.875rem;
  margin-top: 0.25rem;

  & a {
    color: $subLinkColor;
  }

  @media ($mediumRem) {
    font-size: 1.25rem;
  }
}

.tags {
  font-size: 0.875rem;
  margin-top: 0.25rem;

  & a {
    color: $subLinkColor;
  }
}

.tag {
  display: inline;
}
