@import "stylesheets/colors";
@import "stylesheets/breakpoints";

.headerSearchBar {
  background-color: $userSiteColor;
  width: 100%;

  &.pro {
    background-color: $proSiteColor;
  }
}

.flexWrapper {
  padding: 0.5rem 1rem;
  display: flex;
  margin: auto;

  &.pro {
    @media (max-width: $mediumRem) {
      padding: 0;
    }
  }

  @media (min-width: $largeRem) {
    padding: 0;
  }
}

.searchBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  margin: auto 0 auto auto;
  width: 100%;

  @media (min-width: $mediumRem) {
    padding-left: 1rem;
  }

  @media (min-width: $largeRem) {
    justify-self: flex-end;
    padding-left: 0;
    width: 50%;
  }
}

.searchInput {
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  flex-grow: 1;
  font-size: 1rem;
  height: 100%;
  padding-left: 1rem;
  width: 65%;

  @media (min-width: $smallRem) {
    width: auto;
  }

  /* Remove browser search input defaults */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:focus::placeholder {
    opacity: 0.25;
  }
}

.searchInput::placeholder {
  transition: opacity .2s ease-out;
  color: $secondaryButtonColor;
  opacity: 0.5;
}

.searchButton {
  transition: background-color .2s ease-out;
  background-color: $secondaryButtonColor;
  border-radius: 0 0.25rem 0.25rem 0;
  height: 100%;
  font-size: 1rem;
  color: white;
  padding: 0 1rem;
  width: 35%;

  @media (min-width: $smallRem) {
    width: auto;
  }

  &:hover {
    background-color: $navColor;
  }
}

.logo {
  padding: 0.5rem 0;
  display: none; /* hide logo in small screens */

  @media (min-width: $mediumRem) {
    display: block;
  }

  @media (min-width: $largeRem) {
    padding: 1rem 0;
  }
}

.logoImg {
  width: 16rem;
  height: 1.95rem;

  @media (min-width: $largeRem) {
    width: 18rem;
    height: 2.2rem;
  }
}
