@import "stylesheets/variables";

.header {
  display: none;
  background-color: $navColor;

  /* The SmallScreenGlobalHeader component handles the navigation on small screens */
  @media (min-width: $mediumRem) {
    display: block;
  }

  @media print {
    display: none;
  }
}

.linksContainer {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: $largeRem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.links {
  color: white;
  display: inline-flex;
  justify-content: space-between;
  text-transform: uppercase;

  & > li {
    margin-right: 0.75rem;
  }

  & > li > button, & > li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.secondaryLinks {
  opacity: 0.85;
}

.tertiaryLinks {
  margin-left: auto;
  opacity: 0.7;
}

.divider {
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 0.75rem;

  @media (min-width: $largeRem) {
    margin-right: 1rem;
  }
}

