@import "stylesheets/breakpoints.module";

.wrapper {
  width: 100%;
  background-color: var(--merinoWhite);
}

.harmfulContent {
  padding: 3px 0 3px 0;
  text-align: center;
  font-weight: normal;
  font-size: .9rem !important;
  font-family: var(--sansFont), sans-serif;
  color: var(--dimmedTextColor);

  @media (min-width: $mediumRem) {
    font-size: 1.3rem;
  }
}