@import "stylesheets/variables.module";

.wrapper {
  width: 100%;
  background-color: $merinoWhite; //lighten($warmerBackgroundColor, 1%);
  //box-shadow: inset 0 -0.075rem 0.075rem 0 rgba(0, 0, 0, 0.03);
}

.harmfulContent {
  padding: 3px 0 3px 0;
  text-align: center;
  font-weight: normal;
  font-size: .9rem !important;
  font-family: $sansFont;
  color: $dimmedTextColor;

  @media (min-width: $mediumRem) {
    font-size: 1.3rem;
  }
}