@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.wrapper {
  margin-top: 1rem;
  @media (min-width: $mediumRem) {
    margin-top: 2rem;
  }
}

.imageAndCaption {
  padding: 0;
  width: 100%;

  @media (min-width: $smallRem) {
    padding: 0 1rem 1rem;
  }

  @media (min-width: $largeRem) {
    padding: 0 0 1rem;
  }
}

.image {
  @media (min-width: $smallRem) {
    border-radius: 3px;
  }
  width: 100%;
  /* 518 / 1024 ratio */
  padding-top: 50.59%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(13, 13, 23, 0.15) 0%, #000000 100%);
}

.imageWrapper {
  position: relative;
  color: white;
  margin-bottom: 16px;
}

.overlayContent {
  text-align: center;
  padding-bottom: 1.75rem;
  width: 95%;
  & .exhibitionTitle {
    padding: 0;
    display: none;
  }
  @media (min-width: $smallRem) {
    & .exhibitionTitle {
      display: block;
    }
    width: 90%;
  }
  @media (min-width: $mediumRem) {
    padding-bottom: 3.5rem;
  }
}

.headingRule {
  display: none;
  @media (min-width: $smallRem) {
    margin-bottom: -1.25rem;
    display: block;
  }
}

.exhibitionTitle {
  padding: 0 1rem 1rem;
  line-height: 1.1;
  font-family: $serifFont;
  font-size: 1.75rem;
  font-weight: normal;
  @media (min-width: $smallRem) {
    font-size: 3rem;
  }
  @media (min-width: $smallRem) {
    display: none;
  }
  @media (min-width: $mediumRem) {
    font-size: 3.75rem;
  }
}

.exploreLink {
  display: inline-block;
  width: 100%;
  @media (min-width: $smallRem) {
    width: auto;
  }
}

.captionLeadIn {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.25rem;
}

.caption {
  color: $dimmedTextColor;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.125;
  padding: 0 1rem;

  @media (min-width: $smallRem) {
    padding: 0;
  }

  @media (min-width: $largeRem) {
    padding: 0 45px;
  }
}
