@value bambooOrange from "../../../../css/colors.css";

.image {
  border-radius: 3px;
  width: 100%;
  /* 518 / 1024 ratio */
  padding-top: 50.59%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(13,13,23,0) 0%, #000000 100%);
}

.imageWrapper {
  position: relative;
  color: white;
  margin-bottom: 16px;
}

.overlayContent {
  width: 90%;
  text-align: center;
  position: absolute;
  padding-bottom: 56px;
}

.exhibitionTitle {
  font-size: 3.75rem;
  line-height: 1.1;
  font-family: "Lora";
}

.exploreLink {
  background-color: bambooOrange;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  padding: 10px 30px;
  border-radius: 3px;
  display: inline-block;
}

.captionLeadIn {
  font-weight: 600;
  text-transform: uppercase;
}

.caption {
  padding: 0 45px;
  color: #0D0D17;
  opacity: 0.50;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.caption p {
  display: inline;
}
