{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "css": "./css",
          "static": "./static",
          "utilFunctions": "./utilFunctions",
          "components": "./components"
        }
      }
    ]
  ]
}
