{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "include": ["SITE_ENV"]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-inline-environment-variables",
          {
            "include": ["SITE_ENV"]
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "css": "./css",
          "static": "./static",
          "utilFunctions": "./utilFunctions",
          "components": "./components"
        }
      },
      "dotenv-import", {
        "moduleName": "@env",
        "path": ".env",
        "blacklist": null,
        "whitelist": [
          "SITE_ENV"
        ],
        "safe": false,
        "allowUndefined": false
      }
    ]
  ]
}
