@value colors: "../../../../colors.css";
@value alabasterGray, elephantBlue, bambooOrange, black from colors;
@value breakpoints: "../../../../breakpoints.css";
@value smallRem, mediumRem from breakpoints;

.fromTheBlog {
  margin: auto;
  display: flex;
  padding: 45px 25px 55px;
  flex-direction: column;
}
@media (min-width: smallRem) {
  .fromTheBlog {
    padding: 45px 50px 55px;
  }
}
@media (min-width: mediumRem) {
  .fromTheBlog {
    padding: 72px 70px 77px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  .fromTheBlog {
    padding: 72px 0 77px 0;
    max-width: 1024px;
  }
}

.wrapper {
  background-color: alabasterGray;
}

.header {
  flex: 1;
  margin-bottom: 20px;
}

.headerText {
  color: elephantBlue;
  font-family: "Source Serif Pro";
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 2.25rem;
  line-height: 2.8125rem;
}
@media (min-width: mediumRem) {
  .headerText {
    font-size: 2.875rem;
    line-height: 3.375rem;
  }
}

.headerLink {
  color: bambooOrange;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  position: relative;
}

.chevron {
  position: absolute;
  height: 18px;
  width: 9px;
  right: -29px;
  top: 5px;
}

.blogPosts {
  display: flex;
  flex: 3;
  flex-direction: column;
}
@media (min-width: mediumRem) {
  .blogPosts {
    flex-direction: row;
  }
}

.blogPost {
  padding-right: 25px;
  padding-bottom: 10px;
}
@media (min-width: mediumRem) {
  .blogPost {
    padding-bottom: 0;
  }
}

.blogPost:last-child {
  padding-right: 0;
}

.headline {
  color: bambooOrange;
  padding-bottom: 5px;
  opacity: 0.9;
  font-weight: bold;
  display: block;
}

.date {
  color: rgba(22, 63, 81, 0.54);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.1875rem;
  padding-bottom: 9px;
  text-transform: uppercase;
}

.bodyText {
  color: black;
  opacity: 0.75;
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: 5px;
}

@media (min-width: mediumRem) {
  .blogPost:first-child .headline,
  .blogPost:first-child .date,
  .blogPost:first-child .bodyText {
    padding-left: 22px;
    border-left: 1px solid rgba(89, 63, 23, 0.2);
  }
}
