@value colderBackgroundColor, warmerBackgroundColor, subLinkColor from "../../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../../../css/typography.css";

.contentAndMetadata {
  padding-top: 23px;
}

.contentWrapper {
  flex: 5;
  margin-right: 20px;
  width: 100%;
  @media (min-width: smallRem) {
    width: auto;
  }
}

.flexWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @media (min-width: smallRem) {
    flex-direction: row;
  }
}

.contentHeader {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 26px;
  @media (min-width: smallRem) {
    max-width: 70%;
  }
}

.content {
  margin-bottom: 20px;
  background-color: warmerBackgroundColor;
}

.description {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  @media (min-width: smallRem) {
    padding-top: 1rem;
    border-top: 1px solid #E7E7E7;
  }
}

.description p {
  margin-bottom: 20px;
}

.description p:last-child {
  margin-bottom: 0;
}

.metadata {
  flex: 2;
  margin-top: 0.75rem;
  width: 100%;
  @media (min-width: smallRem) {
    margin-top: 0;
    width: auto;
  }
}

.sourceInfo {
  border: 1px solid #E7E7E7;
  background-color: white;
  padding: 18px 20px 24px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.button {
  border-radius: 2px;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
  padding: 10px 0;
  width: 100%;
  color: subLinkColor;
  background-color: colderBackgroundColor;
  margin-bottom: 15px;
  text-align: center;
}

.courtesyOf p {
  opacity: 0.65;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 3px;
  margin-bottom: 17px;
}

.copyrightInfo {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 18px;
}

.divider {
  border-bottom: 1px solid #000000;
  height: 2px;
  opacity: 0.1;
  margin: 1rem 0;
}

.linkWrapper {
  margin-bottom: 15px;
}

.linkWrapper:last-child {
  margin-bottom: 0px;
}

.sourceLink, .sourceLink:visited {
  color: subLinkColor;
  font-weight: 600;
  display: flex;
}

.linkText {
  text-decoration: underline;
}

.linkIcon {
  opacity: 0.5;
  width: 18px;
  height: 18px;
  margin-right: 13px;
}

.externalIcon {
  opacity: 0.5;
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.tipsForStudents {
  padding: 20px;
  border: 1px solid #E7E7E7;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.tipsForStudentsHeader {
  text-transform: uppercase;
  font-family: serifFont;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 9px;
  font-weight: bold;
}

.tips {
  list-style: initial;
  padding-left: 28px;
}

.tipDirections {
  margin-bottom: 4px;
}

.tip {
  padding-left: 10px;
  margin-bottom: 2px;
}

.tip:last-child {
  margin-bottom: 0;
}

.buttons button {
  width: 100%;
}

.faveAndCiteButtons {
  align-self: baseline;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 1rem;

  @media (min-width: mediumRem) {
    max-width: 245px;
  }
}

.citeButton {
  margin-bottom: 0.5rem;
}
