@value iceBlue, pampasBrown, curiousBlue, visualBrown from "../../../../../css/colors.css";

.contentAndMetadata {
  padding-top: 23px;
}

.contentWrapper {
  flex: 5;
  margin-right: 20px;
}

.flexWrapper {
  display: flex;
  align-items: flex-start;
}

.contentHeader {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 26px;
  max-width: 70%;
}

.content {
  margin-bottom: 20px;
  background-color: visualBrown;
}

.description {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #E7E7E7;
}

.description p {
  margin-bottom: 20px;
}

.description p:last-child {
  margin-bottom: 0;
}

.metadata {
  flex: 2;
}

.sourceInfo {
  border: 1px solid #E7E7E7;
  background-color: white;
  padding: 18px 20px 24px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.button {
  border-radius: 2px;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
  padding: 10px 0;
  width: 100%;
  color: curiousBlue;
  background-color: iceBlue;
  margin-bottom: 15px;
  text-align: center;
}

.courtesyOf p {
  opacity: 0.65;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 3px;
  margin-bottom: 17px;
}

.copyrightInfo {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 18px;
}

.divider {
  border-bottom: 1px solid #000000;
  height: 2px;
  opacity: 0.1;
  margin-bottom: 17px;
}

.linkWrapper {
  margin-bottom: 15px;
}

.linkWrapper:last-child {
  margin-bottom: 0px;
}

.sourceLink {
  color: curiousBlue;
  font-weight: 600;
}

.linkText {
  border-bottom: 1px solid curiousBlue;
}

.linkIcon {
  opacity: 0.5;
  width: 20px;
  margin-right: 13px;
  position: relative;
  top: 6px;
}
.externalIcon {
  opacity: 0.4;
  width: 18px;
  margin-right: 13px;
  position: relative;
  top: 6px;
}

.tipsForStudents {
  padding: 20px;
  border: 1px solid #E7E7E7;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.tipsForStudentsHeader {
  text-transform: uppercase;
  font-family: "Lora";
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 9px;
  font-weight: bold;
}

.tips {
  list-style: initial;
  padding-left: 28px;
}

.tipDirections {
  margin-bottom: 4px;
}

.tip {
  padding-left: 10px;
  margin-bottom: 2px;
}

.tip:last-child {
  margin-bottom: 0;
}
