@value smallRem from "../../../css/breakpoints.css";

.sidebarAndItemList {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: smallRem) {
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
