@import "stylesheets/variables";

.wrapper {
  width: 100%;
  background-color: $warmerBackgroundColor;
  box-shadow: inset 0 -0.075rem 0.075rem 0 rgba(0, 0, 0, 0.03);
}

.resultsCount {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;

  @media (min-width: $smallRem) {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: normal;
  }
}

.resultsCountQueryText {
  font-weight: bold;
}

.resultsCountQuery {
  display: none;

  @media (min-width: $smallRem) {
    display: inline-block;
  }
}

.optionsBar {
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media (min-width: $smallRem) {
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 1rem;
  }
}

.resultsAndFilter {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 0.075rem solid rgba(0, 0, 0, 0.05);

  @media (min-width: $smallRem) {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.options {
  display: flex;

  @media (min-width: $smallRem) {
  }
}

.optionWrapper {
  display: inline-block;
  margin-left: 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  select {
    border: none;
  }
}

.optionHeader {
  color: $dimmedTextColor;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.0625;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.viewButtons {
  display: flex;
}

.gridViewButton, .listViewButton {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0.3rem;

  @media (min-width: $smallRem) {
    padding: 0.6rem;
  }
}

.listViewButton {
  border-radius: 0.25rem 0 0 0.25rem;
}

.gridViewButton {
  border-radius: 0 0.25rem 0.25rem 0;
}

.viewButtonInactive.gridViewButton {
  box-shadow: 0 -0.075rem 0.15rem 0 $lightBorderColor;
}

.viewButtonInactive.listViewButton {
  box-shadow: 0 -0.075rem 0.15rem 0 $lightBorderColor;
}

.viewButtonActive {
  cursor: default;
  background-color: #ebe9e8;
}

.viewButtonActive .viewButtonIcon {
  opacity: 0.45;
}

.viewButtonIcon {
  height: 18px;
}

.pageNumber {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: $dimmedTextColor;

  @media (min-width: $smallRem) {
    display: none;
  }
}

.toggleFilters {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;

  @media (min-width: $smallRem) {
    display: none;
  }
}

.filtersButtonChevron {
  height: 1.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  transform: rotate(90deg);
}

.showFilters .filtersButtonChevron {
  transform: rotate(-90deg);
}

.activeFacetCount {
  display: none;
}

@media (max-width: $smallRem) {
  .withActiveFacets {
    color: $paginationLinkColor;

    & .filtersButtonChevron {
      & path {
        fill: $paginationLinkColor;
      }
    }
  }

  .activeFacetCount {
    display: inline-block;
    margin-left: 0.15rem;
  }
}
