@value warmerBackgroundColor, dimmedTextColor, cascadeBlue from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";
@value sansFont from "../../../css/typography.css";

.wrapper {
  width: 100%;
  background-color: #E3E1DB;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);

  @media (min-width: smallRem) {
    background-color: warmerBackgroundColor;
  }
}

.optionsBar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  @media (min-width: smallRem) {
    padding: 0.75rem 1rem;
  }
}

.sortBy :global(.Select-control) {
  width: 11rem;
}

.itemsPerPage :global(.Select-control) {
  width: 6rem;
}

.resultsCount {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
  @media (min-width: smallRem) {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: normal;
  }
}

.resultsCountQueryText {
  font-weight: bold;
}

.resultsCountQuery {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
  }
}

.select {
  display: inline-block;
}

.select :global(.Select-control) {
  height: 32px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  border: none;
  margin-right: 14px;
}

.select :global(.Select-arrow) {
  border-color: black transparent transparent;
  border-width: 7px 7px 1.5px;
  position: relative;
  right: 5px;
}

.sortSelect :global(.Select-control) {
  width: 204px;
}

.sortSelect :global(.Select-menu-outer) {
  width: 204px;
}

.options {
  margin-left: auto;
  display: none;
  @media (min-width: smallRem) {
    display: flex;
  }
}

.optionWrapper {
  display: inline-block;
}

.optionHeader {
  font-size: 0.8125rem;
  line-height: 1.0625;
  color: dimmedTextColor;
  font-weight: normal;
  margin-bottom: 5px;
}

.viewButtons {
  align-self: flex-end;
  margin-bottom: 3px;
}

.gridViewButton {
  border-radius: 2px 0 0 2px;
  padding: 7px 7px 5px;
  transform: rotate(180deg);
  background-color: white;
  display: inline-block;
}

.listViewButton {
  border-radius: 0 2px 2px 0;
  padding: 7px 7px 5px;
  transform: rotate(180deg);
  background-color: white;
  display: inline-block;
}

.viewButtonInactive.gridViewButton {
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

.viewButtonInactive.listViewButton {
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

.viewButtonActive {
  cursor: default;
  background-color: #ebe9e8;
}

.viewButtonActive .viewButtonIcon {
  opacity: 0.45;
}

.viewButtonIcon {
  height: 18px;
}

.pageNumber {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  @media (min-width: smallRem) {
    display: none;
  }
}

.toggleFilters {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
  @media (min-width: smallRem) {
    display: none;
  }
}

.filtersButtonChevron {
  height: 1.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  transform: rotate(90deg);
}

.showFilters .filtersButtonChevron {
  transform: rotate(-90deg);
}

.activeFacetCount {
  display: none;
}
@media (max-width: smallRem) {
  .withActiveFacets {
    color: cascadeBlue;
    & .filtersButtonChevron {
      & path {
        fill: cascadeBlue;
      }
    }
  }

  .activeFacetCount {
    display: inline-block;
    margin-left: 0.15rem;
  }
}
