$njdeDarkBlue: #002B67;
$njdeOrange: #EF7100;
$theme-main-color: lighten($njdeDarkBlue, 10%);
$theme-dark-color: darken($njdeDarkBlue, 10%);
$theme-link-color: darken($njdeOrange, 5%);
$theme-background-color: lighten($njdeDarkBlue, 74%);
$theme-colder-tint: lighten(#eee, 99%); //rgb(245, 245, 245);
$theme-warmer-tint: #fee; //#fff; //desaturate(change-color($theme-main-color, $lightness: 99%), 99%);

$heroBackgroundColor: lighten($njdeOrange, 50%) !important;

.homeLogo {
  .localLogo {
    max-width: 25rem !important;
  }
}

$linkColor: $theme-link-color;
$linkHoverColor: brighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
$headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
$mobileNavColor: mix($theme-dark-color, $theme-main-color);
$mobileNavMenuButtonOpen: lighten($theme-dark-color, 5%);
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $theme-dark-color;
$secondaryBulletColor: $theme-dark-color;
$darkSecondaryButtonColor: mix($theme-dark-color, $theme-main-color);
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 50%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
$subLinkColor: $linkColor;
$subLinkColorHover: darken($linkColor, 10%);
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: $mobileNavColor;
$outlineColor: lighten($linkColor, 10%);
