@import "stylesheets/variables";

$borderWidth: 0.15rem;
$borderRadius: ($borderWidth * 2);
$padding: 1rem;

.buttonBase {
  border-radius: $borderRadius;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  padding: ($padding * 0.5) $padding;
  transition: background-color 0.15s ease-out;
  white-space: nowrap;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

/* Types */

.buttonPrimary, .buttonPrimary:visited {
  color: white;
  background-color: $linkColor;

  &:hover {
    background-color: $linkHoverColor;
  }
}

.buttonSecondary, .buttonSecondary:visited {
  color: white;
  background-color: $secondaryButtonColor;

  &:hover {
    background-color: $darkSecondaryButtonColor;
  }
}

.buttonGhost {
  color: $donateFormButtonColor;
  background-color: $colderBackgroundColor;
  border: $borderWidth solid white;
  padding: ($padding * 0.5) $padding;

  &:hover {
    background-color: white;
  }
}

.buttonDonate {
  color: $donateFormButtonColor;
  background-color: $colderBackgroundColor;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem 2rem;

  &.buttonLarge {
    font-size: 1rem;
  }

  &.active, &:hover {
    background-color: $donateFormButtonColor;
    color: $colderBackgroundColor;
  }

  &:active {
    background-color: $donateFormButtonColor;
    color: $colderBackgroundColor;
  }
}

/* Sizes */

.buttonLarge {
  font-size: 1rem;
  padding: 0.75rem 2rem;

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }
}

.buttonMedium {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
