@value cascadeBlue, iceBlue, bambooOrange from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";


.buttonBase {
  display: block;
  font-weight: 600;
  border-radius: 2px;
  font-size: 1rem;
  padding: .75rem 2rem;
}

/* Types */

.buttonPrimary {
  color: white;
  background-color: bambooOrange;
  transition: background-color .15s ease-out;

  &:hover {
    background-color: #CD570A;
  }
}

/* Sizes */

.buttonLarge {
  font-size: 1rem;
  padding: .75rem 2rem;

  @media (min-width: mediumRem) {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }
}
