@value colderBackgroundColor, black80, donateFormButtonColor, linkColor from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.buttonBase {
  font-weight: 600;
  border-radius: 2px;
  font-size: 1rem;
  padding: .75rem 2rem;
  transition: background-color .15s ease-out;
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

/* Types */

.buttonPrimary, .buttonPrimary:visited {
  color: white;
  background-color: linkColor;

  &:hover {
    background-color: #CD570A;
  }
}

.buttonSecondary, .buttonSecondary:visited {
  color: white;
  background-color: black;

  &:hover {
    background-color: black80;
  }
}

.buttonGhost {
  color: donateFormButtonColor;
  background-color: colderBackgroundColor;

  &:hover {
    background-color: colderBackgroundColor;
  }
}

.buttonDonate {
  color: donateFormButtonColor;
  background-color: colderBackgroundColor;
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  &.buttonLarge {
    font-size: 1rem;
    padding: .75rem 2rem;
  }

  &.active, &:hover {
    background-color: donateFormButtonColor;
    color: colderBackgroundColor;
  }

  &:active {
    background-color: donateFormButtonColor;
    color: colderBackgroundColor;
  }
}

/* Sizes */

.buttonLarge {
  font-size: 1rem;
  padding: .75rem 2rem;

  @media (min-width: mediumRem) {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }
}
