@import "stylesheets/colors";
@import "stylesheets/breakpoints";

.buttonBase {
  font-weight: normal;
  border-radius: 2px;
  font-size: 1rem;
  padding: .5rem 1rem;
  transition: background-color .15s ease-out;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

/* Types */

.buttonPrimary, .buttonPrimary:visited {
  color: white;
  background-color: $linkColor;

  &:hover {
    background-color: $linkHoverColor;
  }
}

.buttonSecondary, .buttonSecondary:visited {
  color: white;
  background-color: $secondaryButtonColor;

  &:hover {
    background-color: $darkSecondaryButtonColor;
  }
}

.buttonGhost {
  color: $donateFormButtonColor;
  background-color: $colderBackgroundColor;

  &:hover {
    background-color: $colderBackgroundColor;
  }
}

.buttonDonate {
  color: $donateFormButtonColor;
  background-color: $colderBackgroundColor;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .75rem 2rem;

  &.buttonLarge {
    font-size: 1rem;
  }

  &.active, &:hover {
    background-color: $donateFormButtonColor;
    color: $colderBackgroundColor;
  }

  &:active {
    background-color: $donateFormButtonColor;
    color: $colderBackgroundColor;
  }
}

/* Sizes */

.buttonLarge {
  font-size: 1rem;
  padding: .75rem 2rem;

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }
}

.buttonMedium {
  font-size: 1rem;
  padding: .5rem .75rem;
}
