@import "stylesheets/breakpoints.module";

.sidebar {
  width: 100%;
  padding: 0 1rem;

  @media (min-width: $smallRem) {
    width: 300px;
    padding: 0;
    margin-right: 20px;
  }
}

.subtopicInfo {
  background-color: var(--warmerBackgroundColor);
  margin-bottom: 30px;
}

.subtopicInfoText {
  padding: 0 27px 30px;
}

.image {
  border-bottom: 4px solid var(--lightLinkColor);
  margin-bottom: 15px;
  width: 100%;
}

.title {
  font-family: var(--serifFont), serif;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 10px;
  font-weight: normal;
}

.relatedResources {
  display: flex;
}

.relatedHeader {
  font-size: 1.125rem;
  line-height: 1.4375;
  margin-bottom: 15px;
}

.relatedResource {
  margin-right: 7px;
  flex: 1;
}

.relatedResource:last-child {
  margin-right: 0;
}

.relatedResourceType {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.9375;
}

.relatedResourceTitle {
  font-size: 0.875rem;
  line-height: 0.9375;
}

.relatedResourceImage {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
}
