@value colors: "../../../../../../../../css/colors.css";
@value black, white, visualBrown, casablancaOrange from colors;

.itemListHeader {
  display: flex;
}

.viewButtons {
  margin-left: auto;
}

.viewButton {
  display: inline-block;
}
