@value colors: "shared/colors.css";
@value white, bambooOrange, mysticGray, elephantBlue, vikingBlue, white50 from colors;
@value breakpoints: "shared/breakpoints.css";
@value smallRem, mediumRem from breakpoints;

/* TODO this needs to be an actual image at some point */
.home {
  background-color: rgb(47, 74, 87);
  color: white;
  padding: 42px 25px 132px;
}

@media (min-width: smallRem) {
  .onlineExhibitions {
    padding: 42px 50px 132px;
  }
}

@media (min-width: mediumRem) {
  .home {
    padding: 42px 0 77px;
  }
}

.dplaLogo {
  width: 300px;
}

@media (min-width: smallRem) {
  .dplaLogo {
    width: 404px;
  }
}

.content {
  max-width: 673px;
  margin: auto;
}

.text {
  font-size: 1.5625rem;
  line-height: 1.75rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Source Serif Pro';
  margin-bottom: 40px;
}

@media (min-width: smallRem) {
  .text {
    margin-bottom: 72px;
    font-size: 2.375rem;
    line-height: 2.5625rem;
  }
}

.donateButton {
  margin-left: auto;
  font-weight: 600;
  color: white;
  background-color: bambooOrange;
  border-radius: 2px;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  padding: 10px 44px;
}

@media (min-width: smallRem) {
  .donateButton {
    padding: 12px 48px;
  }
}

.logoAndDonate {
  display: flex;
  margin: 0 auto 62px;
  justify-content: space-between;
}

@media (min-width: mediumRem) {
  .logoAndDonate {
    padding: 0 70px;
  }
}

@media screen and (min-width: 1100px) {
  .logoAndDonate {
    padding: 0;
    max-width: 1024px;
  }
}

.chevron {
  height: 14px;
  margin-left: 9px;
  position: relative;
  top: 2px;
  transform: rotate(90deg);
  width: 8px;
}

.search {
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.searchInput {
  border: none;
  font-size: 1.375rem;
  line-height: 1.75rem;
  padding: 0 0 0 24px;
  height: 100%;
  border-radius: 3px 0 0 3px;
  flex-grow: 1;
}

.searchInput::placeholder {
  color: elephantBlue;
  opacity: 0.5;
}

.searchOptions {
  height: 100%;
  background-color: mysticGray;
  color: elephantBlue;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  display: flex;
  align-items: center;
  padding: 0 24px 0 22px;
}

.searchButton {
  height: 100%;
  background-color: vikingBlue;
  color: white;
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 1.8125rem;
  padding: 0 30px;
  border-radius: 0 3px 3px 0;
}

.searchIcon {
  transform: scaleX(-1);
  width: 23px;
  height: 23px;
  position: relative;
  top: 3px;
  margin-right: 8px;
}

.links {
  font-family: "Helvetica Neue";
  color: white50;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 323px;
}

.link {
  border-bottom: 1px solid;
  padding-bottom: 2px;
}
