@value visualBrown, vikingBlue, bambooOrange, visualBrown, rockBrown, pampasBrown from "../../../css/colors.css";

.exhibitionView {
  background-color: visualBrown;
  min-height: 100vh;
  padding-bottom: 7.125rem;
}

.exhibitionsLinkAndTitle {
  max-width: 90%;
}

.exhibitionsLink {
  color: bambooOrange;
  border-bottom: 1px solid bambooOrange;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;
}

.exhibitionTitle {
  font-family: "Lora";
  font-size: 2.625rem;
  line-height: 3.1875rem;
  font-weight: normal;
}

.sidebar {
  width: 197px;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.sidebarSections {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 13px;
}

.sectionTitle {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 9px;
  display: inline-block;
}

.subsectionTitle {
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 16px;
  color: #6D6D6D;
  margin-bottom: 6px;
  position: relative;
}

.active {
  font-weight: 600;
  color: black;
}

.subsectionTitle.active::before {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background-color: bambooOrange;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
}

.subsectionTitle:last-child {
  margin-bottom: 9px;
}

.body {
  display: flex;
  max-width: 1200px;
}

.footerWrapper {
  background-color: #e4e2db;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.header {
  padding-bottom: 1.75rem;
  max-width: 1200px;
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.closeExhibition {
  font-weight: 600;
  font-size: 1.125rem;
  flex-shrink: 0;
}

.closeIcon {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  box-sizing: border-box;
  position: relative;
  top: 4px;
  margin-right: 0.5rem;
}

.footerNav {
  display: flex;
  padding: 0.75rem 0;
  max-width: 1200px;
}

.navButtons {
  margin-left: auto;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dplaLogo {
  max-width: 275px;
  opacity: 0.5;
}

.nextButton, .prevButton {
  background-color: bambooOrange;
  color: white;
  width: 158px;
  padding: 9px 0 12px 0;
  border-radius: 2px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  display: block;
}

.nextButtonAndTitleWrapper {
  position: relative;
}

.nextSubsectionTitle {
  opacity: 0.75;
  font-size: 0.875rem;
  position: absolute;
  top: -1.5rem;
  max-width: 158px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.disabledButton {
  background-color: rgba(0,0,0,0.1);
  color: black;
  opacity: .5;
}

.prevButton {
  margin-right: 18px;
}

.previousChevron {
  transform: rotate(180deg);
  margin-right: 0.75rem;
}

.nextChevron {
  margin-left: 0.75rem;
}

.previousChevron, .nextChevron {
  position: relative;
  top: 1px;
  height: 14px;
  width: 8px;
}

.disabledButton {
  cursor: not-allowed;
}

.breadcrumbs {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sectionBreadcrumb {
  font-weight: 600;
}

.breadcrumbChevron {
  opacity: 0.35;
  margin: 0 1rem;
  height: 14px;
  width: 8px;
}

.viewerContent {
  display: flex;
}

.mediaAndCaption {
  flex: 2;
  margin-right: 1.25rem;
}

.text {
  flex: 1;
  font-size: 1rem;
  max-height: 600px;
  flex-shrink: 0;
  overflow-y: scroll;
}

.text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.mainMedia {
  margin-right: auto;
  margin-bottom: 1.75rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #e4e2db;
}

.caption {
  font-style: italic;
  font-size: 0.875rem;
  max-width: 90%;
}

.itemLinks {
  display: flex;
  margin-bottom: 1rem;
}

.itemLink {
  width: 58px;
  height: 58px;
  display: block;
  margin-right: 0.75rem;
}

.itemLinkImage {
  width: 100%;
  height: 100%;
}

.activeItemLink {
  border: 6px solid vikingBlue;
  position: relative;
}

.activeItemLink::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #5ab4dc;
  top: -16px;
  left: 8px;
}
