@value linkColor, dimmedTextColor, outlineColor, warmerBackgroundColor, secondaryButtonColor, mobileNavColor, lightLinkColor from "../../../css/colors.css";
@value smallRem, mediumRem, mediumPlusRem, xLargeRem from "../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../css/typography.css";

.exhibitionView {
  background-color: warmerBackgroundColor;
}

.exhibitionsLinkAndTitle {
  max-width: 90%;
}

.exhibitionsLink, .exhibitionsLink:visited {
  color: lightLinkColor;
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;

  @media (min-width: smallRem) {
    color: linkColor;
    text-decoration: none;
    font-size: 1rem;
  }
}

.exhibitionTitle {
  font-family: serifFont;
  font-weight: normal;
  margin-top: .5rem;
  font-size: 1.5rem;
  color: white;

  @media (min-width: smallRem) {
    font-size: 1.5rem;
    color: black;
  }

  @media (min-width: mediumPlusRem) {
    font-size: 2.15rem;
  }
}

.menuButtonAndBreadcrumbs, .menuHeader {
  align-items: center;
}

.menuButtonAndBreadcrumbs {
  display: flex;
  border-bottom: 0.05rem solid black;

  @media (min-width: smallRem) {
    display: none;
  }
}

.openMenu .menuHeader {
  display: flex;
  @media (min-width: smallRem) {
    display: none;
  }
}

.menuButton {
  background-color: rgba(0, 0, 0, 0.12);
  width: 3rem;
  height: 3rem;
  display: flex;
  text-transform: uppercase;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: 0;
  
  @media (min-width: mediumRem) {
    display: none;
  }
}

.breadcrumbSubsection {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.closeMenuButton {
  background-color: rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

.menuHeader {
  display: none;
  background-color: linkColor;
}

.closeMenuButtonIcon {
  width: 1rem;
  height: 1rem;
}

.menuHeaderText {
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
}

.sidebar {
  width: 11rem;
  margin-right: 1.25rem;
  flex-shrink: 0;
  display: block;
  max-height: 0;
  transition: all 0.2s ease-in-out;
  
  & a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: smallRem) {
    padding: 0 1rem;
    width: auto;
    visibility: hidden;
  }
  
  &.overlayActive {
    max-height: 20rem;
    padding: 1rem;
    visibility: visible;

    @media (max-width: smallRem) {
      display: block;
      background-color: warmerBackgroundColor;
    }
  }
}


.sidebarSections {
  padding-bottom: 20px;
  margin-bottom: 13px;

  @media (max-width: smallRem) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.sectionTitle, .sectionTitle:visited {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 9px;
  display: inline-block;
  color: black;
}

.subsectionTitle {
  font-size: 1rem;
  line-height: 1.2;
  padding-left: 16px;
  margin-bottom: 6px;
  position: relative;

  &, & a {
    color: dimmedTextColor;
  }
}

.active {
  font-weight: 600;
  color: black;
}

.subsectionTitle.active::before {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background-color: linkColor;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
}

.subsectionTitle:last-child {
  margin-bottom: 9px;
}

.body {
  display: flex;
  padding: 0 0 3rem;

  @media (max-width: mediumRem) {
    flex-direction: column;
  }

  @media (min-width: smallRem) {
    padding: 0 1rem 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: xLargeRem) {
    max-width: 80rem;
    padding: 0;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;

  @media (max-width: smallRem) {
    flex-direction: column;
  }
}

.footerWrapper {
  background-color: rgba(228, 226, 219, 0.98);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 4rem;
}

.header {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: mobileNavColor;

  @media (min-width: smallRem) {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: inherit;
  }

  @media (min-width: xLargeRem) {
    max-width: 80rem;
  }
}

.closeExhibition {
  font-weight: 600;
  font-size: 1.125rem;
  flex-shrink: 0;
  color: black;
}

.closeExhibitionText {
  display: none;
  @media (min-width: smallRem) {
    display: inline;
  }
}

.closeIcon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  top: 4px;
  height: 22px;
  width: 22px;
  margin-right: 0.5rem;

  @media (min-width: smallRem) {
    height: 19px;
    width: 19px;
    background-color: black;
  }
}

.closeIconX {
  fill: mobileNavColor;
  @media (min-width: smallRem) {
    fill: white;
  }
}

.footerNav {
  display: flex;
  padding: 0;

  @media (min-width: smallRem) {
    padding: 1rem;
  }

  @media (min-width: xLargeRem) {
    max-width: 80rem;
  }
}

.navButtons {
  align-items: center;
  display: flex;
  width: 100%;
  align-items: center;

  @media (min-width: smallRem) {
    width: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
}

.dplaLogo {
  display: none;
  cursor: pointer;

  @media (min-width: smallRem) {
    display: inline-block;
    max-width: 200px;
    opacity: 0.5;
  }

  @media (min-width: mediumPlusRem) {
    max-width: 275px;
  }
}

.nextButton, .prevButton {
  flex-shrink: 0;
  flex: 1;
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  display: block;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: smallRem) {
    padding: 9px 0 12px 0;
    width: 158px;
    font-size: 1.25rem;
    border-radius: 2px;
  }
}

.nextButtonAndTitleWrapper {
  position: relative;
  flex: 1;
}

.nextSubsectionTitle {
  display: none;

  @media (min-width: smallRem) {
    display: inline-block;
    opacity: 0.75;
    font-size: 0.875rem;
    position: absolute;
    top: -1.5rem;
    max-width: 158px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.disabledButton {
  color: black;
  opacity: .5;
}

.prevButton, .prevButton:visited {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;

  @media (min-width: smallRem) {
    margin-right: 18px;
  }
}

.nextButton, .nextButton:visited {
  background-color: linkColor;
  color: white;
}

.previousChevron {
  transform: rotate(180deg);
  margin-right: 0.75rem;
}

.nextChevron {
  margin-left: 0.75rem;
}

.previousChevron, .nextChevron {
  position: relative;
  height: 12px;
  width: 7px;
  top: 1px;

  @media (min-width: smallRem) {
    height: 14px;
    width: 8px;
  }
}

.disabledButton {
  cursor: not-allowed;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;

  @media (min-width: smallRem) {
    font-size: 1.25rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.titleSubsection {
  font-weight: 600;
  margin: 0 0.5rem 0.5rem;

  @media (max-width: smallRem) {
    display: none;
  }
}

.viewerContent {
  display: flex;
  flex-direction: column;

  @media (min-width: mediumPlusRem) {
    flex-direction: row;
  }
}

.mediaAndCaption {
  flex: 2;

  @media (min-width: smallRem) {
    margin-right: 1.25rem;
  }
}

.text {
  flex: 1;
  font-size: 0.875rem;
  flex-shrink: 0;
  padding: 0 1rem;

  @media (min-width: smallRem) {
    font-size: .95rem;
    padding: 0;
  }

  & h1, & h2 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }
}

.text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.mainMedia {
  position: relative;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #e4e2db;
  margin-bottom: 0.5rem;

  &:focus {
    outline: 0.25rem solid outlineColor;
  }

  & :global(#openseadragon1) {
    height: 15rem;
  }

  @media (min-width: smallRem) {
    margin-bottom: 1.25rem;

    & :global(#openseadragon1) {
      height: 24rem;
    }
  }
}

.caption {
  font-style: italic;
  font-size: 0.875rem;
  max-width: 90%;
  margin: 0 1rem 0.75rem;
  padding-left: 0.5rem;
  border-left: 1px solid #DE630B;

  @media (min-width: smallRem) {
    margin: 0 0 0.75rem;
    padding-left: 0;
    border-left: 0;
  }
}

.itemLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  @media (min-width: smallRem) {
    justify-content: flex-start;
  }
}

.itemLink {
  width: 0.375rem;
  height: 0.375rem;
  background-color: rgba(88, 79, 65, 0.4);
  border-radius: 50%;
  display: block;
  margin-right: 0.25rem;

  @media (min-width: smallRem) {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 0;
    background-color: inherit;
    margin-right: 0.5rem;
  }
}

.itemLink img {
  display: none;

  @media (min-width: smallRem) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.activeItemLink {
  background-color: linkColor;

  @media (min-width: smallRem) {
    background-color: inherit;
    border: 4px solid secondaryButtonColor;
    position: relative;
  }
}

.activeItemLink::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: .8rem solid transparent;
  border-right: .8rem solid transparent;
  border-bottom: .65rem solid #5ab4dc;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.defaultItemImage {
  background-color: #e4e2db;
  & img {
    width: 50%;
    height: 50%;
  }
}

.viewItemLink {
  display: inline-block;
  margin-bottom: 0.5rem;

  @media (max-width: smallRem) {
    padding-left: 1rem;
  }
}

.previousItemButton, .nextItemButton {
  z-index: 1;
  position: absolute;
  top: 50%;
  padding: 1.5rem;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);

  & img {
    opacity: 0.5;
  }

  @media (min-width: smallRem) {
    display: none;
  }
}
.nextItemButton {
  right: 0;
}

.previousItemChevron {
  transform: rotate(180deg);
}
.nextItemChevron, .previousItemChevron {
  width: 1rem;
  height: 1.75rem;
}
