@value vikingBlue, elephantBlue, bambooOrange, visualBrown, rockBrown, pampasBrown from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.exhibitionView {
  background-color: visualBrown;
  min-height: 100vh;
  padding-bottom: 3rem;
  @media (min-width: smallRem) {
    padding-bottom: 7.125rem;
    padding-top: 2rem;
  }
}

.exhibitionsLinkAndTitle {
  max-width: 90%;
}

.exhibitionsLink {
  color: white;
  opacity: 0.5;
  border-bottom: 1px solid white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;
  @media (min-width: smallRem) {
    color: bambooOrange;
    font-size: 1rem;
    opacity: 1;
    border-bottom: 1px solid bambooOrange;
  }
}

.exhibitionTitle {
  font-family: "Lora";
  font-weight: normal;
  font-size: 1.125;
  color: white;
  @media (min-width: smallRem) {
    font-size: 2.625rem;
    color: black;
  }
}

.menuButtonAndBreadcrumbs {
  display: flex;
  align-items: center;
}

.menuButton {
  background-color: rgba(0, 0, 0, 0.12);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  @media (min-width: smallRem) {
    display: none;
  }
}

.menuButtonIcon {
  height: 0.875rem;
  width: 1.125rem;
}

.sidebar {
  display: none;
  @media (min-width: smallRem) {
    width: 197px;
    margin-right: 1.25rem;
    flex-shrink: 0;
    display: block;
  }
}

.sidebarSections {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 13px;
}

.sectionTitle {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 9px;
  display: inline-block;
}

.subsectionTitle {
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 16px;
  color: #6D6D6D;
  margin-bottom: 6px;
  position: relative;
}

.active {
  font-weight: 600;
  color: black;
}

.subsectionTitle.active::before {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background-color: bambooOrange;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
}

.subsectionTitle:last-child {
  margin-bottom: 9px;
}

.body {
  display: flex;
  max-width: 1200px;
  padding: 0 0 1rem;
  @media (min-width: smallRem) {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.footerWrapper {
  background-color: #e4e2db;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.header {
  max-width: 1200px;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: elephantBlue;
  @media (min-width: smallRem) {
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
    background-color: inherit;
  }
}

.closeExhibition {
  font-weight: 600;
  font-size: 1.125rem;
  flex-shrink: 0;
}

.closeExhibitionText {
  display: none;
  @media (min-width: smallRem) {
    display: inline;
  }
}

.closeIcon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  top: 4px;
  height: 22px;
  width: 22px;
  margin-right: 0.5rem;
  @media (min-width: smallRem) {
    height: 19px;
    width: 19px;
    background-color: black;
  }
}

.closeIconX {
  fill: elephantBlue;
  @media (min-width: smallRem) {
    fill: white;
  }
}

.footerNav {
  display: flex;
  padding: 0;
  @media (min-width: smallRem) {
    padding: 0.75rem;
    max-width: 1200px;
  }
}

.navButtons {
  align-items: center;
  display: flex;
  width: 100%;
  align-items: center;
  @media (min-width: smallRem) {
    width: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
}

.dplaLogo {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
    max-width: 275px;
    opacity: 0.5;
  }
}

.nextButton, .prevButton {
  background-color: bambooOrange;
  color: white;
  flex-shrink: 0;
  flex: 1;
  padding: 9px 0 12px 0;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  display: block;
  @media (min-width: smallRem) {
    width: 158px;
    border-radius: 2px;
  }
}

.nextButtonAndTitleWrapper {
  position: relative;
  flex: 1;
}

.nextSubsectionTitle {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
    opacity: 0.75;
    font-size: 0.875rem;
    position: absolute;
    top: -1.5rem;
    max-width: 158px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.disabledButton {
  background-color: rgba(0,0,0,0.1);
  color: black;
  opacity: .5;
}

.prevButton {
  @media (min-width: smallRem) {
    margin-right: 18px;
  }
}

.previousChevron {
  transform: rotate(180deg);
  margin-right: 0.75rem;
}

.nextChevron {
  margin-left: 0.75rem;
}

.previousChevron, .nextChevron {
  position: relative;
  top: 1px;
  height: 14px;
  width: 8px;
}

.disabledButton {
  cursor: not-allowed;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  @media (min-width: smallRem) {
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.sectionBreadcrumb {
  font-weight: 600;
  font-size: 1rem;
  @media (min-width: smallRem) {
    font-size: 1.5rem;
  }
}

.breadcrumbChevron {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
    opacity: 0.35;
    margin: 0 1rem;
    height: 14px;
    width: 8px;
  }
}

.viewerContent {
  display: flex;
  flex-direction: column;
  @media (min-width: smallRem) {
    flex-direction: row;
  }
}

.mediaAndCaption {
  flex: 2;
  @media (min-width: smallRem) {
    margin-right: 1.25rem;
  }
}

.text {
  flex: 1;
  max-height: 600px;
  font-size: 0.875rem;
  flex-shrink: 0;
  overflow-y: scroll;
  padding: 0 1rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
    padding: 0;
  }
}

.text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.mainMedia {
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #e4e2db;
  margin-bottom: 0.5rem;
  & :global(#openseadragon1) {
    height: 15rem;
  }
  @media (min-width: smallRem) {
    margin-bottom: 1.75rem;
    & :global(#openseadragon1) {
      height: 28rem;
    }
  }
}

.caption {
  font-style: italic;
  font-size: 0.875rem;
  max-width: 90%;
  margin: 0 1rem 0.75rem;
  padding-left: 0.5rem;
  border-left: 1px solid #DE630B;
  @media (min-width: smallRem) {
    margin: 0;
    padding-left: 0;
    border-left: 0;
  }
}

.itemLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  @media (min-width: smallRem) {
    justify-content: flex-start;
  }
}

.itemLink {
  width: 0.375rem;
  height: 0.375rem;
  background-color: rgba(88, 79, 65, 0.4);
  border-radius: 50%;
  display: block;
  margin-right: 0.25rem;
  @media (min-width: smallRem) {
    border-radius: 0;
    width: 58px;
    background-color: inherit;
    height: 58px;
    margin-right: 0.75rem;
  }
}

.itemLinkImage {
  display: none;
  @media (min-width: smallRem) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.activeItemLink {
  background-color: bambooOrange;
  @media (min-width: smallRem) {
    background-color: inherit;
    border: 6px solid vikingBlue;
    position: relative;
  }
}

.activeItemLink::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #5ab4dc;
  top: -16px;
  left: 8px;
}

.defaultItemImage {
  background-color: #e4e2db;
  & img {
    width: 50%;
    height: 50%;
  }
}
