@value colors: "../../../../colors.css";
@value romanceGray, elephantBlue, onionBrown, solitudeBlue, curiousBlue, black from colors;

.primarySourceSets {
  margin: auto;
  padding: 72px 70px 77px;
}

@media screen and (min-width: 1100px) {
  .primarySourceSets {
    padding: 72px 0 77px 0;
    max-width: 1024px;
  }
}

.wrapper {
  background-color: solitudeBlue;
}

.headerAndBrowse {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.browse {
  color: curiousBlue;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
}

.header {
  color: elephantBlue;
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  margin-bottom: 25px;
}

.items {
  display: flex;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.item:last-child {
  margin-right: 0;
}

.itemText {
  color: onionBrown;
  opacity: 0.8;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.itemImg {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  margin-bottom: 19px;
  max-width: calc(100% - 12px);
}

.prevArrow {
  position: absolute;
  left: -50px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  right: -50px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
}

/* react-slick style overrides */

.primarySourceSets :global(.slick-list) {
  padding: 0 6px;
}
