

$theme-main-color: #515151; //footer
$theme-dark-color: #1f1f1f; //header
$theme-link-color: #002d66; //button //0055d4 //47596d //002d66
$theme-background-color: #f9f6f0;
$theme-colder-tint: rgb(245, 245, 245);
$theme-warmer-tint: lighten($theme-main-color, 70%);

$linkColor: $theme-link-color;
$linkHoverColor: brighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
$headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
$mobileNavColor: mix($theme-dark-color, $theme-main-color);
$mobileNavMenuButtonOpen: lighten($theme-dark-color, 5%);
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
$darkSecondaryButtonColor: mix($theme-dark-color, $theme-main-color);
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 25%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
$subLinkColor: $linkColor;
$subLinkColorHover: darken($linkColor, 10%);
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: $mobileNavColor;

.homeLogo {
  max-width: 64rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50% !important;

  .localLogo {
    //height: 437px !important;
    //width: 690px !important;
    margin-left: 2rem;
    max-width: 64rem !important;
    height: 15rem;
  }

}

div.links {
  visibility: hidden !important;
}