@value colors: "css/colors.css";
@value romanceGray, elephantBlue, onionBrown, solitudeBlue, curiousBlue, black from colors;
@value breakpoints: "css/breakpoints.css";
@value smallRem, mediumRem from breakpoints;

.primarySourceSets {
  margin: auto;
  padding: 45px 25px 55px;
}

@media (min-width: smallRem) {
  .primarySourceSets {
    padding: 45px 50px 55px;
  }
}

@media (min-width: mediumRem) {
  .primarySourceSets {
    padding: 72px 70px 77px;
  }
}

@media screen and (min-width: 1100px) {
  .primarySourceSets {
    padding: 72px 0 77px 0;
    max-width: 1024px;
  }
}

.wrapper {
  background-color: solitudeBlue;
}

.headerAndBrowse {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 23px;
}

@media (min-width: smallRem) {
  .headerAndBrowse {
    flex-direction: row;
  }
}

.browse {
  color: curiousBlue;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
}

.header {
  font-family: "Lora";
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.8125rem;
}

.items {
  display: flex;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.item:last-child {
  margin-right: 0;
}

.itemText {
  color: black;
  opacity: 0.75;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.itemImg {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  margin-bottom: 19px;
  width: calc(100% - 12px);
}

@media (min-width: smallRem) {
  .itemImg {
    max-width: calc(100% - 12px);
  }
}

.prevArrow {
  position: absolute;
  left: -50px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  right: -50px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
}

.nextChevron {
  width: 25px;
  height: 48px;
}

.backChevron {
  width: 25px;
  height: 48px;
  transform: rotate(180deg);
}

.smallChevron {
  width: 8px;
  height: 14px;
  position: relative;
  top: 2px;
  padding-left: 7px;
}

/* react-slick style overrides */

.primarySourceSets :global(.slick-list) {
  padding: 0 6px;
}

.primarySourceSets :global(.slick-next),
.primarySourceSets :global(.slick-prev) {
  position: static;
}
