---

files:
    # The stock Elastic Beanstalk Nginx configuration, with modifications
    "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            map $http_upgrade $connection_upgrade {
                default        "upgrade";
                ""            "";
            }
            server {
                listen 80 default;    # "default" added by DPLA
                gzip on;
                gzip_comp_level 4;
                gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
                if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
                    set $year $1;
                    set $month $2;
                    set $day $3;
                    set $hour $4;
                }
                access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
                access_log    /var/log/nginx/access.log;
                location / {
                    proxy_pass            http://docker;
                    proxy_http_version    1.1;
                    proxy_set_header      Connection $connection_upgrade;
                    proxy_set_header      Upgrade    $http_upgrade;
                    proxy_set_header      Host       $host;
                    proxy_set_header      X-Real-IP  $remote_addr;
                    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;

                    #
                    # REDIRECTS
                    #
                    # ... Pro site:
                    #
                    # Pro Site > Community Reps
                    # rewrite ^/info/get-involved/reps/community-reps-meet-the-reps # Pro Site > Community Reps > Meet the Reps
                    # rewrite ^/info/get-involved/reps/outreach-materials  # Pro Site > Community Reps > Outreach Materials
                    # rewrite ^/reps ...  # Pro Site > Community Reps
                    # rewrite ^/info/get-involved/reps ...  # Pro Site > Community Reps
                    #
                    # Pro Site > Hub Network > Metadata Application Profile ...
                    # rewrite ^/about/map ...
                    # rewrite ^/about/schema ....
                    # rewrite ^/info/map ...
                    # rewrite ^/info/developers/map ...
                    #
                    # Pro Site > Developers ...
                    # rewrite ^/platform ...  # Pro Site > Developers > API Codex
                    # rewrite ^/info/developers/codex ...  # Pro Site > Developers > API Codex
                    # rewrite ^/info/developers/download ... # Pro Site > Developers > Bulk Download
                    # rewrite ^/info/developers/ideas-and-projects ... # Pro Site > Developers
                    # rewrite ^/info/developers/sample-code-and-libraries  # Pro Site > Developers > Sample code and libraries
                    # rewrite ^/info/developers ...  # Pro Site > Developers
                    #
                    # Pro Site > Education
                    # rewrite ^/info/education/education-collaborations # Pro Site > Education
                    # rewrite ^/info/about/projects/investigating-educational-uses # Pro Site > Education
                    # rewrite ^/info/education/education-advisory-committee # Pro Site > Education > Education Advisory Committee
                    # rewrite ^/info/education/education-promotion # Pro Site > Education > Education Promotion
                    # rewrite ^/info/education/national-history-day # Pro Site > Education > National History Day
                    # rewrite ^/education ...  # Pro Site > Education
                    # rewrite ^/info/education ... # Pro Site > Education
                    #
                    # Pro Site > Grant projects
                    # rewrite ^/info/about/projects/getting-it-right-on-rights ... # Pro Site > Grant Projects > Getting it Right on Rights
                    #
                    # Pro Site > Ebooks
                    # rewrite ^/info/get-involved/dpla-ebooks/dpla-collection-curation-corps ... # Pro Site > Ebooks > Curation Corps
                    rewrite ^/info/get-involved/dpla-ebooks/open-ebooks http://www.openebooks.net/ permanent;
                    # rewrite ^/info/get-involved/dpla-ebooks/?$ ... Pro Site > Ebooks
                    #
                    # Pro Site > Events > DPLAfest
                    # rewrite ^/info/get-involved/dplafest/?$  # Pro Site > Events > DPLAfest
                    # rewrite ^/info/get-involved/dplafest/.+  # Pro Site > Events > DPLAfest > Past DPLAfests
                    #
                    # rewrite ^/info/gif-it-up ... # Pro Site > Events > GIF IT UP
                    # rewrite ^/info/get-involved/groups  # Pro Site main page
                    # rewrite ^/info/get-involved/workshops  # Pro Site > Events > Workshops
                    # rewrite ^/info/contact/jobs ...  # Pro Site > About > Jobs
                    # rewrite ^/info/about/projects/public-library-partnerships # Pro Site > Grant Projects > PLPP
                    # rewrite ^/info/about/funding ... # Pro Site > About > Funding
                    # rewrite ^/info/about/history ... # Pro Site > About > History
                    # rewrite ^/info/about/projects ... # Pro Site main page
                    # rewrite ^/info/about/staff ...   # Pro Site > About > Staff
                    # rewrite ^/info/about/strategic-plan ... # Pro Site > About > Strategic Plan
                    # rewrite ^/info/about/values     # Pro Site > About > Our Values
                    # rewrite ^/info/get-involved ...  # Pro Site main page
                    # rewrite ^/apps ...               # Pro Site > Developers > Apps

                    rewrite ^/info/get-involved/follow /contact permanent;
                    rewrite ^/info/about/awards / permanent;
                    rewrite ^/info/contact /contact permanent;
                    # rewrite ^/info/about/leadership-transition ... # [Blog search /info/category/executive-director-search/]
                    rewrite ^/info/about/policies /terms-conditions permanent;
                    rewrite ^/info/donate /donate permanent;
                    rewrite ^/info/get-involved/shop / permanent;
                    rewrite ^/info/help/browse /browse-by-topic permanent;
                    rewrite ^/info/help/family-research-at-dpla /guides/the-family-research-guide-to-dpla permanent;
                    rewrite ^/info/help/faq /frequently-asked-questions permanent;
                    rewrite ^/info/help /guides permanent;
                    rewrite ^/info/news/press / permanent;
                    rewrite ^/info/terms/privacy /terms-conditions/privacy-policy permanent;
                    rewrite ^/info/?$ /about permanent;

                    rewrite ^/map / permanent;
                    rewrite ^/partners /browse-by-partner permanent;
                    rewrite ^/subjects / permanent;
                    rewrite ^/timeline / permanent;

                    location /info/help/accounts {
                        return 410;
                    }
                    location /info/help/glossary {
                        return 410;
                    }
                    location /info/author {
                        return 410;
                    }
                    location /users/sign {  # sign_in and sign_up
                        return 410;
                    }

                }
            }

    "/etc/nginx/sites-enabled/www-redirect.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            server {
                listen 80;
                server_name ~^www\.(?<domain>.+)$;
                return 301 $http_x_forwarded_proto://$domain$uri;
            }
