---

files:
    # The stock Elastic Beanstalk Nginx configuration, with modifications
    "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            map $http_upgrade $connection_upgrade {
                default        "upgrade";
                ""            "";
            }
            server {
                listen 80 default;    # "default" added by DPLA
                gzip on;
                gzip_comp_level 4;
                # Note that gzip_types text/html is already specified in the
                # including file...
                gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
                if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
                    set $year $1;
                    set $month $2;
                    set $day $3;
                    set $hour $4;
                }
                access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
                access_log    /var/log/nginx/access.log;
                location / {
                    proxy_pass            http://docker;
                    proxy_http_version    1.1;
                    proxy_set_header      Connection $connection_upgrade;
                    proxy_set_header      Upgrade    $http_upgrade;
                    proxy_set_header      Host       $host;
                    proxy_set_header      X-Real-IP  $remote_addr;
                    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
                    proxy_hide_header     ETag;
                    proxy_hide_header     X-Powered-By;

                    #
                    # REDIRECTS
                    #

                    # ... Pro site:
                    #
                    # Pro Site > Community Reps
                    rewrite ^/info/get-involved/reps/community-reps-meet-the-reps https://pro.dp.la/community-reps/meet-the-reps permanent;
                    rewrite ^/info/get-involved/reps/outreach-materials  https://pro.dp.la/community-reps/outreach-materials permanent;
                    rewrite ^/reps https://pro.dp.la/community-reps permanent;
                    rewrite ^/info/get-involved/reps/?$ https://pro.dp.la/community-reps permanent;
                    #
                    # Pro Site > Hubs
                    rewrite ^/info/hubs/?$ https://pro.dp.la/hubs permanent;
                    rewrite ^/info/hubs/become-a-hub/?$ https://pro.dp.la/prospective-hubs/become-a-hub permanent;
                    rewrite ^/info/hubs/hub-network-members/?$ https://pro.dp.la/hubs/dpla-member-hubs permanent;
                    rewrite ^/info/hubs/membership-program/?$ https://pro.dp.la/hubs/membership-program permanent;
                    rewrite ^/info/hubs/membership-program/2018-annual-dpla-network-membership-meeting/?$ https://pro.dp.la/hubs/members-meeting permanent;
                    rewrite ^/info/hubs/membership-program/2018-annual-dpla-network-membership-meeting/program https://pro.dp.la/hubs/meeting-program permanent;
                    rewrite ^/info/hubs/membership-program/2018-annual-dpla-network-membership-meeting/registration https://pro.dp.la/hubs/registration permanent;
                    rewrite ^/info/hubs/membership-program/2018-annual-dpla-network-membership-meeting/travel-and-meeting-logistics https://pro.dp.la/hubs/travel-and-meeting-logistics permanent;
                    rewrite ^/info/hubs/membership-program/2018-annual-dpla-network-membership-meeting/faq https://pro.dp.la/hubs/frequently-asked-questions-faq permanent;

                    # Pro Site > Hub Network > Metadata Application Profile ...
                    rewrite ^/about/map https://pro.dp.la/hubs/metadata-application-profile permanent;
                    rewrite ^/about/schema https://pro.dp.la/hubs/metadata-application-profile permanent;
                    rewrite ^/info/map https://pro.dp.la/hubs/metadata-application-profile permanent;
                    rewrite ^/info/developers/map https://pro.dp.la/hubs/metadata-application-profile permanent;
                    #
                    # Pro Site > Developers ...
                    rewrite ^/platform/?$ https://pro.dp.la/developers/api-codex permanent;
                    rewrite ^/info/developers/codex https://pro.dp.la/developers/api-codex permanent;
                    rewrite ^/info/developers/download https://pro.dp.la/developers/bulk-download permanent;
                    rewrite ^/info/developers/ideas-and-projects https://pro.dp.la/developers permanent;
                    rewrite ^/info/developers/sample-code-and-libraries  https://pro.dp.la/developers/sample-code-libraries permanent;
                    rewrite ^/info/developers/?$ https://pro.dp.la/developers permanent;
                    #
                    # Pro Site > Education
                    rewrite ^/info/education/education-collaborations https://pro.dp.la/education permanent;
                    rewrite ^/info/about/projects/investigating-educational-uses https://pro.dp.la/projects/educational-uses permanent;
                    rewrite ^/info/education/education-advisory-committee https://pro.dp.la/education/education-advisory-committee permanent;
                    rewrite ^/info/education/education-promotion https://pro.dp.la/education/education-outreach-materials permanent;
                    rewrite ^/info/education/national-history-day https://pro.dp.la/education/national-history-day permanent;
                    rewrite ^/info/education https://pro.dp.la/education permanent;

                    if ($http_host !~ pro) {
                        rewrite ^/education https://pro.dp.la/education permanent;
                    }

                    #
                    # Pro Site > Grant projects
                    rewrite ^/info/about/projects/getting-it-right-on-rights https://pro.dp.la/projects/getting-it-right-on-rights permanent;
                    #
                    # Pro Site > Ebooks
                    rewrite ^/info/get-involved/dpla-ebooks/dpla-collection-curation-corps https://pro.dp.la/ebooks/curation-corps permanent;
                    rewrite ^/info/get-involved/dpla-ebooks/open-ebooks https://pro.dp.la/ebooks/open-ebooks-2 permanent;
                    rewrite ^/info/get-involved/dpla-ebooks/?$ https://pro.dp.la/ebooks permanent;
                    #
                    # Pro Site > Events > DPLAfest
                    rewrite ^/info/get-involved/dplafest/?$  https://pro.dp.la/events/dplafest permanent;
                    rewrite ^/info/get-involved/dplafest/.+  https://pro.dp.la/events/past-dplafests permanent;
                    #
                    rewrite ^/info/gif-it-up.* https://pro.dp.la/events/gif-it-up permanent;
                    rewrite ^/info/get-involved/groups  https://pro.dp.la/ permanent;
                    rewrite ^/info/get-involved/workshops  https://pro.dp.la/events/workshops permanent;
                    rewrite ^/info/contact/jobs https://pro.dp.la/about-dpla-pro/jobs permanent;
                    rewrite ^/info/about/projects/?$ https://pro.dp.la/projects permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/?$ https://pro.dp.la/projects/public-library-partnerships-project permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/digital-reformatting-and-file-management   https://pro.dp.la/projects/digital-reformatting-and-file-management permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/planning-for-digitization  https://pro.dp.la/projects/planning-for-digitization permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/promoting-use-of-your-digital-content  https://pro.dp.la/projects/promoting-use-of-your-digital-content permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/selecting-content-for-a-digitization-project   https://pro.dp.la/projects/selecting-content-for-a-digitization-project permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/understanding-copyright    https://pro.dp.la/projects/understanding-copyright permanent;
                    rewrite ^/info/about/projects/public-library-partnerships/using-metadata-to-describe-digital-content https://pro.dp.la/projects/using-metadata-to-describe-digital-content permanent;

                    rewrite ^/info/about/funding https://pro.dp.la/about-dpla-pro/our-supporters-2 permanent;
                    rewrite ^/info/about/history/?$ https://pro.dp.la/about-dpla-pro/history permanent;

                    rewrite ^/staff/?$ https://pro.dp.la/about-dpla-pro/staff permanent;
                    rewrite ^/info/about/staff https://pro.dp.la/about-dpla-pro/staff permanent;
                    rewrite ^/info/about/strategic-plan https://pro.dp.la/about-dpla-pro/strategic-plan permanent;
                    rewrite ^/info/about/values https://pro.dp.la/about-dpla-pro/our-values permanent;
                    rewrite ^/info/get-involved/?$ https://pro.dp.la permanent;
                    # rewrite ^/apps ...               # Pro Site > Developers > Apps

                    rewrite ^/info/get-involved/events/oct2011plenary https://pro.dp.la/about-dpla-pro/historical-materials permanent;
                    rewrite ^/info/about/board/?$ https://pro.dp.la/about-dpla-pro/board permanent;
                    rewrite ^/info/about/history/materials/?$ https://pro.dp.la/about-dpla-pro/historical-materials permanent;
                    rewrite ^/info/get-involved/follow /contact permanent;
                    rewrite ^/info/about/awards / permanent;
                    rewrite ^/info/contact /contact permanent;
                    rewrite ^/info/about/leadership-transition /news permanent;
                    rewrite ^/info/about/policies /about/terms-conditions permanent;
                    rewrite ^/info/donate /donate permanent;
                    rewrite ^/info/get-involved/shop / permanent;
                    rewrite ^/info/help/browse$ /browse-by-topic permanent;
                    rewrite ^/info/help/family-research-at-dpla /guides/the-family-research-guide-to-dpla permanent;
                    rewrite ^/info/help/faq$ /about/frequently-asked-questions permanent;
                    rewrite ^/info/help/search/?$ /about/frequently-asked-questions/search-tips permanent;
                    rewrite ^/info/help$ /guides permanent;
                    rewrite ^/info/news$ /news permanent;
                    rewrite ^/info/news/press /news permanent;
                    rewrite ^/info/[0-9]+/[0-9]+/[0-9]+/(.*)$ /news/$1 permanent;
                    rewrite ^/info/terms$ /about/terms-conditions permanent;
                    rewrite ^/info/terms/privacy /about/privacy-policy permanent;
                    rewrite ^/info/beta-sprint/submissions https://pro.dp.la/about-dpla-pro/historical-materials permanent;
                    rewrite ^/info/entries https://pro.dp.la/about-dpla-pro/historical-materials permanent;
                    rewrite ^/info/tag /news permanent;
                    rewrite ^/info/?$ /about permanent;

                    rewrite ^/map / permanent;
                    rewrite ^/partners /browse-by-partner permanent;
                    rewrite ^/subjects / permanent;
                    rewrite ^/timeline / permanent;

                    location /info/help/accounts {
                        return 410;
                    }
                    location /info/help/glossary {
                        return 410;
                    }
                    location /info/author {
                        return 410;
                    }
                    location /users/sign {  # sign_in and sign_up
                        return 410;
                    }

                    # ... Exhibitions Redirects
                    # one off fix to single omeka page that had reused a slug
                    rewrite ^/exhibitions/exhibits/show/radio-golden-age/radio-frontlines/radio-homefront /exhibitions/radio-golden-age/radio-frontlines/radio-homefront-wwii permanent;
                    rewrite ^/exhibitions/exhibits/show/([0-9a-z\-/]+) /exhibitions/$1 permanent;

                    # ... Primary Source Sets Redirects
                    include /etc/nginx/pss-redirects1.conf;
                    include /etc/nginx/pss-redirects2.conf;
                    include /etc/nginx/pss-redirects3.conf;
                    include /etc/nginx/pss-redirects4.conf;
                    include /etc/nginx/pss-redirects5.conf;
                    include /etc/nginx/pss-redirects6.conf;

                }
            }

    "/etc/nginx/sites-enabled/www-redirect.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            server {
                listen 80;
                server_name ~^www\.(?<domain>.+)$;
                return 301 $http_x_forwarded_proto://$domain$uri;
            }


