---

files:
    "/etc/nginx/pss-redirects1.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sets/([0-9a-z\-]+) /primary-source-sets/$1 permanent;

            rewrite ^/primary-source-sets/guides/exploring-the-politics-of-frederick-douglass-and-abraham-lincoln /primary-source-sets/frederick-douglass-and-abraham-lincoln/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-examining-the-exploration-of-the-americas /primary-source-sets/exploration-of-the-americas/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-a-raisin-in-the-sun /primary-source-sets/a-raisin-in-the-sun-by-lorraine-hansberry/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-act-up-and-the-aids-crisis /primary-source-sets/act-up-and-the-aids-crisis/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-african-american-soldiers-in-world-war-i /primary-source-sets/african-american-soldiers-in-world-war-i/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-america-s-entry-into-world-war-i /primary-source-sets/world-war-i-america-heads-to-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-american-abolitionism /primary-source-sets/the-american-abolitionist-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-american-indian-boarding-schools /primary-source-sets/american-indian-boarding-schools/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-american-indian-life-between-1900-and-1940 /primary-source-sets/reservations-resistance-and-the-indian-reorganization-act-1900-1940/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-beloved /primary-source-sets/beloved-by-toni-morrison/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-blackface-minstrelsy-in-modern-america /primary-source-sets/blackface-minstrelsy-in-modern-america/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-busing-and-school-desegregation-in-boston /primary-source-sets/busing-beyond-school-desegregation-in-boston/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-cherokee-removal /primary-source-sets/cherokee-removal-and-the-trail-of-tears/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-coal-mining-and-labor-in-west-virginia /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-colonial-religion /primary-source-sets/colonial-religion/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-commodore-perry-s-expedition-to-japan /primary-source-sets/commodore-perry-s-expedition-to-japan/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-cross-cultural-colonial-conflicts /primary-source-sets/cross-cultural-colonial-conflicts/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-cuban-immigration-after-the-revolution /primary-source-sets/cuban-immigration-after-the-revolution-1959-1973/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-early-chinese-immigration-to-the-us /primary-source-sets/early-chinese-immigration-to-the-us/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-environmental-preservation-in-the-progressive-era /primary-source-sets/environmental-preservation-in-the-progressive-era/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-fannie-lou-hamer-and-the-civil-rights-movement-in-rural-mississippi /primary-source-sets/fannie-lou-hamer-and-the-civil-rights-movement-in-rural-mississippi/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-ida-b-wells-and-anti-lynching-activism /primary-source-sets/ida-b-wells-and-anti-lynching-activism/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-immigration-and-americanization-1880-1930 /primary-source-sets/immigration-and-americanization-1880-1930/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-incidents-in-the-life-of-a-slave-girl /primary-source-sets/incidents-in-the-life-of-a-slave-girl-by-harriet-jacobs/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-invisible-man-by-ralph-ellison /primary-source-sets/invisible-man-by-ralph-ellison/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-jacksonian-democracy /primary-source-sets/jacksonian-democracy/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-japanese-american-internment-during-world-war-ii /primary-source-sets/japanese-american-internment-during-world-war-ii/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-john-brown-s-raid-on-harper-s-ferry /primary-source-sets/john-brown-s-raid-on-harper-s-ferry/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-john-steinbeck-s-of-mice-and-men /primary-source-sets/of-mice-and-men-by-john-steinbeck/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-latin-american-revolutionaries /primary-source-sets/latin-american-revolutionaries/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-little-women /primary-source-sets/little-women-by-louisa-may-alcott/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-lyndon-johnson-s-great-society /primary-source-sets/lyndon-johnson-s-great-society/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-manifest-destiny /primary-source-sets/manifest-destiny/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-negro-league-baseball /primary-source-sets/negro-league-baseball/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-new-netherland /primary-source-sets/dutch-new-netherland/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-night-and-the-holocaust /primary-source-sets/elie-wiesel-s-night-and-the-holocaust/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-nineteenth-century-schools-for-deaf-and-blind-students /primary-source-sets/nineteenth-century-schools-for-the-deaf-and-blind/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-operation-barbarossa /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-pablo-picasso-s-guernica /primary-source-sets/pablo-picasso-s-guernica-and-modern-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-pearl-harbor-and-september-11 /primary-source-sets/attacks-on-american-soil-pearl-harbor-and-september-11/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-pop-art-in-the-us /primary-source-sets/pop-art-in-the-us/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-puerto-rican-migration-to-the-us /primary-source-sets/puerto-rican-migration-to-the-us/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-saratoga-and-valley-forge-in-the-revolutionary-war /primary-source-sets/revolutionary-war-turning-points-saratoga-and-valley-forge/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-settlement-houses-in-the-progressive-era /primary-source-sets/settlement-houses-in-the-progressive-era/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-shays-rebellion /primary-source-sets/shays-rebellion/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-social-realism /primary-source-sets/social-realism/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-spanish-missions-in-california /primary-source-sets/spanish-missions-in-california/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-stonewall-and-the-gay-liberation-movement /primary-source-sets/stonewall-and-its-impact-on-the-gay-liberation-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-swing-dancing /primary-source-sets/jitterbugs-swing-kids-and-lindy-hoppers/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-absolutely-true-diary-of-a-part-time-indian /primary-source-sets/the-absolutely-true-diary-of-a-part-time-indian-by-sherman-alexie/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-adventures-of-huckleberry-finn /primary-source-sets/the-adventures-of-huckleberry-finn-by-mark-twain/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-american-indian-movement /primary-source-sets/the-american-indian-movement-1968-1978/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-american-whaling-industry /primary-source-sets/the-american-whaling-industry/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-angel-island-immigration-station /primary-source-sets/immigration-through-angel-island/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-architecture-of-frank-lloyd-wright /primary-source-sets/frank-lloyd-wright-and-modern-american-architecture/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-atomic-bomb-and-the-nuclear-age /primary-source-sets/the-atomic-bomb-and-the-nuclear-age/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-awakening /primary-source-sets/the-awakening-by-kate-chopin/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-battle-of-gettysburg /primary-source-sets/battle-of-gettysburg/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-beginnings-of-rock-n-roll /primary-source-sets/rock-and-roll-beginnings-to-woodstock/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-birth-of-the-superhero-comic-book /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-black-power-movement /primary-source-sets/the-black-power-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-boston-tea-party /primary-source-sets/the-boston-tea-party/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-bracero-program /primary-source-sets/mexican-labor-and-world-war-ii-the-bracero-program/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-building-of-the-panama-canal /primary-source-sets/the-panama-canal/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-california-gold-rush /primary-source-sets/california-gold-rush/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-campaign-for-the-nineteenth-amendment /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-columbian-exchange /primary-source-sets/the-columbian-exchange/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-cotton-gin /primary-source-sets/cotton-gin-and-the-expansion-of-slavery/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-creation-of-the-us-constitution /primary-source-sets/creating-the-us-constitution/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-crucible /primary-source-sets/the-crucible-by-arthur-miller/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-declaration-of-the-rights-of-man-and-of-the-citizen /primary-source-sets/declaration-of-the-rights-of-man-and-of-the-citizen/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-early-american-red-cross /primary-source-sets/beginnings-of-the-american-red-cross/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-equal-rights-amendment /primary-source-sets/the-equal-rights-amendment/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-eugenics-movement-in-the-united-states /primary-source-sets/eugenics-movement-in-the-united-states/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-exoduster-movement /primary-source-sets/exodusters-african-american-migration-to-the-great-plains/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-fifteenth-amendment /primary-source-sets/the-fifteenth-amendment/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-fire-next-time /primary-source-sets/the-fire-next-time-by-james-baldwin/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-freedmen-s-bureau /primary-source-sets/the-freedmen-s-bureau/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-french-and-indian-war /primary-source-sets/perspectives-on-the-french-and-indian-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-golden-age-of-broadway /primary-source-sets/the-golden-age-of-broadway/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-grapes-of-wrath /primary-source-sets/the-grapes-of-wrath-by-john-steinbeck/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-great-gatsby /primary-source-sets/the-great-gatsby-by-f-scott-fitzgerald/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-great-migration /primary-source-sets/the-great-migration/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-history-of-food-stamp-programs /primary-source-sets/feeding-the-hungry-with-food-stamp-programs/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-homestead-act /primary-source-sets/the-homestead-acts/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-homestead-strike /primary-source-sets/the-homestead-strike/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-hudson-river-school /primary-source-sets/the-hudson-river-school/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-impact-of-electricity-on-america /primary-source-sets/electrifying-america/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-impact-of-television-on-news-media /primary-source-sets/the-impact-of-television-on-news-media/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-invention-of-the-telephone /primary-source-sets/the-invention-of-the-telephone/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-lewis-and-clark-expedition /primary-source-sets/the-lewis-and-clark-expedition/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-life-and-work-of-henry-clay /primary-source-sets/henry-clay-the-great-compromiser/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-mormon-migration /primary-source-sets/mormon-migration/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-motivations-and-realities-of-life-in-the-colonies /primary-source-sets/the-colonies-motivations-and-realities/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-new-deal /primary-source-sets/the-new-deal/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-new-woman-ideal /primary-source-sets/the-new-woman/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-northern-draft-riots-during-the-civil-war /primary-source-sets/northern-draft-riots-during-the-civil-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-panic-of-1837 /primary-source-sets/the-panic-of-1837/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-poetry-of-emily-dickinson /primary-source-sets/the-poetry-of-emily-dickinson/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-poetry-of-maya-angelou /primary-source-sets/the-poetry-of-maya-angelou/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-polio-epidemic-and-vaccine /primary-source-sets/there-is-no-cure-for-polio/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-populist-movement /primary-source-sets/the-populist-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-postwar-rise-of-the-suburbs /primary-source-sets/postwar-rise-of-the-suburbs/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-powhatan-people-and-the-english-at-jamestown /primary-source-sets/powhatan-people-and-the-english-at-jamestown/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-raven /primary-source-sets/the-raven-by-edgar-allan-poe/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-rise-of-conservatism /primary-source-sets/rise-of-conservatism-in-the-1980s/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-rise-of-italian-fascism /primary-source-sets/the-rise-of-italian-fascism-and-its-influence-on-europe/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-road-to-revolution /primary-source-sets/road-to-revolution-1763-1776/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-scarlet-letter /primary-source-sets/the-scarlet-letter-by-nathaniel-hawthorne/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-scopes-trial /primary-source-sets/the-scopes-trial/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-secession-of-the-southern-states /primary-source-sets/secession-of-the-southern-states/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-second-ku-klux-klan /primary-source-sets/second-ku-klux-klan-and-the-birth-of-a-nation/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-space-race /primary-source-sets/space-race/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-spanish-american-war /primary-source-sets/american-imperialism-the-spanish-american-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-steam-engine-and-transportation-in-the-nineteenth-century /primary-source-sets/full-steam-ahead-the-steam-engine-and-transportation-in-the-nineteenth-century/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-texas-revolution /primary-source-sets/texas-revolution/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-things-they-carried /primary-source-sets/the-things-they-carried-by-tim-o-brien/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-transatlantic-slave-trade /primary-source-sets/the-transatlantic-slave-trade/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-treaty-of-versailles /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-underground-railroad-and-the-fugitive-slave-act /primary-source-sets/the-underground-railroad-and-the-fugitive-slave-act-of-1850/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-united-farm-workers-and-the-delano-grape-strike /primary-source-sets/the-united-farm-workers-and-the-delano-grape-strike/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-victorian-era /primary-source-sets/victorian-era/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-visual-art-of-the-harlem-renaissance /primary-source-sets/visual-art-during-the-harlem-renaissance/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-voting-rights-act-of-1965 /primary-source-sets/voting-rights-act-of-1965/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-war-of-1812 /primary-source-sets/the-war-of-1812/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-watsons-go-to-birmingham-1963 /primary-source-sets/the-watsons-go-to-birmingham-1963-by-christopher-paul-curtis/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-woman-warrior /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-wounded-knee-massacre /primary-source-sets/the-wounded-knee-massacre/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-the-yellow-fever-epidemic-of-1878 /primary-source-sets/the-yellow-fever-epidemic-of-1878/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-their-eyes-were-watching-god /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-theodore-dreiser-s-sister-carrie-and-chicago /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-to-kill-a-mockingbird /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-twentieth-century-mining-in-the-mojave-desert /primary-source-sets/boomtimes-again-twentieth-century-mining-in-the-mojave-desert/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-uncle-tom-s-cabin /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-women-and-the-blues /primary-source-sets/women-and-the-blues/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-women-and-the-temperance-movement /primary-source-sets/women-and-the-temperance-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-women-in-the-civil-war /primary-source-sets/women-in-the-civil-war/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-women-of-the-antebellum-reform-movement /primary-source-sets/women-of-the-antebellum-reform-movement/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-women-on-the-home-front-during-world-war-ii /primary-source-sets/world-war-ii-women-on-the-home-front/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-exploring-yellow-journalism /primary-source-sets/fake-news-in-the-1890s-yellow-journalism/teaching-guide permanent;
            rewrite ^/primary-source-sets/guides/teaching-guide-title-exploring-the-politics-of-the-gilded-age /primary-source-sets/patronage-and-populism-the-politics-of-the-gilded-age/teaching-guide permanent;
