---

files:
    "/etc/nginx/pss-redirects6.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/1067$ /primary-source-sets/the-watsons-go-to-birmingham-1963-by-christopher-paul-curtis/sources/1067 permanent;
            rewrite ^/primary-source-sets/sources/1068$ /primary-source-sets/the-watsons-go-to-birmingham-1963-by-christopher-paul-curtis/sources/1068 permanent;
            rewrite ^/primary-source-sets/sources/1069$ /primary-source-sets/the-watsons-go-to-birmingham-1963-by-christopher-paul-curtis/sources/1069 permanent;
            rewrite ^/primary-source-sets/sources/784$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/784 permanent;
            rewrite ^/primary-source-sets/sources/785$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/785 permanent;
            rewrite ^/primary-source-sets/sources/786$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/786 permanent;
            rewrite ^/primary-source-sets/sources/787$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/787 permanent;
            rewrite ^/primary-source-sets/sources/788$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/788 permanent;
            rewrite ^/primary-source-sets/sources/789$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/789 permanent;
            rewrite ^/primary-source-sets/sources/790$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/790 permanent;
            rewrite ^/primary-source-sets/sources/791$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/791 permanent;
            rewrite ^/primary-source-sets/sources/792$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/792 permanent;
            rewrite ^/primary-source-sets/sources/793$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/793 permanent;
            rewrite ^/primary-source-sets/sources/794$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/794 permanent;
            rewrite ^/primary-source-sets/sources/795$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/795 permanent;
            rewrite ^/primary-source-sets/sources/796$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/796 permanent;
            rewrite ^/primary-source-sets/sources/797$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/797 permanent;
            rewrite ^/primary-source-sets/sources/798$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/798 permanent;
            rewrite ^/primary-source-sets/sources/743$ /primary-source-sets/the-wounded-knee-massacre/sources/743 permanent;
            rewrite ^/primary-source-sets/sources/744$ /primary-source-sets/the-wounded-knee-massacre/sources/744 permanent;
            rewrite ^/primary-source-sets/sources/745$ /primary-source-sets/the-wounded-knee-massacre/sources/745 permanent;
            rewrite ^/primary-source-sets/sources/746$ /primary-source-sets/the-wounded-knee-massacre/sources/746 permanent;
            rewrite ^/primary-source-sets/sources/747$ /primary-source-sets/the-wounded-knee-massacre/sources/747 permanent;
            rewrite ^/primary-source-sets/sources/748$ /primary-source-sets/the-wounded-knee-massacre/sources/748 permanent;
            rewrite ^/primary-source-sets/sources/749$ /primary-source-sets/the-wounded-knee-massacre/sources/749 permanent;
            rewrite ^/primary-source-sets/sources/750$ /primary-source-sets/the-wounded-knee-massacre/sources/750 permanent;
            rewrite ^/primary-source-sets/sources/751$ /primary-source-sets/the-wounded-knee-massacre/sources/751 permanent;
            rewrite ^/primary-source-sets/sources/752$ /primary-source-sets/the-wounded-knee-massacre/sources/752 permanent;
            rewrite ^/primary-source-sets/sources/753$ /primary-source-sets/the-wounded-knee-massacre/sources/753 permanent;
            rewrite ^/primary-source-sets/sources/754$ /primary-source-sets/the-wounded-knee-massacre/sources/754 permanent;
            rewrite ^/primary-source-sets/sources/755$ /primary-source-sets/the-wounded-knee-massacre/sources/755 permanent;
            rewrite ^/primary-source-sets/sources/756$ /primary-source-sets/the-wounded-knee-massacre/sources/756 permanent;
            rewrite ^/primary-source-sets/sources/757$ /primary-source-sets/the-wounded-knee-massacre/sources/757 permanent;
            rewrite ^/primary-source-sets/sources/1239$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1239 permanent;
            rewrite ^/primary-source-sets/sources/1240$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1240 permanent;
            rewrite ^/primary-source-sets/sources/1241$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1241 permanent;
            rewrite ^/primary-source-sets/sources/1242$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1242 permanent;
            rewrite ^/primary-source-sets/sources/1243$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1243 permanent;
            rewrite ^/primary-source-sets/sources/1244$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1244 permanent;
            rewrite ^/primary-source-sets/sources/1245$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1245 permanent;
            rewrite ^/primary-source-sets/sources/1246$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1246 permanent;
            rewrite ^/primary-source-sets/sources/1247$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1247 permanent;
            rewrite ^/primary-source-sets/sources/1248$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1248 permanent;
            rewrite ^/primary-source-sets/sources/1249$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1249 permanent;
            rewrite ^/primary-source-sets/sources/1250$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1250 permanent;
            rewrite ^/primary-source-sets/sources/1251$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1251 permanent;
            rewrite ^/primary-source-sets/sources/1252$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/1252 permanent;
            rewrite ^/primary-source-sets/sources/539$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/539 permanent;
            rewrite ^/primary-source-sets/sources/540$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/540 permanent;
            rewrite ^/primary-source-sets/sources/541$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/541 permanent;
            rewrite ^/primary-source-sets/sources/542$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/542 permanent;
            rewrite ^/primary-source-sets/sources/543$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/543 permanent;
            rewrite ^/primary-source-sets/sources/544$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/544 permanent;
            rewrite ^/primary-source-sets/sources/545$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/545 permanent;
            rewrite ^/primary-source-sets/sources/546$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/546 permanent;
            rewrite ^/primary-source-sets/sources/547$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/547 permanent;
            rewrite ^/primary-source-sets/sources/548$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/548 permanent;
            rewrite ^/primary-source-sets/sources/549$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/549 permanent;
            rewrite ^/primary-source-sets/sources/550$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/550 permanent;
            rewrite ^/primary-source-sets/sources/551$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/551 permanent;
            rewrite ^/primary-source-sets/sources/552$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/552 permanent;
            rewrite ^/primary-source-sets/sources/1634$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1634 permanent;
            rewrite ^/primary-source-sets/sources/1635$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1635 permanent;
            rewrite ^/primary-source-sets/sources/1636$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1636 permanent;
            rewrite ^/primary-source-sets/sources/1637$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1637 permanent;
            rewrite ^/primary-source-sets/sources/1638$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1638 permanent;
            rewrite ^/primary-source-sets/sources/1639$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1639 permanent;
            rewrite ^/primary-source-sets/sources/1640$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1640 permanent;
            rewrite ^/primary-source-sets/sources/1641$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1641 permanent;
            rewrite ^/primary-source-sets/sources/1642$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1642 permanent;
            rewrite ^/primary-source-sets/sources/1643$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1643 permanent;
            rewrite ^/primary-source-sets/sources/1644$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1644 permanent;
            rewrite ^/primary-source-sets/sources/1645$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1645 permanent;
            rewrite ^/primary-source-sets/sources/1646$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1646 permanent;
            rewrite ^/primary-source-sets/sources/1647$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/1647 permanent;
            rewrite ^/primary-source-sets/sources/946$ /primary-source-sets/there-is-no-cure-for-polio/sources/946 permanent;
            rewrite ^/primary-source-sets/sources/947$ /primary-source-sets/there-is-no-cure-for-polio/sources/947 permanent;
            rewrite ^/primary-source-sets/sources/948$ /primary-source-sets/there-is-no-cure-for-polio/sources/948 permanent;
            rewrite ^/primary-source-sets/sources/949$ /primary-source-sets/there-is-no-cure-for-polio/sources/949 permanent;
            rewrite ^/primary-source-sets/sources/950$ /primary-source-sets/there-is-no-cure-for-polio/sources/950 permanent;
            rewrite ^/primary-source-sets/sources/951$ /primary-source-sets/there-is-no-cure-for-polio/sources/951 permanent;
            rewrite ^/primary-source-sets/sources/952$ /primary-source-sets/there-is-no-cure-for-polio/sources/952 permanent;
            rewrite ^/primary-source-sets/sources/953$ /primary-source-sets/there-is-no-cure-for-polio/sources/953 permanent;
            rewrite ^/primary-source-sets/sources/954$ /primary-source-sets/there-is-no-cure-for-polio/sources/954 permanent;
            rewrite ^/primary-source-sets/sources/955$ /primary-source-sets/there-is-no-cure-for-polio/sources/955 permanent;
            rewrite ^/primary-source-sets/sources/956$ /primary-source-sets/there-is-no-cure-for-polio/sources/956 permanent;
            rewrite ^/primary-source-sets/sources/645$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/645 permanent;
            rewrite ^/primary-source-sets/sources/646$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/646 permanent;
            rewrite ^/primary-source-sets/sources/647$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/647 permanent;
            rewrite ^/primary-source-sets/sources/648$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/648 permanent;
            rewrite ^/primary-source-sets/sources/649$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/649 permanent;
            rewrite ^/primary-source-sets/sources/650$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/650 permanent;
            rewrite ^/primary-source-sets/sources/651$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/651 permanent;
            rewrite ^/primary-source-sets/sources/652$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/652 permanent;
            rewrite ^/primary-source-sets/sources/653$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/653 permanent;
            rewrite ^/primary-source-sets/sources/654$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/654 permanent;
            rewrite ^/primary-source-sets/sources/655$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/655 permanent;
            rewrite ^/primary-source-sets/sources/656$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/656 permanent;
            rewrite ^/primary-source-sets/sources/657$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/657 permanent;
            rewrite ^/primary-source-sets/sources/658$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/658 permanent;
            rewrite ^/primary-source-sets/sources/659$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/659 permanent;
            rewrite ^/primary-source-sets/sources/1888$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1888 permanent;
            rewrite ^/primary-source-sets/sources/1889$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1889 permanent;
            rewrite ^/primary-source-sets/sources/1890$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1890 permanent;
            rewrite ^/primary-source-sets/sources/1891$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1891 permanent;
            rewrite ^/primary-source-sets/sources/1892$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1892 permanent;
            rewrite ^/primary-source-sets/sources/1893$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1893 permanent;
            rewrite ^/primary-source-sets/sources/1894$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1894 permanent;
            rewrite ^/primary-source-sets/sources/1895$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1895 permanent;
            rewrite ^/primary-source-sets/sources/1896$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1896 permanent;
            rewrite ^/primary-source-sets/sources/1897$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1897 permanent;
            rewrite ^/primary-source-sets/sources/1898$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1898 permanent;
            rewrite ^/primary-source-sets/sources/1899$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1899 permanent;
            rewrite ^/primary-source-sets/sources/1900$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1900 permanent;
            rewrite ^/primary-source-sets/sources/1901$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1901 permanent;
            rewrite ^/primary-source-sets/sources/1902$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/1902 permanent;
            rewrite ^/primary-source-sets/sources/1513$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1513 permanent;
            rewrite ^/primary-source-sets/sources/1514$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1514 permanent;
            rewrite ^/primary-source-sets/sources/1515$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1515 permanent;
            rewrite ^/primary-source-sets/sources/1516$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1516 permanent;
            rewrite ^/primary-source-sets/sources/1517$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1517 permanent;
            rewrite ^/primary-source-sets/sources/1518$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1518 permanent;
            rewrite ^/primary-source-sets/sources/1519$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1519 permanent;
            rewrite ^/primary-source-sets/sources/1520$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1520 permanent;
            rewrite ^/primary-source-sets/sources/1521$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1521 permanent;
            rewrite ^/primary-source-sets/sources/1522$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1522 permanent;
            rewrite ^/primary-source-sets/sources/1523$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/1523 permanent;
            rewrite ^/primary-source-sets/sources/330$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/330 permanent;
            rewrite ^/primary-source-sets/sources/331$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/331 permanent;
            rewrite ^/primary-source-sets/sources/332$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/332 permanent;
            rewrite ^/primary-source-sets/sources/333$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/333 permanent;
            rewrite ^/primary-source-sets/sources/334$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/334 permanent;
            rewrite ^/primary-source-sets/sources/335$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/335 permanent;
            rewrite ^/primary-source-sets/sources/336$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/336 permanent;
            rewrite ^/primary-source-sets/sources/337$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/337 permanent;
            rewrite ^/primary-source-sets/sources/338$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/338 permanent;
            rewrite ^/primary-source-sets/sources/339$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/339 permanent;
            rewrite ^/primary-source-sets/sources/340$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/340 permanent;
            rewrite ^/primary-source-sets/sources/341$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/341 permanent;
            rewrite ^/primary-source-sets/sources/1845$ /primary-source-sets/victorian-era/sources/1845 permanent;
            rewrite ^/primary-source-sets/sources/1846$ /primary-source-sets/victorian-era/sources/1846 permanent;
            rewrite ^/primary-source-sets/sources/1847$ /primary-source-sets/victorian-era/sources/1847 permanent;
            rewrite ^/primary-source-sets/sources/1848$ /primary-source-sets/victorian-era/sources/1848 permanent;
            rewrite ^/primary-source-sets/sources/1849$ /primary-source-sets/victorian-era/sources/1849 permanent;
            rewrite ^/primary-source-sets/sources/1850$ /primary-source-sets/victorian-era/sources/1850 permanent;
            rewrite ^/primary-source-sets/sources/1851$ /primary-source-sets/victorian-era/sources/1851 permanent;
            rewrite ^/primary-source-sets/sources/1852$ /primary-source-sets/victorian-era/sources/1852 permanent;
            rewrite ^/primary-source-sets/sources/1853$ /primary-source-sets/victorian-era/sources/1853 permanent;
            rewrite ^/primary-source-sets/sources/1854$ /primary-source-sets/victorian-era/sources/1854 permanent;
            rewrite ^/primary-source-sets/sources/1855$ /primary-source-sets/victorian-era/sources/1855 permanent;
            rewrite ^/primary-source-sets/sources/1856$ /primary-source-sets/victorian-era/sources/1856 permanent;
            rewrite ^/primary-source-sets/sources/1857$ /primary-source-sets/victorian-era/sources/1857 permanent;
            rewrite ^/primary-source-sets/sources/1858$ /primary-source-sets/victorian-era/sources/1858 permanent;
            rewrite ^/primary-source-sets/sources/342$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/342 permanent;
            rewrite ^/primary-source-sets/sources/343$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/343 permanent;
            rewrite ^/primary-source-sets/sources/344$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/344 permanent;
            rewrite ^/primary-source-sets/sources/345$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/345 permanent;
            rewrite ^/primary-source-sets/sources/346$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/346 permanent;
            rewrite ^/primary-source-sets/sources/347$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/347 permanent;
            rewrite ^/primary-source-sets/sources/348$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/348 permanent;
            rewrite ^/primary-source-sets/sources/349$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/349 permanent;
            rewrite ^/primary-source-sets/sources/350$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/350 permanent;
            rewrite ^/primary-source-sets/sources/351$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/351 permanent;
            rewrite ^/primary-source-sets/sources/352$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/352 permanent;
            rewrite ^/primary-source-sets/sources/353$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/353 permanent;
            rewrite ^/primary-source-sets/sources/354$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/354 permanent;
            rewrite ^/primary-source-sets/sources/1383$ /primary-source-sets/voting-rights-act-of-1965/sources/1383 permanent;
            rewrite ^/primary-source-sets/sources/1384$ /primary-source-sets/voting-rights-act-of-1965/sources/1384 permanent;
            rewrite ^/primary-source-sets/sources/1385$ /primary-source-sets/voting-rights-act-of-1965/sources/1385 permanent;
            rewrite ^/primary-source-sets/sources/1386$ /primary-source-sets/voting-rights-act-of-1965/sources/1386 permanent;
            rewrite ^/primary-source-sets/sources/1387$ /primary-source-sets/voting-rights-act-of-1965/sources/1387 permanent;
            rewrite ^/primary-source-sets/sources/1388$ /primary-source-sets/voting-rights-act-of-1965/sources/1388 permanent;
            rewrite ^/primary-source-sets/sources/1389$ /primary-source-sets/voting-rights-act-of-1965/sources/1389 permanent;
            rewrite ^/primary-source-sets/sources/1390$ /primary-source-sets/voting-rights-act-of-1965/sources/1390 permanent;
            rewrite ^/primary-source-sets/sources/1391$ /primary-source-sets/voting-rights-act-of-1965/sources/1391 permanent;
            rewrite ^/primary-source-sets/sources/1392$ /primary-source-sets/voting-rights-act-of-1965/sources/1392 permanent;
            rewrite ^/primary-source-sets/sources/1393$ /primary-source-sets/voting-rights-act-of-1965/sources/1393 permanent;
            rewrite ^/primary-source-sets/sources/1394$ /primary-source-sets/voting-rights-act-of-1965/sources/1394 permanent;
            rewrite ^/primary-source-sets/sources/1395$ /primary-source-sets/voting-rights-act-of-1965/sources/1395 permanent;
            rewrite ^/primary-source-sets/sources/1396$ /primary-source-sets/voting-rights-act-of-1965/sources/1396 permanent;
            rewrite ^/primary-source-sets/sources/972$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/972 permanent;
            rewrite ^/primary-source-sets/sources/973$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/973 permanent;
            rewrite ^/primary-source-sets/sources/974$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/974 permanent;
            rewrite ^/primary-source-sets/sources/975$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/975 permanent;
            rewrite ^/primary-source-sets/sources/976$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/976 permanent;
            rewrite ^/primary-source-sets/sources/977$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/977 permanent;
            rewrite ^/primary-source-sets/sources/978$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/978 permanent;
            rewrite ^/primary-source-sets/sources/979$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/979 permanent;
            rewrite ^/primary-source-sets/sources/980$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/980 permanent;
            rewrite ^/primary-source-sets/sources/981$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/981 permanent;
            rewrite ^/primary-source-sets/sources/982$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/982 permanent;
            rewrite ^/primary-source-sets/sources/983$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/983 permanent;
            rewrite ^/primary-source-sets/sources/984$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/984 permanent;
            rewrite ^/primary-source-sets/sources/985$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/985 permanent;
            rewrite ^/primary-source-sets/sources/986$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/986 permanent;
            rewrite ^/primary-source-sets/sources/432$ /primary-source-sets/women-and-the-blues/sources/432 permanent;
            rewrite ^/primary-source-sets/sources/433$ /primary-source-sets/women-and-the-blues/sources/433 permanent;
            rewrite ^/primary-source-sets/sources/434$ /primary-source-sets/women-and-the-blues/sources/434 permanent;
            rewrite ^/primary-source-sets/sources/435$ /primary-source-sets/women-and-the-blues/sources/435 permanent;
            rewrite ^/primary-source-sets/sources/436$ /primary-source-sets/women-and-the-blues/sources/436 permanent;
            rewrite ^/primary-source-sets/sources/437$ /primary-source-sets/women-and-the-blues/sources/437 permanent;
            rewrite ^/primary-source-sets/sources/438$ /primary-source-sets/women-and-the-blues/sources/438 permanent;
            rewrite ^/primary-source-sets/sources/439$ /primary-source-sets/women-and-the-blues/sources/439 permanent;
            rewrite ^/primary-source-sets/sources/440$ /primary-source-sets/women-and-the-blues/sources/440 permanent;
            rewrite ^/primary-source-sets/sources/441$ /primary-source-sets/women-and-the-blues/sources/441 permanent;
            rewrite ^/primary-source-sets/sources/442$ /primary-source-sets/women-and-the-blues/sources/442 permanent;
            rewrite ^/primary-source-sets/sources/443$ /primary-source-sets/women-and-the-blues/sources/443 permanent;
            rewrite ^/primary-source-sets/sources/1774$ /primary-source-sets/women-and-the-temperance-movement/sources/1774 permanent;
            rewrite ^/primary-source-sets/sources/1775$ /primary-source-sets/women-and-the-temperance-movement/sources/1775 permanent;
            rewrite ^/primary-source-sets/sources/1776$ /primary-source-sets/women-and-the-temperance-movement/sources/1776 permanent;
            rewrite ^/primary-source-sets/sources/1777$ /primary-source-sets/women-and-the-temperance-movement/sources/1777 permanent;
            rewrite ^/primary-source-sets/sources/1778$ /primary-source-sets/women-and-the-temperance-movement/sources/1778 permanent;
            rewrite ^/primary-source-sets/sources/1779$ /primary-source-sets/women-and-the-temperance-movement/sources/1779 permanent;
            rewrite ^/primary-source-sets/sources/1780$ /primary-source-sets/women-and-the-temperance-movement/sources/1780 permanent;
            rewrite ^/primary-source-sets/sources/1781$ /primary-source-sets/women-and-the-temperance-movement/sources/1781 permanent;
            rewrite ^/primary-source-sets/sources/1782$ /primary-source-sets/women-and-the-temperance-movement/sources/1782 permanent;
            rewrite ^/primary-source-sets/sources/1783$ /primary-source-sets/women-and-the-temperance-movement/sources/1783 permanent;
            rewrite ^/primary-source-sets/sources/1784$ /primary-source-sets/women-and-the-temperance-movement/sources/1784 permanent;
            rewrite ^/primary-source-sets/sources/1785$ /primary-source-sets/women-and-the-temperance-movement/sources/1785 permanent;
            rewrite ^/primary-source-sets/sources/1786$ /primary-source-sets/women-and-the-temperance-movement/sources/1786 permanent;
            rewrite ^/primary-source-sets/sources/1787$ /primary-source-sets/women-and-the-temperance-movement/sources/1787 permanent;
            rewrite ^/primary-source-sets/sources/1788$ /primary-source-sets/women-and-the-temperance-movement/sources/1788 permanent;
            rewrite ^/primary-source-sets/sources/813$ /primary-source-sets/women-in-the-civil-war/sources/813 permanent;
            rewrite ^/primary-source-sets/sources/814$ /primary-source-sets/women-in-the-civil-war/sources/814 permanent;
            rewrite ^/primary-source-sets/sources/815$ /primary-source-sets/women-in-the-civil-war/sources/815 permanent;
            rewrite ^/primary-source-sets/sources/816$ /primary-source-sets/women-in-the-civil-war/sources/816 permanent;
            rewrite ^/primary-source-sets/sources/817$ /primary-source-sets/women-in-the-civil-war/sources/817 permanent;
            rewrite ^/primary-source-sets/sources/818$ /primary-source-sets/women-in-the-civil-war/sources/818 permanent;
            rewrite ^/primary-source-sets/sources/819$ /primary-source-sets/women-in-the-civil-war/sources/819 permanent;
            rewrite ^/primary-source-sets/sources/820$ /primary-source-sets/women-in-the-civil-war/sources/820 permanent;
            rewrite ^/primary-source-sets/sources/821$ /primary-source-sets/women-in-the-civil-war/sources/821 permanent;
            rewrite ^/primary-source-sets/sources/822$ /primary-source-sets/women-in-the-civil-war/sources/822 permanent;
            rewrite ^/primary-source-sets/sources/823$ /primary-source-sets/women-in-the-civil-war/sources/823 permanent;
            rewrite ^/primary-source-sets/sources/824$ /primary-source-sets/women-in-the-civil-war/sources/824 permanent;
            rewrite ^/primary-source-sets/sources/825$ /primary-source-sets/women-in-the-civil-war/sources/825 permanent;
            rewrite ^/primary-source-sets/sources/826$ /primary-source-sets/women-in-the-civil-war/sources/826 permanent;
            rewrite ^/primary-source-sets/sources/827$ /primary-source-sets/women-in-the-civil-war/sources/827 permanent;
            rewrite ^/primary-source-sets/sources/1070$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1070 permanent;
            rewrite ^/primary-source-sets/sources/1071$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1071 permanent;
            rewrite ^/primary-source-sets/sources/1072$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1072 permanent;
            rewrite ^/primary-source-sets/sources/1073$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1073 permanent;
            rewrite ^/primary-source-sets/sources/1074$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1074 permanent;
            rewrite ^/primary-source-sets/sources/1075$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1075 permanent;
            rewrite ^/primary-source-sets/sources/1076$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1076 permanent;
            rewrite ^/primary-source-sets/sources/1077$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1077 permanent;
            rewrite ^/primary-source-sets/sources/1078$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1078 permanent;
            rewrite ^/primary-source-sets/sources/1079$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1079 permanent;
            rewrite ^/primary-source-sets/sources/1080$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1080 permanent;
            rewrite ^/primary-source-sets/sources/1081$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1081 permanent;
            rewrite ^/primary-source-sets/sources/1082$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/1082 permanent;
            rewrite ^/primary-source-sets/sources/355$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/355 permanent;
            rewrite ^/primary-source-sets/sources/356$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/356 permanent;
            rewrite ^/primary-source-sets/sources/357$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/357 permanent;
            rewrite ^/primary-source-sets/sources/358$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/358 permanent;
            rewrite ^/primary-source-sets/sources/359$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/359 permanent;
            rewrite ^/primary-source-sets/sources/360$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/360 permanent;
            rewrite ^/primary-source-sets/sources/361$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/361 permanent;
            rewrite ^/primary-source-sets/sources/362$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/362 permanent;
            rewrite ^/primary-source-sets/sources/363$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/363 permanent;
            rewrite ^/primary-source-sets/sources/364$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/364 permanent;
            rewrite ^/primary-source-sets/sources/365$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/365 permanent;
            rewrite ^/primary-source-sets/sources/366$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/366 permanent;
            rewrite ^/primary-source-sets/sources/367$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/367 permanent;
            rewrite ^/primary-source-sets/sources/368$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/368 permanent;
            rewrite ^/primary-source-sets/sources/369$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/369 permanent;
            rewrite ^/primary-source-sets/sources/1083$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1083 permanent;
            rewrite ^/primary-source-sets/sources/1084$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1084 permanent;
            rewrite ^/primary-source-sets/sources/1085$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1085 permanent;
            rewrite ^/primary-source-sets/sources/1086$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1086 permanent;
            rewrite ^/primary-source-sets/sources/1087$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1087 permanent;
            rewrite ^/primary-source-sets/sources/1088$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1088 permanent;
            rewrite ^/primary-source-sets/sources/1089$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1089 permanent;
            rewrite ^/primary-source-sets/sources/1090$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1090 permanent;
            rewrite ^/primary-source-sets/sources/1091$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1091 permanent;
            rewrite ^/primary-source-sets/sources/1092$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1092 permanent;
            rewrite ^/primary-source-sets/sources/1093$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1093 permanent;
            rewrite ^/primary-source-sets/sources/1094$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1094 permanent;
            rewrite ^/primary-source-sets/sources/1095$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1095 permanent;
            rewrite ^/primary-source-sets/sources/1096$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1096 permanent;
            rewrite ^/primary-source-sets/sources/1097$ /primary-source-sets/world-war-i-america-heads-to-war/sources/1097 permanent;
            rewrite ^/primary-source-sets/sources/1689$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1689 permanent;
            rewrite ^/primary-source-sets/sources/1690$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1690 permanent;
            rewrite ^/primary-source-sets/sources/1691$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1691 permanent;
            rewrite ^/primary-source-sets/sources/1692$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1692 permanent;
            rewrite ^/primary-source-sets/sources/1693$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1693 permanent;
            rewrite ^/primary-source-sets/sources/1694$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1694 permanent;
            rewrite ^/primary-source-sets/sources/1695$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1695 permanent;
            rewrite ^/primary-source-sets/sources/1696$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1696 permanent;
            rewrite ^/primary-source-sets/sources/1697$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1697 permanent;
            rewrite ^/primary-source-sets/sources/1698$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1698 permanent;
            rewrite ^/primary-source-sets/sources/1699$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1699 permanent;
            rewrite ^/primary-source-sets/sources/1700$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1700 permanent;
            rewrite ^/primary-source-sets/sources/1701$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1701 permanent;
            rewrite ^/primary-source-sets/sources/1702$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/1702 permanent;
            rewrite ^/primary-source-sets/sources/370$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/370 permanent;
            rewrite ^/primary-source-sets/sources/371$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/371 permanent;
            rewrite ^/primary-source-sets/sources/372$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/372 permanent;
            rewrite ^/primary-source-sets/sources/373$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/373 permanent;
            rewrite ^/primary-source-sets/sources/374$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/374 permanent;
            rewrite ^/primary-source-sets/sources/375$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/375 permanent;
            rewrite ^/primary-source-sets/sources/376$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/376 permanent;
            rewrite ^/primary-source-sets/sources/377$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/377 permanent;
            rewrite ^/primary-source-sets/sources/378$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/378 permanent;
            rewrite ^/primary-source-sets/sources/379$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/379 permanent;
            rewrite ^/primary-source-sets/sources/380$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/380 permanent;
            rewrite ^/primary-source-sets/sources/381$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/381 permanent;
