@import "stylesheets/variables";

.nameForm {
  background-color: $warmerBackgroundColor;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-left: -45%;
  margin-top: -10rem;
  padding: 1rem;
  position: fixed;
  top: 50%;
  width: 90%;
  z-index: 999;

  @media (min-width: $mediumRem) {
    margin-left: -10rem;
    width: 20rem;
  }
}

.nameLabel {
  margin: 0 0 0.5rem 0.5rem;
}

.listName {
  border: 0.075rem solid $formLabelColor;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.saveCancelButtons {
  display: flex;
  align-items: center;
}

.createButton, .updateButton {
  flex-grow: 3;
}

.cancelButton {
  flex-grow: 1;
  margin-right: 0.5rem;
}
