@value linkColor from "../../css/colors.css";
@value xSmallRem, smallRem from "../../css/breakpoints.css";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: .8rem;
}

.activeBreadcrumb {
  display: inline-block;
  max-width: 30rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;

  @media (max-width: smallRem) {
    display: inline;
    white-space: normal;
    max-width: none;
  }

  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink {
  display: inline-block;
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLinkWrapper {
  display: flex;
  align-items: center;
}

.breadcrumbLink p, .activeBreadcrumb p {
  max-width: 115px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (min-width: xSmallRem) {
    max-width: 145px;
  }
  @media (min-width: smallRem) {
    max-width: 215px;
  }
}

.chevron {
  height: 8px;
  position: relative;
  top: 1px;
  padding: 0 0.25rem;
  @media (min-width: smallRem) {
    padding: 0 0.75rem;
  }
}
