@value linkColor from "../../../css/colors.css";
@value xSmallRem, smallRem from "../../../css/breakpoints.css";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.activeBreadcrumb {
  display: inline-block;
  max-width: 30rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: smallRem) {
    display: inline;
    white-space: normal;
    max-width: none;
  }

  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink {
  display: inline-block;
  max-width: 13.125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLinkWrapper {
  display: flex;
  align-items: center;
}

.breadcrumbLink p, .activeBreadcrumb p {
  max-width: 7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (min-width: xSmallRem) {
    max-width: 9rem;
  }
  @media (min-width: smallRem) {
    max-width: 13.5rem;
  }
}

.chevron {
  height: 0.5rem;
  position: relative;
  top: 1px;
  padding: 0 0.5rem;
  @media (min-width: smallRem) {
    padding: 0 0.75rem;
  }
}
