@import "stylesheets/variables";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.activeBreadcrumb {
  display: inline-block;
  max-width: 30rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: $smallRem) {
    display: inline;
    white-space: normal;
    max-width: none;
  }

  @media (min-width: $smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink {
  display: block;
  max-width: 13.125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (min-width: $smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLinkWrapper {
  align-items: center;
  display: flex;
  position: relative;

  &:after {
    content: "";
    display: block;
    background: url("/static/images/chevron-thick-orange.svg") no-repeat;
    background-size: contain;
    background-position: center;
    height: 0.7rem;
    position: relative;
    top: 0;
    padding: 0 0.7rem;

    @media (min-width: $smallRem) {
    }
  }
}

.breadcrumbLink p, .activeBreadcrumb p {
  max-width: 7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (min-width: $xSmallRem) {
    max-width: 9rem;
  }

  @media (min-width: $smallRem) {
    max-width: 13.5rem;
  }
}
