@value linkColor, featuredBannerColor, black50 from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";
@value monoFont, serifFont, sansFont from "../../../../../css/typography.css";

.wrapper {
  margin: 1rem auto 2rem;
  padding: 0 1rem;

  @media (min-width: largeRem) {
    padding: 0;
    margin-top: 2rem;
  }
}

.row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.exhibition {
  display: block;
  line-height: 1.25;
  position: relative;

  &:hover .exhibitionImage {
    filter: none;
  }
}

.exhibitionImage {
  filter: sepia(1) hue-rotate(340deg) brightness(0.8);
  object-fit: contain;
  z-index: -1;
}

.exhibitionContent {
  position: relative;
  /* 239px / 334px ratio */
  overflow: hidden;
}

.exhibitionList {
  @media (min-width: smallRem) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.25rem;
  }
}

.exhibitionList .exhibition {
  @media (min-width: smallRem) {
  }
}

.exhibitionList .exhibition:first-child {
  @media (min-width: smallRem) {
    grid-column-end: 3;
    grid-column-start: 1;
  }

  & .exhibitionContent {
    display: flex;
    flex-direction: row;
  }

  & .overlay {
    margin: 0.5rem;
    width: 50%;
  }

  & img {
    width: 50%;
  }

  & .title {
    @media (min-width: smallRem) {
      font-size: 2rem;
      line-height: 1;
    }

    @media (min-width: mediumRem) {
      font-size: 2.5rem;
    }

    @media (min-width: largeRem) {
      font-size: 2.625rem;
    }
  }
}

.overlay {
  margin: 0.25rem;
}

.exhibition img {
  border-radius: 3px;
}

.title {
  font-family: serifFont;
  font-size: 1.25rem;

  @media (min-width: mediumRem) {
  }
}

.featuredBanner,
.newBanner {
  font-size: 0.875rem;
  font-weight: bold;
  left: 0;
  padding: 0.5rem 0.75rem;
  position: absolute;
  text-transform: uppercase;
  top: 12px;
  z-index: 1;
}

.featuredBanner {
  background-color: featuredBannerColor;
  color: black;
}

.newBanner {
  background-color: linkColor;
  color: white;
}
