@value linkColor, featuredBannerColor, black50 from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../../../css/typography.css";

.wrapper {
  margin: 1rem auto 2rem;
  padding: 0 1rem;

  @media (min-width: largeRem) {
    padding: 0;
    margin-top: 2rem;
  }
}

.row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.firstExhibition {
  @media (min-width: smallRem) {
    width: 66%;
  }

  & .title {
    @media (min-width: smallRem) {
      font-size: 2rem;
      line-height: 1;
    }

    @media (min-width: mediumRem) {
      font-size: 2.5rem;
      padding: 0 1.5rem 1.5rem;
    }

    @media (min-width: largeRem) {
      font-size: 2.625rem;
      padding: 0 2rem 2rem;
    }
  }

  & .exhibitionContent {
    background-repeat: no-repeat;
    background-size: cover;
  }

  & img {
    @media (min-width: smallRem) {
      display: none;
    }
  }

  &:hover .exhibitionImage {
    transform: scale(1.17) !important;
  }
}

.exhibition {
  display: block;
  padding: .25rem;
  height: 100%;
  position: relative;

  &:hover .exhibitionImage {
    transform: scale(1.19);
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.exhibitionImage {
  backface-visibility: hidden;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1.15);
  transition: transform .45s ease-in-out;
  width: 100%;
  z-index: -1;
}

.exhibitionContent {
  position: relative;
  /* 239px / 334px ratio */
  padding-top: 71.55%;
  border-radius: 3px;
  overflow: hidden;
}

.threeUp {
  @media (min-width: smallRem) {
    display: flex;
  }
}

.twoVertical {
  @media (min-width: smallRem) {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
}

.remainingExhibitions {
  @media (min-width: smallRem) {
    flex-wrap: wrap;
    display: flex;
  }
}

.remainingExhibitions .exhibition {
  @media (min-width: smallRem) {
    width: 33%;
  }
}

.overlay {
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.95) 100%);
  opacity: 0.9;
  transition: opacity .45s ease-in-out;
}

.exhibition img {
  width: 100%;
  border-radius: 3px;
}

.title {
  max-width: 100%;
  color: white;
  font-family: "Lora";
  font-size: 1.25rem;
  padding: 0 1rem 1rem;

  @media (min-width: mediumRem) {
    padding: 0 1.25rem 1.25rem;
  }
}

.featuredBanner,
.newBanner {
  font-size: 0.875rem;
  font-weight: bold;
  left: 0;
  padding: 0.5rem 0.75rem;
  position: absolute;
  text-transform: uppercase;
  top: 12px;
  z-index: 1;
}

.featuredBanner {
  background-color: featuredBannerColor;
  color: black;
}

.newBanner {
  background-color: linkColor;
  color: white;
}
