@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.wrapper {
  margin: 1rem auto 2rem;
  padding: 0 1rem;

  @media (min-width: $largeRem) {
    padding: 0;
    margin-top: 2rem;
  }
}

.row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.featuredExhibition {
  margin: 0 0 2rem;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $smallRem) {
    background-color: $colderBackgroundColor;
    display: flex;
    margin: 2rem;
  }

  & .imageLink {
    line-height: 0;
  }

  & .exhibitionImage {
    border-radius: 0.2rem 0.2rem 0 0;
    border-bottom: 0.25rem solid $featuredBannerColor;
    width: 100%;

    @media (min-width: $smallRem) {
      border-bottom: none;
      border-radius: 0.2rem 0 0 0.2rem;
      width: auto;
    }
  }

  & .exhibitionText {
    border-left: none;
    display: block;

    @media (min-width: $smallRem) {
      border-left: 0.25rem solid $featuredBannerColor;
    }
  }

  & .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: $smallRem) {
      font-size: 1.75rem;
    }

    @media (min-width: $mediumRem) {
      font-size: 2rem;
    }

    @media (min-width: $largeRem) {
      font-size: 2.25rem;
    }
  }

  & .abstract {
    color: black;
    font-family: $serifFont;
    font-size: 1rem;

    &:hover {
      color: black;
      text-decoration: none;
    }

    @media (min-width: $smallRem) {
      font-size: 1.125rem;
    }

    @media (min-width: $mediumRem) {
      font-size: 1.25rem;
    }

    @media (min-width: $largeRem) {
      font-size: 1.275rem;
    }
  }
}

.exhibitionList {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: $smallRem) {
    grid-template-columns: 1fr 1fr;
  }
}

.exhibition {
  background-color: $colderBackgroundColor;
  display: grid;
  grid-template-columns: 1fr 2fr;
  line-height: 1.25;
  position: relative;

  @media (min-width: $xSmallRem) {
    grid-template-columns: 1fr 3fr;
  }

  &:hover .exhibitionImage {
  }
}

.exhibitionImage {
  border-radius: 0.2rem 0 0 0.2rem;
  width: 100%;
}

.exhibitionText {
  border-left: 0.25rem solid $darkBorderColor;
  display: flex;
  padding: 0.25rem;

  @media (min-width: $smallRem) {
    padding: 0.5rem;
  }
}

.title {
  font-family: $serifFont;
  font-size: 1rem;
  font-weight: normal;
  margin: auto 0;

  @media (min-width: $xSmallRem) {
    font-size: 1.1rem;
  }

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
  }

  @media (min-width: $largeRem) {
    font-size: 1.5rem;
  }
}

.featuredBanner,
.newBanner {
  font-size: 0.875rem;
  font-weight: bold;
  margin-left: -0.25rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.featuredBanner {
  background-color: $featuredBannerColor;
  color: black;
}

.newBanner {
  background-color: $linkColor;
  color: white;
}
