@value smallRem, mediumRem, largeRem from "../../../../css/breakpoints.css";
@value navColor, mobileNavColor from "../../../../css/colors.css";

.wrapper {
  display: block;
  background-color: mobileNavColor;

  /* The GlobalHeader component handles the navigation on larger screens */
  @media (min-width: mediumRem) {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.logo {
  width: 60%;
  max-width: 15rem;
  padding: .5rem 1rem;
  height: 100%;
  display: flex;
}

.logo img {
  width: 100%;
  display: block;
}

.menuButton {
  height: 3.5rem;
  width: 4rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;

  &.isOpen {
    background-color: rgba(0, 0, 0, .15);
  }
}

.searchContainer {
  background-color: navColor;
  height: 0;
  visibility: hidden;
  transition: height 0.15s ease-in-out, visibility 0s 0.15s;
  color: white;

  &.isOpen {
    visibility: visible;
    height: 3.5rem;
    transition: height 0.15s ease-in-out;
  }
}

.searchInput {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0 1rem;
  height: 3.5rem;
  line-height: 1.5;
  color: white;

  /* Remove browser search input defaults */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: white;
    opacity: .5;
  }
}

.menuContainer {
  background-color: navColor;
  margin: auto;
  padding: 0 2rem;
  font-size: 1.25rem;
  width: 100%;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &.isOpen {
    padding: 1rem 2rem;
    visibility: visible;
    max-height: 20em;
  }
}

.links {
  & a {
    color: white;
    display: block;
    margin: .75rem 0;
  }
}

.divider {
  display: none;
}

.secondaryLinks {
  opacity: .85;
}

.tertiaryLinks {
  opacity: .7;
}

.secondaryLinks, .tertiaryLinks {
  margin-top: 1.5rem;
  padding-top: .75rem;
  border-top: .075rem solid rgba(255, 255, 255, 0.5);
}

/* different styles for /search page */

@media (max-width: smallRem) {
  .searchPageWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .searchPageWrapper .searchButton {
    display: none;
  }

  .searchPageWrapper .searchContainer {
    position: relative;
    background-color: mobileNavColor;
    visibility: visible;
    height: 3.5rem;
    padding: .5rem 1rem;
  }

  .searchPageWrapper .searchInput {
    background-color: white;
    height: 32px;
    font-size: 0.875rem;
    border-radius: 1px;
    color: mobileNavColor;
    padding-left: 2rem;
  }

  .searchPageWrapper .searchBarIcon {
    width: 1rem;
    height: 1rem;
    top: 16px;
    left: 23px;
    position: absolute;
    transform: rotate(-90deg);
  }
}
