@value paginationLinkColor, colderBackgroundColor, linkColor from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";
@value sansFont from "../../../css/typography.css";

.pagination {
  display: flex;
  margin-top: 20px;
  text-align: right;
  font-family: sansFont;

  @media (min-width: smallRem) {
    display: block;
  }
}

.link, .link:visited {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
    color: paginationLinkColor;
    font-size: 1.125rem;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 2px;
  }
}

.ellipses {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
  }
}

.link:first-child {
  margin-left: 0;
}

.activeLink, .activeLink:visited {
  color: black;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.link:not(.activeLink):hover {
  background-color: colderBackgroundColor;
}

.nextButton, .previousButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  font-size: 1rem;
  padding: .75rem 2rem;
  @media (min-width: smallRem) {
    font-size: 1.125rem;
    padding: 10px 19px;
    border-radius: 2px;
    width: auto;
    display: inline-flex;
    justify-content: initial;
  }
}

.previousButton, .previousButton:visited {
  background-color: #E3E0DA;
  color: black;
  @media (min-width: smallRem) {
    background-color: colderBackgroundColor;
    color: paginationLinkColor;
    margin-right: 10px;
  }
}

.nextButton, .nextButton:visited {
  background-color: linkColor;
  color: white;
  @media (min-width: smallRem) {
    background-color: colderBackgroundColor;
    color: paginationLinkColor;
    margin-left: 10px;
  }
}

.nextChevron {
  height: 12px;
  width: 6px;
  & path {
    fill: white;
    @media (min-width: smallRem) {
      fill: paginationLinkColor;
    }
  }
  @media (min-width: smallRem) {
    height: 14px;
    width: 8px;
  }
  margin-left: 0.5rem;
}

.prevChevron {
  height: 12px;
  width: 6px;
  transform: rotate(180deg);
  margin-right: 0.5rem;
  & path {
    fill: black;
    @media (min-width: smallRem) {
      fill: paginationLinkColor;
    }
  }
  @media (min-width: smallRem) {
    height: 14px;
    width: 8px;
  }
}

.hideOnLargeScreens {
  cursor: not-allowed;
  @media (min-width: smallRem) {
    display: none;
  }
}
