@import "stylesheets/variables";

.wrapper {
  background-color: $colderBackgroundColor;
}

.content {
  margin: 0 auto;
  padding: 2rem 1rem;

  @media (min-width: $mediumRem) {
    padding: 3rem 1rem;
  }

  @media (min-width: $largeRem) {
    padding: 4rem 0;
  }
}

.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $mediumRem) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.headerText {
  font-family: $serifFont;
  font-weight: normal;
  font-size: 2rem;

  @media (min-width: $smallRem) {
    font-size: 2.25rem;
  }

  @media (min-width: $largeRem) {
    font-size: 3rem;
  }
}

.formWrapper {
  position: relative;
  display: flex;

  &:before {
    @media (min-width: $mediumRem) {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      left: -1.5rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formCallToAction {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: $serifFont;
  font-size: 1rem;
}

.formInputs {
  display: flex;
}

.email, .button {
  padding: 0.75rem 0.5rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;

  @media (min-width: $smallRem) {
    font-size: 1.25rem;
    padding: 1rem 0.75rem;
  }
}

.email {
  width: 70%;
  border-radius: 0.2rem 0 0 0.2rem;
}

.button {
  width: 30%;
  border-radius: 0 0.2rem 0.2rem 0;
  color: white;
  background-color: $secondaryButtonColor;
  cursor: pointer;
}

.miel {
  display: none !important; /* captcha */
}

.interestsContainer {
  display: flex;
  flex-direction: column;
}

.interestsContainer label {
  padding-left: 5px;
}