@value curiousBlue, black, black50 from "../../../../../css/colors.css";

.exhibitionsWrapper {
  padding-top: 40px;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.topThreeExhibitions {
  display: flex;
  box-sizing: border-box;
}

.exhibition {
  height: 100%;
}

.featured {
  flex: 1;
}

.exhibition {
  position: relative;
  margin-bottom: 10px;
  flex-basis: 32%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.exhibition img {
  height: 100%;
}

.exhibitionTitle {
  max-width: 100%;
}

.exhibitions {
  flex-wrap: wrap;
  display: flex;
}
