@value curiousBlue, black, black50 from "../../../../../css/colors.css";

.exhibitionsWrapper {
  padding-top: 40px;
}

.threeUp {
  display: flex;
}

.twoVertical {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 7px);
}

.twoVertical .exhibition:first-child {
  margin-bottom: 7px;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.exhibition {
  width: 100%;
}

.featured {
  margin-right: 10px;
  flex-basis: 66%;
}

.exhibition {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.exhibition img {
  width: 100%;
}

.exhibitionTitle {
  max-width: 100%;
}

.exhibitions {
  flex-wrap: wrap;
  display: flex;
}
