@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.callToAction {
  background-color: white;
  padding: 2rem;

  @media (max-width: $largeRem) {
    padding: 1rem;
  }
}

.callToActionWrapper {
  display: grid;
  grid-row-gap: 1em;
  font-size: 0.75rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: 1rem;
  margin: 0 auto;

  @media (min-width: $smallRem) {
    grid-template-columns: auto 34%;
    grid-template-rows: auto;
    grid-column-gap: 4rem;
  }
}

.callToActionText {
  & h2 {
    font-family: $serifFont;
    font-size: 2.125em;
    font-weight: normal;
  }

  & p {
    font-size: 1.25em;
    margin: 1rem 0;
  }
}

.callToActionButton {
  text-align: center;
}

.callToActionImage {
  & img {
    width: 100%;
  }

  & span {
    color: $dimmedTextColor;
    font-size: 0.8em;
  }

  & strong {
    text-transform: uppercase;
  }
}

.button, .button:visited {
  font-size: 1.125rem;
  color: white;
  background-color: $secondaryButtonColor;
  font-weight: normal;
  border-radius: 2px;
  padding: .75rem 2rem;
  transition: background-color .15s ease-out;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: $darkSecondaryButtonColor;
  }
}
