@import "stylesheets/variables";

.wrapper {
  background-color: $warmerBackgroundColor;
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $mediumRem) {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.text {
  font-weight: normal;
  font-size: 1.5rem;
  font-family: $serifFont;
  line-height: 1.25;

  @media (min-width: $mediumRem) {
    font-size: 2.5rem;
    padding-right: 1rem;
    width: 30%;

    &.long {
      width: auto;
    }
  }

  @media (min-width: $largeRem) {
    font-size: 3rem;
  }
}

.description {
  color: $dimmedTextColor;
  line-height: 1.25;
  margin-top: 0.5rem;

  @media (min-width: $mediumRem) {
    padding-left: 1rem;
    font-size: 1.25rem;
    border-left: 1px solid $lightBorderColor;
    width: 70%;
  }

  @media (min-width: $largeRem) {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }
}
