@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.wrapper {
  width: 100%;
}

.resourcesTabs {
  padding-top: 0;
  padding-bottom: 0;
}

.tabsWrapper {
  background-color: $warmerBackgroundColor;
  width: 100%;
  border-bottom: 1px solid rgba(53, 53, 53, 0.1);
  margin-bottom: 1rem;
}

.tabs {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (min-width: $xSmallRem) {
    width: auto;
    padding: 0 1rem;
    display: block;
    text-align: left;
  }
}

.tab {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  margin-right: 1rem;
  flex: 1;
  display: inline-block;

  & a {
    display: block;
    padding: 0;
    text-decoration: none;
    color: black;
    border-bottom: 0.2rem solid transparent;
    height: 100%;

    @media (min-width: $smallRem) {
      padding: 0 1rem 1rem;
    }

    &:hover {
      text-decoration: none;
      border-bottom-color: black;
    }
  }

  @media (min-width: $smallRem) {
    margin-right: 0;
    font-size: 1rem;
  }
}

.activeTab a, .activeTab a:hover {
  color: $linkColor;
  border-bottom: 0.2rem solid $linkColor;
}

.tab:last-child {
  margin-right: 0;
}

.hideOnSmallScreen {
  display: none;
  @media (min-width: $smallRem) {
    display: inline-block;
  }
}
