---

files:
    "/etc/nginx/pss-redirects2.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/(1[89]|2[0-9]|3[01])$ /primary-source-sets/a-raisin-in-the-sun-by-lorraine-hansberry/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(125[3-9]|126[0-7])$ /primary-source-sets/act-up-and-the-aids-crisis/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(83[89]|84[0-8])$ /primary-source-sets/african-american-soldiers-in-world-war-i/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(39[6-9]|40[0-7])$ /primary-source-sets/american-imperialism-the-spanish-american-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(3[2-9]|4[0-7])$ /primary-source-sets/american-indian-boarding-schools/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(47[4-9]|48[0-6])$ /primary-source-sets/attacks-on-american-soil-pearl-harbor-and-september-11/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(146[4-9]|147[0-9]|148[0-3])$ /primary-source-sets/battle-of-gettysburg/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(181[6-9]|182[0-9])$ /primary-source-sets/beginnings-of-the-american-red-cross/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(57[6-9]|58[0-6])$ /primary-source-sets/beloved-by-toni-morrison/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(142[2-9]|143[0-6])$ /primary-source-sets/blackface-minstrelsy-in-modern-america/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(86[1-9]|87[0-5])$ /primary-source-sets/boomtimes-again-twentieth-century-mining-in-the-mojave-desert/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(87[6-9]|88[0-8])$ /primary-source-sets/busing-beyond-school-desegregation-in-boston/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(190[3-9]|191[0-7])$ /primary-source-sets/california-gold-rush/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1499|150[0-9]|151[0-2])$ /primary-source-sets/cherokee-removal-and-the-trail-of-tears/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(60[0-9]|61[0-4])$ /primary-source-sets/colonial-religion/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1789|179[0-9]|180[01])$ /primary-source-sets/commodore-perry-s-expedition-to-japan/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(187[3-9]|188[0-7])$ /primary-source-sets/cotton-gin-and-the-expansion-of-slavery/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(42[0-9]|43[01])$ /primary-source-sets/creating-the-us-constitution/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(61[5-9]|62[0-9])$ /primary-source-sets/cross-cultural-colonial-conflicts/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(167[4-9]|168[0-8])$ /primary-source-sets/cuban-immigration-after-the-revolution-1959-1973/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(889|89[0-9]|900)$ /primary-source-sets/declaration-of-the-rights-of-man-and-of-the-citizen/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(134[2-9]|135[0-6])$ /primary-source-sets/dutch-new-netherland/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(7[89]|8[0-9]|9[01])$ /primary-source-sets/early-chinese-immigration-to-the-us/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(70[5-9]|71[0-9])$ /primary-source-sets/electrifying-america/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(153[6-9]|154[0-9])$ /primary-source-sets/elie-wiesel-s-night-and-the-holocaust/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(91[3-9]|92[0-3])$ /primary-source-sets/environmental-preservation-in-the-progressive-era/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(162[0-9]|163[0-3])$ /primary-source-sets/eugenics-movement-in-the-united-states/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1659|166[0-9]|167[0-3])$ /primary-source-sets/exodusters-african-american-migration-to-the-great-plains/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(40[89]|41[0-9])$ /primary-source-sets/exploration-of-the-americas/sources/$2 permanent;

            rewrite ^/primary-source-sets/sources/1763$ /primary-source-sets/fake-news-in-the-1890s-yellow-journalism/sources/1763 permanent;
