@import "stylesheets/variables";

.sidebar {
  background-color: $warmerBackgroundColor;
  padding: 1rem 1.5rem;

  & .link {
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0.5rem;
  }

  & .link.selected {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    position: relative;
  }

  @media (min-width: $mediumRem) {
    background-color: transparent;
    padding: 0 1.25rem 0 0;

    /* inline-block to prevent the divider from spanning the full width */
    display: inline-block;
  }
}

.sidebar ul ul {
  margin-left: 1rem;

  @media (min-width: $mediumRem) {
    margin-left: 1.3rem;
  }
}

.link {
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $mediumRem) {
    font-size: 1.2rem;
  }
}

.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 1rem 0;

  @media (min-width: $mediumRem) {
    margin: 1.25rem 0;
  }
}

.selected::after {
  display: block;
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  top: 0.5rem;
  left: -0.75rem;
  background-color: $linkColor;
  border-radius: 50%;

  @media (min-width: $mediumRem) {
    top: 0.6rem;
  }
}
