@value bambooOrange, visualBrown, pampasBrown from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.sidebar {
  background-color: pampasBrown;
  padding: 1rem 1.5rem;

  & a {
    color: rgba(0, 0, 0, 0.65);
  }

  @media (min-width: mediumRem) {
    background-color: transparent;
    padding: 0 1.25rem 0 0;
    /* inline-block to prevent the divider from spanning the full width */
    display: inline-block;
  }
}

.sidebar ul ul {
  margin-left: 1rem;

  @media (min-width: mediumRem) {
    margin-left: 1.3rem;
  }

  & .selected::after {
    top: .45rem;

    @media (min-width: mediumRem) {
      top: .6rem;
    }
  }

  & .link {
    margin-bottom: .35rem;
  }
}

.link {
  font-size: 1rem;
  margin-bottom: .55rem;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: mediumRem) {
    font-size: 1.2rem;
  }
}

.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 1rem 0;

  @media (min-width: mediumRem) {
    margin: 1.25rem 0;
  }
}

.selected {
  font-weight: bold;
  position: relative;

  & a {
    color: rgba(0, 0, 0, 1);
  }
}

.selected::after {
  display: block;
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  top: .45rem;
  left: -10px;
  background-color: bambooOrange;
  border-radius: 50%;

  @media (min-width: mediumRem) {
    top: .6rem;
  }
}
