@value linkColor, warmerBackgroundColor, secondaryButtonColor from "../../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../../css/breakpoints.css";

.wrapper {
  padding: 0.75rem 0 0 0;
  @media (min-width: smallRem) {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: warmerBackgroundColor;
  }
}

.sourceCarousel {
  padding-right: 0;
  padding-left: 0;
  /* overrides for react-slick css*/
  & :global .slick-prev:before,
  & :global .slick-next:before {
    content: none;
  }
  & :global .slick-disabled,
  & :global .slick-next,
  & :global .slick-prev {
    display: none;
  }
  @media (min-width: smallRem) {
    padding-right: 1rem;
    padding-left: 1rem;
    & :global .slick-next,
    & :global .slick-prev {
      display: block;
    }
  }



}

:global .slick-list {
  display: none;
  @media (min-width: smallRem) {
    display: block;
  }
}

.headerAndNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  @media (min-width: smallRem) {
    margin-bottom: 1rem;
  }
}

@media (min-width: smallRem) {
  .headerAndNav {
    flex-direction: row;
  }
}

.header {
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 1rem;
  @media (min-width: smallRem) {
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

.items {
  display: flex;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.item:last-child {
  margin-right: 0;
}

.itemText p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0 5px;
}

.itemImgWrapper {
  margin-bottom: 0.5rem;
  width: calc(100% - 0.5rem);
  align-items: center;
  background-size: cover;
  padding-top: 7rem;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.currentItemImgWrapper {
  padding-top: calc(7rem - 12px);
  border: 6px solid secondaryButtonColor;
}

@media (min-width: smallRem) {
  .itemImg {
    max-width: calc(100% - 0.5rem);
  }
}

.prevAndNextButtons {
  display: flex;
  text-align: center;
  margin-top: 0.75rem;
  justify-content: flex-end;
  width: 100%;
  @media (min-width: smallRem) {
    width: auto;
  }
}

.prevArrow {
  position: absolute;
  left: -45px;
  z-index: 1;
  font-size: 50px;
  top: 30px;
  cursor: pointer;
  display: none;
  @media (min-width: smallRem) {
    display: block;
  }
 }

.nextArrow {
  position: absolute;
  right: -45px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
  display: none;
  @media (min-width: smallRem) {
    display: block;
  }
 }

.nextChevron {
  width: 25px;
  height: 48px;
}

.backChevron {
  width: 25px;
  height: 48px;
  transform: rotate(180deg);
}

.smallChevron {
  width: 5px;
  height: 0.5rem;
  position: relative;
  padding-left: 6px;
}

.nextItemButton,
.previousItemButton {
  width: 100%;
  font-size: 1rem;
  padding: .75rem 2rem;
  font-weight: 600;
  @media (min-width: smallRem) {
    padding: 0;
    width: auto;
  }
}

.nextItemButton {
  background-color: linkColor;
  color: white;
  @media (min-width: smallRem) {
    background-color: transparent;
  }
  @media (min-width: smallRem) {
    color: linkColor;
  }
}

.previousItemButton {
  color: black;
  background-color: #E3E0DA;
  @media (min-width: smallRem) {
    margin-right: 1rem;
    color: linkColor;
    background-color: transparent;
  }
}

.disabledNextOrPrevButton {
  cursor: not-allowed;
  @media (min-width: smallRem) {
    display: none;
  }
}

.nextOrPrevItemArrow:first-child {
  margin-right: 30px;
}

.prevItemArrow {
  transform: rotate(180deg);
  position: relative;
  top: 1px;
  & path {
    fill: black;
  }
  margin-right: 0.5rem;
  width: 7px;
  height: 12px;
  @media (min-width: smallRem) {
    position: static;
    margin-right: 0;
    width: 5px;
    height: 0.5rem;
    & path {
      fill: linkColor;
    }
  }
}

.nextItemArrow {
  position: relative;
  top: 1px;
  margin-left: 0.5rem;
  width: 7px;
  height: 12px;
  & path {
    fill: white;
  }
  @media (min-width: smallRem) {
    position: static;
    margin-left: 0;
    width: 5px;
    height: 0.5rem;
    & path {
      fill: linkColor;
    }
  }
}

.linkToSourceSet {
  display: inline-block;
}

/* react-slick style overrides */

.sourceCarousel :global(.slick-list) {
  padding: 0 6px;
}

.defaultImageWrapper {
  background-color: warmerBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    opacity: 0.35;
    min-width: auto;
    min-height: auto;
  }
}


.carouselNavArrow {
  display: none;
}
