@value romanceGray, onionBrown, visualBrown, curiousBlue, bambooOrange, casablancaOrange from "../../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../../css/breakpoints.css";

.wrapper {
  background-color: visualBrown;
}

.headerAndNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: smallRem) {
  .headerAndNav {
    flex-direction: row;
  }
}

.header {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

.items {
  display: flex;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.item:last-child {
  margin-right: 0;
}

.itemText {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0 5px;
}

.itemImgWrapper {
  margin-bottom: 9px;
  width: calc(100% - 9px);
  height: 117px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.itemImg {
  min-width: 100%;
  min-height: 100%;
}

.currentItemImgWrapper {
  border: 6px solid casablancaOrange;
  box-sizing: border-box;
}

@media (min-width: smallRem) {
  .itemImg {
    max-width: calc(100% - 9px);
  }
}

.prevArrow {
  position: absolute;
  left: -45px;
  z-index: 1;
  font-size: 50px;
  top: 30px;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  right: -45px;
  z-index: 1;
  font-size: 50px;
  top: 56px;
  cursor: pointer;
}

.nextChevron {
  width: 25px;
  height: 48px;
}

.backChevron {
  width: 25px;
  height: 48px;
  transform: rotate(180deg);
}

.smallChevron {
  width: 5px;
  height: 9px;
  position: relative;
  padding-left: 6px;
}

.nextOrPrevItemArrow {
  color: bambooOrange;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.nextOrPrevItemArrow:first-child {
  margin-right: 30px;
}

.prevItemArrow {
  transform: rotate(180deg);
}

.linkToSourceSet {
  color: bambooOrange;
  border-bottom: 1px solid bambooOrange;
}

/* react-slick style overrides */

.sourceCarousel :global(.slick-list) {
  padding: 0 6px;
}

.sourceCarousel :global(.slick-next), .sourceCarousel :global(.slick-prev) {
  position: static;
}
