@value pampasBrown, bambooOrange from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.wrapper {
  background-color: pampasBrown;
  padding: 1.5rem 0;
}

.otherInfo {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: smallRem) {
    flex-direction: row;
  }
}

.p {
  font-size: 0.875rem;
  @media (min-width: smallRem) {
    max-width: 450px;
  }
}

.p:first-child {
  margin-bottom: 1rem;
  @media (min-width: smallRem) {
    margin-bottom: 0
  }
}
