@import "stylesheets/colors";
@import "stylesheets/breakpoints";

.wrapper {
  background-color: $warmerBackgroundColor;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: $smallRem) {
    flex-direction: row;
  }
}

.p {
  font-size: 0.875rem;
  @media (min-width: $smallRem) {
    max-width: 450px;
  }
}

.p:first-child {
  margin-bottom: 1rem;
  @media (min-width: $smallRem) {
    margin-bottom: 0;
  }
}
