@value pampasBrown, bambooOrange from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.wrapper {
  background-color: pampasBrown;
  padding: 1.5rem 0;
  @media (min-width: smallRem) {
    margin-top: 2rem;
  }
}

.otherInfo {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
}

.p {
  max-width: 450px;
  font-size: 0.875rem;
  line-height: 1rem;
}
