@import "stylesheets/variables";

.wrapper {
  background-color: $heroBackgroundColor;
  background-size: cover;
  color: white;

  &.withFeature {
    margin-bottom: -5rem;
    padding-bottom: 7rem; /* adds 5rem to allow for overlapping feature */
  }

  @media (min-width: $mediumRem) {
    padding-top: 2rem;
  }
}

.header {
  background-color: transparent;
  display: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;

  @media (min-width: $mediumRem) {
    display: flex;
  }

  @media (min-width: $largeRem) {
    padding: 0;
  }
}

.homeLogo {
  display: flex;
  width: 24rem;

  & h1 {
    margin-left: -1000rem;
  }
}

.dplaLogo {
  background: url("/static/images/dpla-logo.svg") no-repeat 0 50%;
}

.localLogo {
  height: 3.5rem;
  max-width: 16rem;

  @media (min-width: $mediumRem) {
    height: 4.5rem;
    max-width: 18rem;
  }
}

.localText {
  height: 1px;
  overflow: hidden;
  width: 1px;
}

.content {
  margin: auto;
  padding: 2rem 1rem;
  max-width: 44rem;

  @media (min-width: $mediumRem) {
    padding: 2rem 0;
  }

  @media (min-width: $largeRem) {
    padding: 2rem 0;
  }
}

.headline {
  font-family: $serifFont;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.25;
  padding: 0;
  text-align: center;

  @media (min-width: $smallRem) {
    font-size: 1.5rem;
  }

  @media (min-width: $mediumRem) {
    font-size: 2.25rem;
  }
}

.chevron {
  height: 14px;
  right: 24px;
  position: absolute;
  margin-top: 2px;
  transform: rotate(90deg);
  width: 8px;
}

.search {
  height: 3rem;
  margin-top: 2rem;
  position: relative;

  &:focus {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.35);
  }

  @media (min-width: $mediumRem) {
    height: 4rem;
  }
}

.searchInput {
  appearance: none;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  height: 100%;
  line-height: 1.5;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 1;

  /* Remove browser search input defaults */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  &::placeholder {
    transition: opacity 0.15s ease-out;
    color: $mobileNavColor;
  }

  &:focus + .shadow {
    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0.25;
  }

  @media (min-width: $mediumRem) {
    border-radius: 3px;
    padding-left: 1.5rem;

    /* Clear right for button */
    padding-right: 11rem;
    font-size: 1.2rem;
  }
}

.searchButton {
  transition: background-color 0.2s ease-out;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: $secondaryButtonColor;
  color: white;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 0 3px 3px 0;
  z-index: 2;

  &:hover {
    background-color: $darkSecondaryButtonColor;
  }

  @media (min-width: $mediumRem) {
    display: flex;
    font-size: 1.2rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
  }
}

.links {
  font-size: 1rem;
  margin: 2rem auto 0;
  text-align: center;

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
  }

  & a, & a:visited {
    display: inline-block;
    margin: 0.75rem 1rem 0;
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
