@value bambooOrange, mysticGray, elephantBlue, vikingBlue, white50 from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.wrapper {
  background-color: rgb(47, 74, 87);
  background-size: cover;
  color: white;

  @media (min-width: mediumRem) {
    padding-top: 2rem;
  }
}

.header {
  background-color: transparent;
  display: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;

  @media (min-width: mediumRem) {
    display: flex;
  }

  @media (min-width: largeRem) {
    padding: 0;
  }
}

.dplaLogo {
  width: 24rem;
}

.content {
  margin: auto;
  padding: 2rem 1rem 3rem;
  max-width: 44rem;

  @media (min-width: mediumRem) {
    padding: 4rem 0 6rem;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0 8rem;
  }
}

.headline {
  font-family: 'Lora';
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.25;
  padding: 0 1rem;
  text-align: center;

  @media (min-width: smallRem) {
    font-size: 1.5rem;
  }

  @media (min-width: mediumRem) {
    font-size: 2.25rem;
  }
}

.chevron {
  height: 14px;
  right: 24px;
  position: absolute;
  margin-top: 2px;
  transform: rotate(90deg);
  width: 8px;
}

.search {
  height: 3rem;
  margin-top: 2rem;
  position: relative;

  &:focus {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.35);
  }

  @media (min-width: mediumRem) {
    height: 4rem;
  }

  @media (min-width: largeRem) {
    margin-top: 4rem;
  }
}

.shadow {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: .25;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-out;
  width: 100%;
}

.searchInput {
  appearance: none;
  border-radius: 3px;
  border: none;
  height: 100%;
  line-height: 1.5;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 1;

  /* Remove browser search input defaults */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  &::placeholder {
    transition: opacity .15s ease-out;
    color: elephantBlue;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:focus + .shadow {
    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0.25;
  }

  @media (min-width: mediumRem) {
    border-radius: 3px;
    padding-left: 1.5rem;
    /* Clear right for button */
    padding-right: 11rem;
    font-size: 1.2rem;
  }
}

.searchButton {
  transition: background-color .2s ease-out;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: vikingBlue;
  display: none;
  color: white;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 0 3px 3px 0;
  z-index: 2;

  &:hover {
    background-color: #53A9D2;
  }

  @media (min-width: mediumRem) {
    display: flex;
    font-size: 1.2rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
  }
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-top: .05rem;
  margin-right: .5rem;

  @media (min-width: mediumRem) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.links {
  font-size: 1rem;
  margin: 2rem auto 0;
  text-align: center;

  @media (min-width: mediumRem) {
    font-size: 1.25rem;
  }

  & a {
    display: inline-block;
    margin: 0 1rem;
    color: white;
  }
}
