@value warmerBackgroundColor from "../../../css/colors.css";

.subitems {
  height: auto;
  background-color: warmerBackgroundColor;
  padding: 9px 11px 13px;
  max-height: 240px;
  overflow-y: scroll;
}

.inactive .subitems {
  overflow: hidden;
  padding: 0 !important;
  height: 0;
}

.inactive, .active {
  position: relative;
}

.itemHeader {
  background-color: warmerBackgroundColor;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  padding: 10px 13px 10px 11px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.inactive:last-of-type .itemHeader {
  box-shadow: initial;
}

.addIcon, .subtractIcon {
  flex-shrink: 1;
}

.addIcon {
  height: 12px;
  width: 12px;
}

.subtractIcon {
  height: 3px;
  width: 15px;
}
