.subitems {
  height: auto;
  background-color: var(--warmerBackgroundColor);
  font-size: 0.875rem;
  padding: 0.5rem 0.7rem 0.7rem;
  max-height: 18rem;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;

  &.date {
    overflow-y: auto;
  }
}

.inactive .subitems {
  visibility: hidden;
  padding: 0 0.7rem;
  max-height: 0;
}

.inactive, .active {
  position: relative;
}

.active {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
}

.itemHeaderRow {
  align-items: center;
  background-color: var(--warmerBackgroundColor);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 1.1875;
  padding: 10px 11px;
}

.titleAndInfo {
  align-items: center;
  display: flex;
  flex: 1;
}

.itemTitle {
  align-items: center;
  display: flex;
  font-size: 0.9375rem;
  font-weight: 600;

  h3 {
    margin: 0;
  }
}

.titleButton {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
}

.iconWrapper {
  align-items: center;
  display: flex;
  padding: 0 2px;
}

.inactive:last-of-type .itemHeaderRow {
  border-bottom: none;
}

.infoLink {
  align-items: center;
  display: inline-flex;
  margin-left: 0.25rem;
}

.addIcon, .subtractIcon {
  align-self: center;
}

.addIcon {
  height: 12px;
  width: 12px;
}

.subtractIcon {
  height: 3px;
  width: 15px;
}

.informationIcon {
  width: 15px;
  height: 15px;
  margin: 0 .4em;
  padding: 0;
  vertical-align: bottom;
  filter: invert(61%) sepia(24%) saturate(666%) hue-rotate(153deg) brightness(90%) contrast(84%);
}