.wrapper {
  width: 100%;
  height: 100%;
}

.grid {
  list-style: none;
}

.gridItem {
  width: calc(33% - 10px); /* accounts for padding */
}

.image {
  width: 100%;
}

.link {
  display: block;
}
