@value visualBrown from "../../../../css/colors.css";

.sourceSetSources {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  padding-top: 50px;
}

.set {
  flex-basis: calc(25% - 15px);
  margin-right: 20px;
  margin-bottom: 28px;
}

.set:nth-child(4n) {
  margin-right: 0;
}

.imageWrapper {
  background-color: visualBrown;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 172px;
  margin-bottom: 9px;
}

.defaultImageWrapper {
  opacity: 0.35;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
