@value warmerBackgroundColor from "../../../../css/colors.css";
@value xSmallRem, smallRem, largeRem from "../../../../css/breakpoints.css";

.sourceSetSources {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  @media (min-width: largeRem) {
    margin-top: 3rem;
  }
}

.set {
  flex-basis: calc(50% - 0.25rem);
  margin-right: 0.25rem;
  &:nth-child(2n) {
    margin-right: 0;
  }
  margin-bottom: 28px;
  @media (min-width: xSmallRem) {
    flex-basis: calc(33% - 15px);
    margin-right: 29px;
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media (min-width: smallRem) {
    flex-basis: calc(25% - 15px);
    margin-right: 20px;
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 20px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.imageWrapper {
  background-color: warmerBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  position: relative;
  height: 180px;
  @media (min-width: smallRem) {
  }
}

.defaultImageWrapper {
  & img {
    height: auto;
  }
}

.image {
  margin: .5rem;
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: 0.75rem;
  @media (min-width: smallRem) {
    font-size: 0.875rem;
  }
}
