@value visualBrown, bambooOrange, elephantBlue, vikingBlue from "../../../css/colors.css";

.filtersListWrapper {
  background-color: visualBrown;
  width: 100%;
  box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,0.05);
}

.filtersList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.labelAndFilters {
  display: flex;
  align-items: center;
}

.labelText {
  color: elephantBlue;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
  align-self: baseline;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
}

.filter {
  background-color: vikingBlue;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 0.5rem;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.filterLink {
  padding: 4px 8px;
  display: inline-block;
}

.xIcon {
  width: 9px;
  height: 9px;
}

.clearAll {
  color: bambooOrange;
  font-weight: 600;
  font-size: 1rem;
  flex-shrink: 0;
  align-self: baseline;
}
