@value visualBrown, linkColor, elephantBlue, vikingBlue from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.filtersListWrapper {
  background-color: linkColor;
  width: 100%;
  @media (min-width: smallRem) {
    background-color: visualBrown;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}

.filtersList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  @media (min-width: smallRem) {
    height: auto;
    padding: 0.75rem 1rem 0.5rem;
  }
}

.labelAndFilters {
  display: none;
  @media (min-width: smallRem) {
    display: flex;
    align-items: center;
  }
}

.labelText {
  color: elephantBlue;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
  align-self: baseline;
  margin-top: 2px;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
}

.filter {
  background-color: vikingBlue;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 0.5rem;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.filterLink {
  padding: 4px 8px;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.filterText {
  margin-right: 0.5rem;
  color: white;
}

.closeIcon {
  width: 9px;
  height: 9px;
}

.clearAll {
  color: white;
  font-weight: 600;
  flex-shrink: 0;
  font-size: 0.875rem;
  margin-top: 2px;

  &:hover span {
    text-decoration: underline;
  }

  @media (min-width: smallRem) {
    font-size: 1rem;
    align-self: baseline;
    color: linkColor;
  }
}

.clearAllIcon {
  height: 12px;
  width: 12px;
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

.clearAllIconPath {
  fill: white;
  @media (min-width: smallRem) {
    fill: linkColor;
  }
}
