@value curiousBlue, black, black50 from "../../../../../css/colors.css";

.setsWrapper {
  padding-top: 40px;
}

.sets {
  display: flex;
  flex-wrap: wrap;
}

.set {
  flex-basis: calc(33% - 4px);
  padding-right: 10px;
  margin-bottom: 36px;
}

.set:nth-child(3n) {
  padding-right: 0;
}

.image {
  border-radius: 3px;
  max-width: 100%;
  margin-bottom: 10px;
}

.itemCount {
  opacity: 0.50;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.title {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: black;
  margin-bottom: 4px;
}

.timePeriod {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: black50;
  font-weight: normal;
  margin-bottom: 1px;
}

.tags {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: curiousBlue;
  font-weight: normal;
}

.tag {
  display: inline;
}
