@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.wrapper {
  width: 100%;
  background-color: $warmerBackgroundColor;
}

.sourceSetInfo {
  padding: 0 0 2rem 0;

  @media (min-width: $smallRem) {
    padding: 1.5rem 1rem 3rem;
  }

  @media (min-width: $largeRem) {
    padding-left: 0;
    padding-right: 0;
  }

  @media print {
    padding-bottom: 0;
  }
}

.removeScroll {
  margin-right: 0;
  padding-right: 0;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  @media (min-width: $smallRem) {
    margin-bottom: 1.5rem;
  }

  @media print {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.bannerImage {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 42%;
  width: 100%;

  @media (min-width: $smallRem) {
    border-radius: 3px;
  }

  @media print {
    padding: 0;
  }
}

.bannerTextWrapper {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
  position: absolute;
  top: 0;

  @media (min-width: $mediumRem) {
    padding: 1.5rem;
    border-radius: 3px;
  }

  @media (min-width: $largeRem) {
    padding: 2rem;
  }

  @media print {
    background: transparent;
    padding: 0;
    position: relative;
  }
}

.bannerTitle {
  font-family: $serifFont;
  font-weight: normal;
  font-size: 1.5rem;
  color: white;
  line-height: 1.1;

  @media (min-width: $smallRem) {
    font-size: 2rem;
  }

  @media (min-width: $largeRem) {
    font-size: 2.5rem;
  }

  @media print {
    color: black;
  }
}

.showMore {
  cursor: pointer;
  display: block;
  padding: 0.25rem 0;
  border-top: 0.075rem solid gray;

  &.open {
    display: none;
  }

  @media (max-width: $mediumRem) {
    padding: 0.25rem 1rem 1rem;
    font-size: 0.9rem;
  }

  @media print {
    display: none;
  }
}

.description {
  font-size: 0.875rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  max-height: 5.5rem;
  overflow: hidden;
  font-family: $serifFont;

  @media print {
    overflow: inherit;
    max-height: none;
    padding-bottom: 1rem;
  }

  &.open {
    max-height: none;
  }

  @media (max-width: $mediumRem) {
    margin-bottom: 0;

    &.open {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: $smallRem) {
    font-size: 1.125rem;
    padding: 0;
    margin-bottom: 2rem;
  }
  @media (min-width: $mediumRem) {
    margin-bottom: 0;
  }

  & p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}

.sidebar {
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 1rem 1rem 1.5rem;
  margin: 0 1rem;
  border-radius: 3px;
  align-self: baseline;

  @media (min-width: $smallRem) {
    margin: 0;
  }
}

.metadata {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}

.metadatum {
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.125;
}

.metadataHeader {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 6px;
}

.button {
  width: 100%;
}

.citeButton {
  width: 100%;
  text-align: center;
  background-color: $colderBackgroundColor;
}

.link p {
  display: inline;
}

.comma {
  color: $linkColor;
}
