@value visualBrown, bambooOrange, cranberry, softPeach, iceBlue, curiousBlue, cascadeBlue from "../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../css/breakpoints.css";

.wrapper {
  width: 100%;
  background-color: visualBrown;
}

.sourceSetInfo {
  padding: 0 0 2rem 0;

  @media (min-width: smallRem) {
    padding: 1.5rem 1rem 3rem;
  }

  @media (min-width: largeRem) {
    padding-left: 0;
    padding-right: 0;
  }

  @media print {
    padding-bottom: 0;
  }
}

.removeScroll {
  margin-right: 0;
  padding-right: 0;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  @media (min-width: smallRem) {
    margin-bottom: 1.5rem;
  }

  @media print {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.bannerImage {
  width: 100%;
  padding-top: 42%;
  opacity: 0.95;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: smallRem) {
    border-radius: 3px;
  }

  @media print {
    padding: 0;
  }
}

.bannerTextWrapper {
  background: linear-gradient(180deg, rgba(54, 44, 36, 0) 0%, #312921 100%);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
  position: absolute;
  top: 0;

  @media (min-width: mediumRem) {
    padding: 1.5rem;
    border-radius: 3px;
  }

  @media (min-width: largeRem) {
    padding: 2rem;
  }

  @media print {
    background: transparent;
    padding: 0;
    position: relative;
  }
}

.bannerTitle {
  font-family: "Lora";
  font-weight: normal;
  font-size: 1.5rem;
  color: white;
  line-height: 1.1;

  @media (min-width: smallRem) {
    font-size: 2rem;
  }

  @media (min-width: largeRem) {
    font-size: 2.5rem;
  }

  @media print {
    color: black;
  }
}

.showMore {
  cursor: pointer;
  display: block;
  padding: .25rem 0;
  border-top: .075rem solid gray;

  @media (max-width: mediumRem) {
    padding: .25rem 1rem 1rem;
  }
}

.description {
  font-size: 0.875rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  max-height: 4.75rem;
  overflow: hidden;

  &.open {
    max-height: none;
  }

  @media (max-width: mediumRem) {
    margin-bottom: 0;

    &.open {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: smallRem) {
    font-size: 1.125rem;
    padding: 0;
    margin-bottom: 2rem;
  }
  @media (min-width: mediumRem) {
    margin-bottom: 0;
  }

  & p {
    margin-bottom: 1rem;
    @media (min-width: smallRem) {
      margin-bottom: 1.5rem;
    }
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

.sidebar {
  border: 1px solid #E7E7E7;
  background-color: white;
  padding: 1rem 1rem 1.5rem;
  margin: 0 1rem;
  border-radius: 3px;
  align-self: baseline;

  @media (min-width: smallRem) {
    margin: 0;
  }
}

.metadata {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}

.metadatum {
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.metadataHeader {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 6px;
}

.button {
  width: 100%;
}

.citeButton {
  width: 100%;
}

.link p {
  display: inline;
}

.comma {
  color: bambooOrange;
}
