@value visualBrown, cranberry, softPeach, iceBlue, curiousBlue from "../../../../css/colors.css";

.wrapper {
  width: 100%;
  background-color: visualBrown;
}

.sourceSetInfo {
  display: flex;
  padding-bottom: 82px;
  padding-top: 23px;
}

.bannerAndDescription {
  flex-basis: 70%;
  padding-right: 18px;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.bannerImage {
  width: 100%;
  height: 169px;
  opacity: 0.95;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.bannerTextWrapper {
  background: linear-gradient(180deg, rgba(54, 44, 36, 0) 0%, #312921 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 11px 22px;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
}

.bannerResourceType {
  text-transform: uppercase;
  padding-right: 18px;
  font-size: 1rem;
  line-height: 0.9375rem;
  font-weight: bold;
  opacity: 0.85;
  margin-bottom: 1px;
  color: white;
}

.bannerTitle {
  font-family: "Lora";
  font-size: 2.875rem;
  line-height: 3.4375rem;
  font-weight: normal;
  color: white;
}

.description {
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.sidebar {
  border: 1px solid #E7E7E7;
  background-color: white;
  padding: 19px 20px 26px;
  flex: 1;
  border-radius: 3px;
  align-self: baseline;
}

.metadata {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}

.metadatum {
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.metadataHeader {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 6px;
}

.button {
  display: block;
  padding: 10px 0;
  width: 100%;
  border-radius: 2px;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
}

.favoritesButton {
  background-color: softPeach;
  color: cranberry;
  margin-bottom: 15px;
}

.citeButton {
  background-color: iceBlue;
  color: curiousBlue;
}

.heart {
  width: 16px;
  height: 14px;
  margin-right: 9px;
  position: relative;
  top: 1px;
}
