$txGreen: #b7e98a;
$txDkGrey: #454545;
$txLightGrey: #e4e4e4;
$txWhite: #f7f7f7;
$txBlueGreen: #108fad;
$txLink: #237291;

$theme-link-color: $txLink;
$theme-dark-color: darken($txDkGrey, 15%); //header color
$theme-main-color: #454545;
$heroBackgroundColor: lighten($txDkGrey, 30%);
$theme-background-color: $txWhite;
$theme-colder-tint: $txWhite;
$theme-warmer-tint: $txWhite;

$linkColor: $theme-link-color;
$linkHoverColor: lighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
$headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
$mobileNavColor: mix($theme-dark-color, $theme-main-color);
$mobileNavMenuButtonOpen: lighten($theme-dark-color, 5%);
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
$darkSecondaryButtonColor: mix($theme-dark-color, $theme-main-color);
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 25%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
$subLinkColor: $linkColor;
$subLinkColorHover: darken($linkColor, 10%);
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: darken($theme-main-color, 4%); //darken($mobileNavColor, 15%);
