@value elephantBlue from "../../../css/colors.css";

.wrapper {
  border-radius: 3px;
  width: 100%;
}

.button.activeButton {
  background-color: #D4E6EF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

.shareButton {
  padding: 0;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  background-color: #E6F1F6;
  padding: 1rem 2.25rem;
  justify-content: space-between;
  border-radius: 0 0 2px 2px;
}

.facebookIcon {
  width: 1.5rem;
  height: 1.5rem;
  & path {
    fill: elephantBlue;
  }
  &:hover {
    & path {
      opacity: 0.75;
    }
  }
}

.twitterIcon {
  width: 1.8125rem;
  height: 1.5rem;
  & path {
    fill: elephantBlue;
  }
  &:hover {
    & path {
      opacity: 0.75;
    }
  }
}

.googlePlusIcon {
  width: 2rem;
  height: 2rem;
  & path {
    fill: elephantBlue;
  }
  &:hover {
    opacity: 0.75;
  }
}
