@value visualBrown from "../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../css/breakpoints.css";

.featureTitle {
  width: 100%;
}

.partnerBrowse {
  padding-bottom: 5.5rem;
}

.partners:first-child {
  @media (min-width: mediumRem) {
    padding-right: 3rem;
  }
}
.partners:last-child {
  & .partner:last-child {
    border-bottom: none;
  }
  @media (min-width: mediumRem) {
    padding-left: 3rem;
  }
}

.partner:last-child {
  @media (min-width: mediumRem) {
    border: none;
  }
}

.partner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0;
}

.partnerLink {
  display: flex;
  padding: 0.75rem 0 0.5rem 0;
}

.name {
  font-family: "Lora";
  font-size: 1.3125rem;
  max-width: 75%;
  margin-right: 0.75rem;
}

.itemCount {
  margin-left: auto;
  color: #584F41;
  opacity: 0.65;
  font-size: 1.25rem;
}
