@value warmerBackgroundColor, dimmedTextColor from "../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../css/breakpoints.css";
@value monoFont, serifFont from "../../css/typography.css";

.featureTitle {
  width: 100%;
}

.partnerBrowse {
  padding-bottom: 5.5rem;
  line-height: 1.25;
  margin-top: 2rem;

  @media (min-width: largeRem) {
    margin-top: 4rem;
  }
}

.partners {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6rem;

  @media (max-width: mediumRem) {
    grid-template-columns: 1fr;
  }
}

.partnerLink {
  display: flex;
  padding: 0.85rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.name {
  font-family: serifFont;
  font-size: 1.3125rem;
  max-width: 75%;
  margin-right: 0.75rem;
}

.itemCount {
  margin-left: auto;
  color: dimmedTextColor;
  font-size: 1.25rem;
}
