@value pampasBrown from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.wrapper {
  width: 100%;
  height: 44px;
  background-color: pampasBrown;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
}

.breadcrumbsAndNav {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  @media (min-width: smallRem) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
