@value warmerBackgroundColor from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.breadcrumbsAndNav {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  @media (min-width: smallRem) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
