@value pampasBrown, linkColor from "../../../css/colors.css";

.wrapper {
  background-color: pampasBrown;
  padding: 1.5rem 0;
}

.otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.75);
}

.p {
  max-width: 450px;
  font-size: 0.875rem;
  line-height: 1rem;
}
