@value warmerBackgroundColor, linkColor from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.wrapper {
  background-color: warmerBackgroundColor;
  padding: 1.5rem 0;
}

.otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.75);

  @media (max-width: smallRem) {
    flex-direction: column;

    & p {
      margin-bottom: 1rem;
    }
  }
}

p {
  max-width: 450px;
  font-size: 0.875rem;
  line-height: 1rem;
}
