@value pampasBrown from "../../../css/colors.css";
@value smallRem from "../../../css/breakpoints.css";

.wrapper {
  width: 100%;
  padding: 0.75rem 0;
  background-color: pampasBrown;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
}

.breadcrumbsModule {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  @media (min-width: smallRem) {
    align-items: center;
    flex-direction: row;
  }
}
