@import "stylesheets/breakpoints.module";

.itemColumn {
  margin-bottom: 1rem;
}

.item {
  height: 100%;
  text-align: center;
}

.itemLink {
  background-color: var(--colderBackgroundColor);
  border-radius: 0.3rem;
  padding: 3rem 2rem 2rem;
  width: 100%;
  height: 100%;
  display: block;

  &:hover {
    text-decoration: none;
  }

  &:hover h1 {
    text-decoration: underline;
  }

  @media (min-width: $smallRem) {
    padding: 2rem 1.5rem;
  }
}

.itemHeader {
  font-family: var(--serifFont), serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.itemImg {
  max-width: 100%;
  max-height: 7rem;
  margin: 0 auto;
  filter: grayscale(1) sepia(1) hue-rotate(140deg) brightness(1.1);
}

.text {
  color: black;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 22rem;
  text-decoration: none;
}
