$white: #FFFFFF;
$black: #000000;
$riceCakeWhite: #ECE9DA;
$merinoWhite: #FBF8F4;
$alabasterGray: #F4F0E9;
$mysticGray: #DAE4E8;
$romanceGray: #F9F6F0;
$gainsboroGray: #DCDCDC;
$charcoalGray: #424242;
$white60: rgba(255, 255, 255, 0.6);
$white50: rgba(255, 255, 255, 0.5);
$black80: rgba(0, 0, 0, 0.8);
$black60: rgba(0, 0, 0, 0.6);
$black50: rgba(0, 0, 0, 0.5);
$black12: rgba(0, 0, 0, 0.12);
$gray75: rgba(255, 255, 255, 0.75);
$wildSandGray: #F4F4F4;
$casablancaOrange: #F9BA3F;
$bambooOrange: #DD5C00;
$tiberBlue: #0A2A37;
$elephantBlue: #163F51;
$ebonyClayBlue: #273443;
$minuitBlue: #232F3C;
$vikingBlue: #5AB4DC;
$curiousBlue: #269ED4;
$cascadeBlue: #0674A5;
$hippieBlue: #639BB4;
$solitudeBlue: #E2EBEE;
$oysterBayBlue: #D3E2E8;
$iceBlue: #EAF6FC;
$lisbonBrown: #464027;
$vanCleefRed: #563535;
$onionBrown: #493F28;
$pampasBrown: #F3F1EC;
$sisalBrown: #D1CCB6;
$coldTurkeyRed: #D2BFBF;
$silver: #CCCCCC;
$rockBrown: #ECE9DA;
$bonjourRed: #E4DADA;
$dimmerGray: #6D6D6D;
$visualBrown: #F9F8F5;
$softPeach: #F6ECF0;
$cranberry: #E04F8E;

/* semantic colors */

$linkColor: #CA4316;
$linkHoverColor: #CD570A;
$visitedLinkColor: #AD5C1D;
$paginationLinkColor: $cascadeBlue;
$headingColor: $cascadeBlue;
$navColor: $tiberBlue;
$userSiteColor: $hippieBlue;
$proSiteColor: $elephantBlue;
$mobileNavColor: $elephantBlue;
$secondaryButtonColor: #0080a5;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
$darkSecondaryButtonColor: $elephantBlue;
$warmerBackgroundColor: $romanceGray;
$colderBackgroundColor: #F3F7F8;
$lightBorderColor: #E7E7E7;
$lightLinkColor: $casablancaOrange;
$featuredBannerColor: $casablancaOrange;
$subLinkColor: #007294;
$outgoingLinkColor: $subLinkColor;
$dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $cascadeBlue;
$outlineColor: $casablancaOrange;
$formLabelColor: $cascadeBlue;
$errorColor: $linkColor;
$proIconColor: #5d7384;
$radioButtonColor: $gainsboroGray;
$memberColor: #006D84;
$featureBackgroundColor: #CBE3E8;
$footerLightColor: $ebonyClayBlue;
$footerDarkColor: $minuitBlue;