$white: #fff;
$black: #000;
$riceCakeWhite: #ece9da;
$merinoWhite: #fbf8f4;
$alabasterGray: #f4f0e9;
$mysticGray: #dae4e8;
$romanceGray: #f9f6f0;
$gainsboroGray: #dcdcdc;
$charcoalGray: #424242;
$white60: rgba(255, 255, 255, 0.6);
$white50: rgba(255, 255, 255, 0.5);
$black80: rgba(0, 0, 0, 0.8);
$black60: rgba(0, 0, 0, 0.6);
$black50: rgba(0, 0, 0, 0.5);
$black12: rgba(0, 0, 0, 0.12);
$gray75: rgba(255, 255, 255, 0.75);
$wildSandGray: #f4f4f4;
$casablancaOrange: #f9ba3f;
$bambooOrange: #dd5c00;
$tiberBlue: #0a2a37;
$elephantBlue: #163f51;
$ebonyClayBlue: #273443;
$minuitBlue: #232f3c;
$vikingBlue: #5ab4dc;
$curiousBlue: #269ed4;
$cascadeBlue: #0674a5;
$hippieBlue: #639bb4;
$solitudeBlue: #e2ebee;
$oysterBayBlue: #d3e2e8;
$iceBlue: #eaf6fc;
$lisbonBrown: #464027;
$vanCleefRed: #563535;
$onionBrown: #493f28;
$pampasBrown: #f3f1ec;
$sisalBrown: #d1ccb6;
$coldTurkeyRed: #d2bfbf;
$silver: #ccc;
$rockBrown: #ece9da;
$bonjourRed: #e4dada;
$dimmerGray: #6d6d6d;
$visualBrown: #f9f8f5;
$softPeach: #f6ecf0;
$cranberry: #e04f8e;

/* semantic colors */

$linkColor: #ca4316 !default;
$linkHoverColor: #cd570a !default;
$visitedLinkColor: #ad5c1d !default;
$paginationLinkColor: $cascadeBlue !default;
$lightLinkColor: darken($casablancaOrange, 10%) !default;
$subLinkColor: #007294 !default;
$subLinkColorHover: darken($linkColor, 10%);
$lightBorderColor: #e7e7e7 !default;
$darkBorderColor: $hippieBlue !default;
$grayBorderColor: lighten($dimmerGray, 45%) !default;
$headingColor: $cascadeBlue !default;
$navColor: $tiberBlue !default;
$userSiteColor: $hippieBlue !default;
$mobileNavColor: $elephantBlue !default;
$mobileNavMenuButtonOpen: darken($navColor, 10%) !default;
$secondaryButtonColor: #0080a5 !default;
$secondaryColor: $secondaryButtonColor !default;
$primaryBulletColor: $secondaryButtonColor !default;
$secondaryBulletColor: $linkColor !default;
$darkSecondaryButtonColor: $elephantBlue !default;
$warmerBackgroundColor: $romanceGray !default;
$darkerBackgroundColor: darken($warmerBackgroundColor, 20%) !default;
$colderBackgroundColor: #f3f7f8 !default;
$featuredBannerColor: $casablancaOrange !default;
$outgoingLinkColor: $subLinkColor !default;
$dimmedTextColor: $dimmerGray !default;
$donateFormButtonColor: $cascadeBlue !default;
$outlineColor: $casablancaOrange !default;
$formLabelColor: $cascadeBlue !default;
$errorColor: $linkColor !default;
$radioButtonColor: $gainsboroGray !default;
$featureBackgroundColor: #cbe3e8 !default;
$footerLightColor: $ebonyClayBlue !default;
$footerDarkColor: $minuitBlue !default;

// pro colors
$proSiteColor: $elephantBlue !default;
$proIconColor: #5d7384 !default;
$memberColor: #006d84 !default;

@import "theme"; // overrides the values above with ./themes/[LOCAL_ID.theme]/theme
