$monoFont: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
/* serif font stack from https://www.client9.com/css-system-font-stack---serif-medium---v1/ */
$serifFont: "Iowan Old Style", Palatino Linotype, Palatino, serif;
/* sans font stack from https://css-tricks.com/snippets/css/system-font-stack/ */
$sansFont: -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  Helvetica,
  sans-serif;
