@import "colors";
@import "breakpoints";
@import "typography";

.donateBackground {
  background-color: $warmerBackgroundColor;
  background-image: url("/static/images/collage_light.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 1rem;
  padding-bottom: 4rem;

  @media (max-width: $smallRem) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.donateContent {
  background-color: $warmerBackgroundColor;
  margin: 1rem 0 4rem;
  box-shadow: 0 1rem 2rem gray;

  @media (max-width: $smallRem) {
    box-shadow: none;
    margin: 0 -1rem;
  }
}

.donateForm {
  & ul {
    padding: 0;
  }

  & ul li {
    list-style-type: none;
    padding-left: 0.5rem;
    margin: 0;
  }
}

.thankYou {
  & h1 {
    margin-bottom: 1.5rem;
  }
}

.byPaypal, .byMail {
  padding: 2.5rem 2rem;

  @media (max-width: $smallRem) {
    padding: 2.1rem 1rem;
  }

  & h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  & h2 {
    font-size: 1.4rem;
    font-weight: normal;
  }

  & hr {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.byPaypal {
  background-color: white;
  margin: 0 -0.5rem;
}

.otherAmount {
  & input {
    border: 2px solid $colderBackgroundColor;
    padding: 0.6rem 1.6rem;
    width: 100%;
    font-size: 1rem;

    @media (max-width: $mediumRem) {
      padding: 0.6rem 1rem;
    }
  }
}

.donateButton button {
  padding: 0.75rem 2rem;
}

.link {
  color: $linkColor;
}

.testimonial {
  background-color: $proSiteColor;
  color: white;
  padding: 1.6rem 1.5rem;

  & h2 {
    font-family: $serifFont;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
  }

  & p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

.testimonialImage {
  margin-right: -2.2rem;
  margin-bottom: 2rem;

  & span {
    font-size: 0.9rem;
    display: block;
    margin-top: 0.9rem;
  }

  & img {
    width: 100%;
    transform: rotateZ(-1.3deg);
  }

  @media (max-width: $smallRem) {
    margin-right: 0;

    & img {
      transform: none;
    }
  }
}
