@import "stylesheets/variables.module";

h2 {
  margin: 1rem 0;
}

* {
  box-sizing: border-box;
}

select {
  appearance: none;
  background: white url("/static/images/chevron-thick-black-down.svg") no-repeat calc(100% - 0.5rem) center;
  background-size: 0.9em;
  border: 0.075rem solid $formLabelColor;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 0.25rem;
  width: 100%;

  &::-ms-expand {
    display: none;
  }
}

a {
  color: $linkColor;
  text-decoration: none;

  &:global.external {
    background-image: url("/static/images/external-link-blue.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.7em;
    padding-right: 1em;

    &.white {
      background-image: url("/static/images/external-link-white.svg");
      background-position: 90% center;
      padding-right: 0;
    }
  }

  &:visited {
    color: $visitedLinkColor;
  }

  &:hover {
    text-decoration: underline;
  }
}