@import "stylesheets/variables.module";

.wrapper {
  margin-top: 2rem;

  @media (min-width: $mediumRem) {
    margin-top: 0;
  }
}

.itemColumn {
  margin-bottom: 1rem;
}

.guideTitle {
  text-align: center;
}
