@import "stylesheets/variables";

.blocks {
  ul {
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  li {
    align-items: baseline;
    border-bottom: 0.075rem solid $grayBorderColor;
    padding-bottom: 2rem;

    &:hover {
      border-bottom-color: $linkColor;
      text-decoration: none;
    }
  }
}