// Targeted style customizations for local

#njde-localLogo {
  max-width: 25rem !important;
}

#oklahoma-localLogo {
  height: 10rem !important;
}

#oklahoma-intro {
  p {
    margin-bottom: 1.5em !important;
  }
}

#plains2peaks-search-form {
  padding-top: 200px !important;
}

#vermont-localLogo {
  padding-left: 35px;
  height: 8rem !important;
}

#vermont-intro {
  p {
    margin-bottom: 1.5em !important;
  }
}
