.blocks {
  ul {
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  li {
    align-items: baseline;
    border-bottom: 0.075rem solid var(--grayBorderColor);
    padding-bottom: 2rem;

    &:hover {
      border-bottom-color: var(--linkColor);
      text-decoration: none;
    }
  }
}
