@import "stylesheets/colors";
@import "stylesheets/breakpoints";

.search {
  display: flex;
  flex-direction: row;
  height: 2.2rem;
}

.keywordsInput {
  box-sizing: border-box;
  font-size: 1rem;
  border: 0.1rem solid $userSiteColor;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-right: -0.1rem;
  height: 100%;
  width: 60%;

  @media (min-width: $smallRem) {
    width: auto;
  }
}

.searchButton {
  box-sizing: border-box;
  width: 40%;
  height: 100%;

  @media (min-width: $smallRem) {
    width: auto;
  }
}

.tags {
  font-size: 1.125rem;
}

.tags ul, .tags ul li {
  display: inline-block;
}

.tags ul li {
  margin: 0 0 0 0.25em;
}

.tags ul li:not(.donate)::before {
  /* overriding a more global setting. maybe shouldnt be that global? */
  content: "";
}

.tags ul li::after {
  content: ",";
}

.tags ul li:last-child::after {
  content: ".";
}

.resultSummary {
  margin: 0 0 1rem 0;
}

.newsItem {
  position: relative;
  margin-bottom: 3rem;
}

.newsItem::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: $userSiteColor;
}
