@import "stylesheets/variables";

/* Flexbox grid, adapted from https://github.com/kristoferjoseph/flexboxgrid */

$gutterWidth: 1rem;
$outerPadding: 1rem;
$gutterCompensation: calc((#{$gutterWidth} * 0.5) * -1);
$halfGutterWidth: calc((#{$gutterWidth} * 0.5));
$siteMaxWidth: 64rem;
$borderColor: rgba(0, 0, 0, 0.75);

:global select {
  appearance: none;
  background: url(/static/images/chevron-thick-black-down.svg) no-repeat white;
  background-position: calc(100% - 0.5rem) center;
  background-size: 0.9em;
  border: 0.075rem solid $formLabelColor;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 0.25rem;
  width: 100%;

  &::-ms-expand {
    display: none;
  }
}

:global .site-max-width {
  max-width: $siteMaxWidth;
}

:global *, :global .border-box {
  box-sizing: border-box;
}

:global .link {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:global .underline {
  text-decoration: underline;
}

:global .hover-underline:hover {
  /* text-decoration: none; */
}

/* Used for locking scrolls on <body> when overlays are active */
:global .small-screen-overlay {
  overflow: hidden;

  @media ($md-viewport) {
    overflow: visible;
  }
}

:global .print-hide {
  @media print {
    display: none;
  }
}

.modalForm {
  background-color: $warmerBackgroundColor;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-left: -45%;
  margin-top: -10rem;
  padding: 1rem;
  position: fixed;
  top: 50%;
  width: 90%;
  z-index: 999;

  @media (min-width: $mediumRem) {
    margin-left: -10rem;
    width: 20rem;
  }
}

.modalTitle {
  margin: 0 0 0.5rem 0.5rem;
}

.modalTextInput {
  border: 0.075rem solid $formLabelColor;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.modalContinueCancelButtons {
  display: flex;
  align-items: center;
}

.modalContinueButton {
  flex-grow: 3;
}

.modalCancelButton {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.container {
  padding-left: $outerPadding;
  padding-right: $outerPadding;
  margin-left: auto;
  margin-right: auto;
  max-width: $siteMaxWidth;

  @media ($lg-viewport) {
    padding-left: 0;
    padding-right: 0;
  }
}

.printableH1 {
  margin: 2rem 0 0 0;
}

.breadcrumbsWrapper {
  width: 100%;
  background-color: $warmerBackgroundColor;
  padding: 0.5rem 0;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

  @media (min-width: $smallRem) {
    padding: 0.75rem 0;
  }
}

.breadcrumbsModule {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;

  @media (min-width: $smallRem) {
    align-items: center;
    flex-direction: row;
  }
}

a {
  color: $linkColor;
  text-decoration: none;

  &:global.external {
    background-image: url("/static/images/external-link-blue.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.7em;
    padding-right: 1em;

    &.white {
      background-image: url("/static/images/external-link-white.svg");
      background-position: 90% center;
      padding-right: 0;
    }
  }

  &:visited {
    color: $visitedLinkColor;
  }

  &:hover {
    text-decoration: underline;
  }
}

:global .row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutterCompensation;
  margin-left: $gutterCompensation;
}

:global .row.reverse {
  flex-direction: row-reverse;
}

:global .col.reverse {
  flex-direction: column-reverse;
}

:global .col-xs,
:global .col-xs-1,
:global .col-xs-2,
:global .col-xs-3,
:global .col-xs-4,
:global .col-xs-5,
:global .col-xs-6,
:global .col-xs-7,
:global .col-xs-8,
:global .col-xs-9,
:global .col-xs-10,
:global .col-xs-11,
:global .col-xs-12,
:global .col-xs-offset-0,
:global .col-xs-offset-1,
:global .col-xs-offset-2,
:global .col-xs-offset-3,
:global .col-xs-offset-4,
:global .col-xs-offset-5,
:global .col-xs-offset-6,
:global .col-xs-offset-7,
:global .col-xs-offset-8,
:global .col-xs-offset-9,
:global .col-xs-offset-10,
:global .col-xs-offset-11,
:global .col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $halfGutterWidth;
  padding-left: $halfGutterWidth;
}

:global .col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

:global .col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

:global .col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

:global .col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

:global .col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

:global .col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

:global .col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

:global .col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

:global .col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

:global .col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

:global .col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

:global .col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

:global .col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

:global .col-xs-offset-0 {
  margin-left: 0;
}

:global .col-xs-offset-1 {
  margin-left: 8.33333333%;
}

:global .col-xs-offset-2 {
  margin-left: 16.66666667%;
}

:global .col-xs-offset-3 {
  margin-left: 25%;
}

:global .col-xs-offset-4 {
  margin-left: 33.33333333%;
}

:global .col-xs-offset-5 {
  margin-left: 41.66666667%;
}

:global .col-xs-offset-6 {
  margin-left: 50%;
}

:global .col-xs-offset-7 {
  margin-left: 58.33333333%;
}

:global .col-xs-offset-8 {
  margin-left: 66.66666667%;
}

:global .col-xs-offset-9 {
  margin-left: 75%;
}

:global .col-xs-offset-10 {
  margin-left: 83.33333333%;
}

:global .col-xs-offset-11 {
  margin-left: 91.66666667%;
}

:global .start-xs {
  justify-content: flex-start;
  text-align: start;
}

:global .center-xs {
  justify-content: center;
  text-align: center;
}

:global .end-xs {
  justify-content: flex-end;
  text-align: end;
}

:global .top-xs {
  align-items: flex-start;
}

:global .middle-xs {
  align-items: center;
}

:global .bottom-xs {
  align-items: flex-end;
}

:global .around-xs {
  justify-content: space-around;
}

:global .between-xs {
  justify-content: space-between;
}

:global .first-xs {
  order: -1;
}

:global .last-xs {
  order: 1;
}

@media ($sm-viewport) {
  :global .col-sm,
  :global .col-sm-1,
  :global .col-sm-2,
  :global .col-sm-3,
  :global .col-sm-4,
  :global .col-sm-5,
  :global .col-sm-6,
  :global .col-sm-7,
  :global .col-sm-8,
  :global .col-sm-9,
  :global .col-sm-10,
  :global .col-sm-11,
  :global .col-sm-12,
  :global .col-sm-offset-0,
  :global .col-sm-offset-1,
  :global .col-sm-offset-2,
  :global .col-sm-offset-3,
  :global .col-sm-offset-4,
  :global .col-sm-offset-5,
  :global .col-sm-offset-6,
  :global .col-sm-offset-7,
  :global .col-sm-offset-8,
  :global .col-sm-offset-9,
  :global .col-sm-offset-10,
  :global .col-sm-offset-11,
  :global .col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $halfGutterWidth;
    padding-left: $halfGutterWidth;
  }

  :global .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  :global .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  :global .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  :global .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  :global .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  :global .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  :global .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  :global .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  :global .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  :global .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  :global .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  :global .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  :global .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  :global .col-sm-offset-0 {
    margin-left: 0;
  }

  :global .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  :global .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  :global .col-sm-offset-3 {
    margin-left: 25%;
  }

  :global .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  :global .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  :global .col-sm-offset-6 {
    margin-left: 50%;
  }

  :global .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  :global .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  :global .col-sm-offset-9 {
    margin-left: 75%;
  }

  :global .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  :global .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  :global .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  :global .center-sm {
    justify-content: center;
    text-align: center;
  }

  :global .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  :global .top-sm {
    align-items: flex-start;
  }

  :global .middle-sm {
    align-items: center;
  }

  :global .bottom-sm {
    align-items: flex-end;
  }

  :global .around-sm {
    justify-content: space-around;
  }

  :global .between-sm {
    justify-content: space-between;
  }

  :global .first-sm {
    order: -1;
  }

  :global .last-sm {
    order: 1;
  }
}

@media ($md-viewport) {
  :global .col-md,
  :global .col-md-1,
  :global .col-md-2,
  :global .col-md-3,
  :global .col-md-4,
  :global .col-md-5,
  :global .col-md-6,
  :global .col-md-7,
  :global .col-md-8,
  :global .col-md-9,
  :global .col-md-10,
  :global .col-md-11,
  :global .col-md-12,
  :global .col-md-offset-0,
  :global .col-md-offset-1,
  :global .col-md-offset-2,
  :global .col-md-offset-3,
  :global .col-md-offset-4,
  :global .col-md-offset-5,
  :global .col-md-offset-6,
  :global .col-md-offset-7,
  :global .col-md-offset-8,
  :global .col-md-offset-9,
  :global .col-md-offset-10,
  :global .col-md-offset-11,
  :global .col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $halfGutterWidth;
    padding-left: $halfGutterWidth;
  }

  :global .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  :global .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  :global .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  :global .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  :global .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  :global .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  :global .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  :global .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  :global .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  :global .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  :global .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  :global .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  :global .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  :global .col-md-offset-0 {
    margin-left: 0;
  }

  :global .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  :global .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  :global .col-md-offset-3 {
    margin-left: 25%;
  }

  :global .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  :global .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  :global .col-md-offset-6 {
    margin-left: 50%;
  }

  :global .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  :global .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  :global .col-md-offset-9 {
    margin-left: 75%;
  }

  :global .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  :global .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  :global .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  :global .center-md {
    justify-content: center;
    text-align: center;
  }

  :global .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  :global .top-md {
    align-items: flex-start;
  }

  :global .middle-md {
    align-items: center;
  }

  :global .bottom-md {
    align-items: flex-end;
  }

  :global .around-md {
    justify-content: space-around;
  }

  :global .between-md {
    justify-content: space-between;
  }

  :global .first-md {
    order: -1;
  }

  :global .last-md {
    order: 1;
  }
}

@media ($lg-viewport) {
  :global .col-lg,
  :global .col-lg-1,
  :global .col-lg-2,
  :global .col-lg-3,
  :global .col-lg-4,
  :global .col-lg-5,
  :global .col-lg-6,
  :global .col-lg-7,
  :global .col-lg-8,
  :global .col-lg-9,
  :global .col-lg-10,
  :global .col-lg-11,
  :global .col-lg-12,
  :global .col-lg-offset-0,
  :global .col-lg-offset-1,
  :global .col-lg-offset-2,
  :global .col-lg-offset-3,
  :global .col-lg-offset-4,
  :global .col-lg-offset-5,
  :global .col-lg-offset-6,
  :global .col-lg-offset-7,
  :global .col-lg-offset-8,
  :global .col-lg-offset-9,
  :global .col-lg-offset-10,
  :global .col-lg-offset-11,
  :global .col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $halfGutterWidth;
    padding-left: $halfGutterWidth;
  }

  :global .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  :global .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  :global .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  :global .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  :global .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  :global .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  :global .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  :global .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  :global .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  :global .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  :global .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  :global .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  :global .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  :global .col-lg-offset-0 {
    margin-left: 0;
  }

  :global .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  :global .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  :global .col-lg-offset-3 {
    margin-left: 25%;
  }

  :global .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  :global .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  :global .col-lg-offset-6 {
    margin-left: 50%;
  }

  :global .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  :global .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  :global .col-lg-offset-9 {
    margin-left: 75%;
  }

  :global .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  :global .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  :global .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  :global .center-lg {
    justify-content: center;
    text-align: center;
  }

  :global .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  :global .top-lg {
    align-items: flex-start;
  }

  :global .middle-lg {
    align-items: center;
  }

  :global .bottom-lg {
    align-items: flex-end;
  }

  :global .around-lg {
    justify-content: space-around;
  }

  :global .between-lg {
    justify-content: space-between;
  }

  :global .first-lg {
    order: -1;
  }

  :global .last-lg {
    order: 1;
  }
}
