.header {
  background-color: #0A2A37;
}

.linksContainer {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
}

.mainLinks {
  margin: 15px 0;
  color: #FFFFFF;
  display: inline-flex;
  justify-content: space-between;
  font-size: 1rem;
}

.mainLinks a {
  margin-right: 17px;
}
.mainLinks a:last-child {
  margin-right: 21px;
}

.secondaryLinks {
  font-size: 1rem;
  margin: 15px 0;
  display: inline-flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
}

.secondaryLinks a {
  margin-right: 30px;
}

.secondaryLinks a:first-child {
  margin-left: 21px;
}

.login {
  font-size: 0.875rem;
  color: #FFFFFF;
  margin-left: auto;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.divider {
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}
