@value merinoWhite, elephantBlue, bambooOrange, black from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.fromTheBlog {
  margin: auto;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;

  @media (min-width: mediumRem) {
    padding: 3rem 1rem;
    flex-direction: row;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0;
  }
}

.wrapper {
  background-color: merinoWhite;
}

.header {
  flex: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: mediumRem) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.headerText {
  font-family: "Lora";
  font-weight: normal;
  font-size: 2rem;

  @media (min-width: smallRem) {
    font-size: 2.25rem;
  }

  @media (min-width: largeRem) {
    font-size: 3rem;
  }
}

.headerLink {
  color: bambooOrange;
  font-weight: 600;
  font-size: 1rem;
  margin-top: .25rem;
  display: block;

  @media (min-width: largeRem) {
    margin-top: 1rem;
  }

  @media (min-width: largeRem) {
    font-size: 1.25rem;
  }
}

.chevron {
  height: .65rem;
  margin-left: .5rem;
}

.blogPosts {
  display: flex;
  flex: 3;
  flex-direction: column;

  @media (min-width: mediumRem) {
    flex-direction: row;
  }
}

.blogPost {
  padding-top: 1rem;

  &:first-child {
    padding-top: 0;
  }

  @media (min-width: mediumRem) {
    padding-right: 2rem;
    padding-top: 0;

    &:last-child {
      padding-right: 0;
    }
  }
}

.headline {
  color: bambooOrange;
  padding-bottom: 6px;
  opacity: 0.9;
  font-weight: bold;
  display: block;
}

.date {
  color: black;
  opacity: 0.75;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding-bottom: 7px;
  text-transform: uppercase;
}

.bodyText {
  color: black;
  opacity: 0.75;
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: 5px;
}

@media (min-width: mediumRem) {
  .blogPost:first-child .headline,
  .blogPost:first-child .date,
  .blogPost:first-child .bodyText {
    padding-left: 22px;
    border-left: 1px solid rgba(89, 63, 23, 0.2);
  }
}
