@value merinoWhite, elephantBlue, bambooOrange, black from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.wrapper {
  background-color: merinoWhite;
}

.content {
  margin: 0 auto;
  padding: 2rem 1rem;

  @media (min-width: mediumRem) {
    padding: 3rem 1rem;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0;
  }

  & li {
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 0;
    }

    @media (min-width: mediumRem) {
      margin-top: 0;
    }
  }
}

.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: mediumRem) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.headerText {
  font-family: "Lora";
  font-weight: normal;
  font-size: 2rem;

  @media (min-width: smallRem) {
    font-size: 2.25rem;
  }

  @media (min-width: largeRem) {
    font-size: 3rem;
  }
}

.headerLink {
  color: bambooOrange;
  font-weight: 600;
  font-size: 1rem;
  margin-top: .25rem;
  display: block;

  @media (min-width: largeRem) {
    margin-top: 1rem;
  }

  @media (min-width: largeRem) {
    font-size: 1.25rem;
  }
}

.chevron {
  height: .65rem;
  margin-left: .5rem;
}

.firstPost {
  position: relative;

  &:before {
    @media (min-width: mediumRem) {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      left: -1.5rem;
    }
  }
}

.postLink:hover .headline {
  text-decoration: underline;
}

.headline {
  color: bambooOrange;
  opacity: 0.9;
  font-weight: bold;
  display: block;
}

.date {
  opacity: 0.75;
  font-weight: 600;
  margin-top: .25rem;
  text-transform: uppercase;

  @media (min-width: mediumRem) {
    margin-top: .5rem;
  }
}

.bodyText {
  opacity: 0.75;
  margin-top: .25rem;

  @media (min-width: mediumRem) {
    margin-top: .5rem;
  }
}
