@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.contactForm {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  & form {
    display: flex;
    flex-direction: column;
  }

  & label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0 0 1rem;
    position: relative;
    color: $formLabelColor;
  
    & > span {
      display: block;
      margin: 0 0 0.25rem 0.5rem;

      &:not(.notFixed) {
        position: absolute;
        top: 0.25rem;
        left: 0;
      }
    }
  }

  & textarea {
    resize: none;
  }

  & input[type=email], & input[type=text], & textarea {
    width: 100%;
    border: 0.075rem solid $formLabelColor;
    padding: 1.5rem 0.25rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
  }

  @media (min-width: $mediumRem) {
    margin-top: 0;
  }
}

.disabledButton {
  cursor: wait !important;
}

.miel {
  display: none !important; /* captcha */
}

.error {
  color: $errorColor;
  display: inline-block;
  margin-left: 0.5rem;
}

.header {
  font-family: $serifFont;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (min-width: $mediumRem) {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.instructions {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  line-height: 1.25;

  @media (min-width: $mediumRem) {
    font-size: 1.25rem;
  }
}

.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  margin: 18px 0;
}

