@value linkColor, formLabelColor, errorColor from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";
@value monoFont, serifFont, sansFont from "../../../css/typography.css";

.contactForm {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  & form {
    display: flex;
    flex-direction: column;
  }

  & label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0 0 1rem;
    position: relative;
    color: formLabelColor;
  
    & > span {
      display: block;
      margin: 0 0 0.25rem 0.5rem;
      position: absolute;
      top: 0.25rem;
      left: 0;
    }
  }

  & textarea {
    resize: none;
  }

  & input[type=email], & input[type=text], & textarea {
    width: 100%;
    border: 0.075rem solid formLabelColor;
    font-family: sansFont;
    padding: 1.5rem 0.25rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
  }

  @media (min-width: mediumRem) {
    margin-top: 0;
  }
}

.disabledButton {
  cursor: wait !important;
}

.fax {
  display: none !important; /* captcha */
}

.error {
  color: errorColor;
  display: inline-block;
  margin-left: 0.5rem;
}

.header {
  font-family: serifFont;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (min-width: mediumRem) {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.instructions {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  line-height: 1.25;

  @media (min-width: mediumRem) {
    font-size: 1.25rem;
  }
}

.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  margin: 18px 0;
}

.submit {
  background-color: linkColor;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 12px 49px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.375rem;
}

.form :global(.mdc-textfield__input) {
  width: 100%;
  background-color: white;
  border: 2px solid rgba(88, 79, 65, 0.15) !important;
  border-radius: 2px;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: "Source Sans Pro";
  padding: 1.75rem 1rem .5rem;
}

.form label {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: "Source Sans Pro";
  bottom: 19px;
  left: 20px;
}

.form :global(.mdc-textfield--multiline) label {
  top: 15px;
  left: 20px;
}

.form :global(.mdc-textfield) {
  width: 100%;
  margin: 0 0 14px !important;
  height: 100% !important;
}
.form :global(.mdc-textfield__label--float-above) {
  color: #0674A5 !important;
  font-size: 0.8125rem !important;
  line-height: 1.0625rem;
  font-weight: bold;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  transform: translateY(-100%);
}

.form :global(.mdc-textfield--multiline .mdc-textfield__label--float-above) {
  transform: translateY(-25%);
}

.form :global(.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box):not(.mdc-textfield--multiline):after) {
  background-color: transparent;
}
