@import "stylesheets/variables";

.mainContent {
  display: flex;
  flex-direction: column;

  @media (max-width: $smallRem) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $smallRem) {
    padding-bottom: 150px;
    margin-top: 2rem;
    flex-direction: row;
  }
}

.resultsAndPagination {
  flex-basis: 66%;

  @media (min-width: $mediumRem) {
    flex-basis: 75%;
  }

  @media (max-width: $smallRem) {
    margin-top: 1rem;
  }
}

.noResults {
  margin: 0 1rem;
}

.sidebar {
  flex-basis: 33%;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-in-out, visibility 0s 0.15s;

  &.isOpen {
    visibility: visible;
    max-height: 200rem;
  }

  @media (min-width: $smallRem) {
    margin-right: 1rem;
    max-height: none;
    visibility: visible;
    overflow: visible;
  }

  @media (min-width: $mediumRem) {
  }
}
