@value pampasBrown from "../../../css/colors.css";
@value smallRem, mediumRem from "../../../css/breakpoints.css";

.mainContent {
  display: flex;
  flex-direction: column;

  @media (max-width: smallRem) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: smallRem) {
    padding-bottom: 150px;
    margin-top: 2rem;
    flex-direction: row;
  }
}

.resultsAndPagination {
  flex-basis: 66%;

  @media (min-width: mediumRem) {
    flex-basis: 75%;
  }

  @media (max-width: smallRem) {
    margin-top: 1rem;
  }
}

.sidebar {
  flex-basis: 33%;
  margin-right: 1rem;

  @media (min-width: mediumRem) {
    flex-basis: 25%;
  }
}

.hiddenSidebar {
  display: none;

  @media (min-width: smallRem) {
    display: block;
  }
}
