@value pampasBrown from "../../../css/colors.css";
@value smallRem, mediumRem from "../../../css/breakpoints.css";

.mainContent {
  display: flex;
  flex-direction: column;
  @media (max-width: smallRem) {
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: smallRem) {
    padding-bottom: 150px;
    margin-top: 2rem;
    flex-direction: row;
  }
}

.listWrapper,
.gridWrapper {
  width: 100%;
  height: 100%;
  @media (max-width: smallRem) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.listWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hiddenSidebar {
  display: none;

  @media (min-width: smallRem) {
    display: block;
  }
}
