@value hippieBlue, elephantBlue from "../../../../css/colors.css";
@value mediumRem, smallRem from "../../../../css/breakpoints.css";

.headerSearchBar {
  background-color: hippieBlue;
  width: 100%;
}

.flexWrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  height: 42px;
  margin: auto;
}
@media (min-width: smallRem) {
  .flexWrapper {
    padding: 20px 50px;
  }
}
@media (min-width: mediumRem) {
  .flexWrapper {
    padding: 20px 70px;
  }
}
@media screen and (min-width: 1100px) {
  .flexWrapper {
    padding: 20px 0;
    max-width: 1024px;
  }
}

.searchBar {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.searchInput {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 0 0 0 14px;
  width: 426px;
  height: 100%;
}

.searchInput::placeholder {
  color: elephantBlue;
  opacity: 0.5;
}

.searchButton {
  background-color: elephantBlue;
  border-radius: 0 3px 3px 0;
  height: 100%;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
  color: white;
  padding: 0 20px;
}

.searchIcon {
  height: 21px;
  width: 21px;
  transform: scaleX(-1);
  margin-right: 8px;
  position: relative;
  top: 4px;
}

.logo {
  width: 290px;
  display: inherit;
  height: 35px;
}
