@value pampasBrown, bambooOrange from "../../../../../css/colors.css";

.studentMode {
  font-weight: 600;
  color: #797876;
  text-transform: uppercase;
  position: relative;
  /*
    increase hitbox of button so that tooltip
    doesn't disappear before you can hover over it, then recenter it
  */
  padding-bottom: 22px;
  margin-top: 20px;
}

.studentModeText {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  display: inline;
  margin-right: 8px;
}

.questionIcon {
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
}

.tooltip {
  background-color: rgba(22, 63, 81, 0.95);
  color: white;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 20px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 266px;
  text-transform: none;
  text-align: left;
  left: -125px;
  top: 45px;
  border-radius: 2px;
}

.tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(22, 63, 81, 0.95);
  position: absolute;
  top: -12px;
  right: 23px;
}

.tooltipText {
  margin-bottom: 10px;
  font-weight: normal;
}

.tooltipLink {
  font-weight: 600;
  border-bottom: 1px solid white;
}
