@import "stylesheets/colors";
@import "stylesheets/typography";

.wrapper {
  border-radius: 3px;
  width: 100%;
  text-align: left;
}

.button.activeButton {
  background-color: $colderBackgroundColor;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.citeButton {
  padding: 0;
  max-height: 200rem;
  transition: max-height 1s ease-in;
  overflow: hidden;

  &.hidden {
    /* display: none;
    visibility: hidden; */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0rem;
  }
}

.button h2 {
  font-size: 1rem;
}

.citationsWrapper {
  background-color: $colderBackgroundColor;
  padding: 0.5rem 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
}

.citationList {
  margin: 0;
  width: 100%;
  word-wrap: break-word;

  & dt {
    font-weight: bold;
    margin: 0.5rem 0.5rem 0.25rem;
  }

  & dd {
    background-color: white;
    border-radius: 0.25rem;
    font-family: $monoFont;
    font-size: 0.9rem;
    margin: 0 0 1rem;
    padding: 0.5rem;

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }
}

.disclaimer {
  display: block;
  margin: 0.5rem;
  font-size: 0.8rem;
}
