@value visualBrown, casablancaOrange from "../../../../css/colors.css";
@value mediumRem, smallRem, largeRem from "../../../../css/breakpoints.css";

.wrapper {
  background-color: visualBrown;
}

.container {
  padding: 2rem 1rem 1rem;
  margin: 0 auto;

  @media (min-width: smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: smallRem) {
    padding-bottom: 6rem;
  }
}

.header {
  text-align: center;
  font-size: 3rem;
  font-family: "Lora";
  font-weight: normal;

  @media (min-width: smallRem) {
    font-size: 4rem;
  }
}

.topicDescription {
  text-align: center;
  font-size: 1.75rem;
  opacity: 0.50;
}

.subtopic {
  margin-bottom: 1rem;
  position: relative;
}

.subtopicAnchor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    transition: opacity .25s ease-in-out;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .6;
  }

  &:hover:after {
    opacity: 1;
  }

  &:hover .gradientBackground {
    opacity: 1;
  }

  &:hover .image {
    transform: scale(1.04);
  }
}

.subtopic:nth-child(3n) {
  margin-right: 0;
}

.imageWrapper {
  height: 214px;
  overflow: hidden;
  position: relative;
}

.image {
  transition: transform .45s ease-in-out;
  height: 100%;
  background-size: cover;
}

.gradientBackground {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 100%;
  opacity: .9;
  transition: opacity .45s ease-in-out;
  width: 100%;
}

.subtopicTitle {
  bottom: 24px;
  color: white;
  font-family: "Lora";
  font-size: 1.75rem;
  font-weight: normal;
  left: 50%;
  line-height: 2rem;
  opacity: 0.90;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: calc(100% - 58px);
}

.subtopicDescription {
  padding: 26px 29px 35px;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  line-height: 1.25rem;
  flex: 1;
}
