@value linkColor, visualBrown, lightLinkColor from "../../../../css/colors.css";
@value mediumRem, smallRem, largeRem from "../../../../css/breakpoints.css";
@value serifFont from "../../../../css/typography.css";

.wrapper {
  background-color: visualBrown;
}

.container {
  padding: 2rem 1rem 1rem;
  margin: 0 auto;

  @media (min-width: smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: smallRem) {
    padding-bottom: 6rem;
  }
}

.header {
  text-align: center;
  font-size: 3rem;
  font-family: serifFont;
  font-weight: normal;

  @media (min-width: smallRem) {
    font-size: 4rem;
  }
}

.topicDescription {
  text-align: center;
  font-size: 1.75rem;
  opacity: 0.50;
}

.subtopic {
  margin-bottom: 1rem;
  position: relative;
}

.subtopicAnchor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;

  &, &:hover {
    text-decoration: none;
  }

  &:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    transition: opacity .25s ease-in-out;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .6;
  }

  &:hover:after {
    opacity: 1;
  }

  &:hover .gradientBackground {
    opacity: 1;
  }

  &:hover .image {
    transform: scale(1.04);
  }
}

.subtopic:nth-child(3n) {
  margin-right: 0;
}

.image {
  transition: transform .45s ease-in-out;
  width: 100%;
  background-size: cover;
}

.textWrapper {
  border-top: 0.25rem solid lightLinkColor;
  padding-top: 1rem;
  z-index: 1;
  background-color: white;
}

.subtopicTitle {
  font-family: serifFont;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 2rem;
  opacity: 0.90;
  padding: 0 2rem;
}

.subtopicDescription {
  padding: 1rem 2rem 2rem;
  font-size: 1rem;
  line-height: 1.25rem;
  flex: 1;
  text-decoration: none;
}
