.module {
  padding: 30px 25px;
  margin: auto;
}
@media (min-width: smallRem) {
  .module {
    padding: 30px 50px;
  }
}
@media (min-width: mediumRem) {
  .module {
    padding: 30px 70px;
  }
}
@media screen and (min-width: 1100px) {
  .module {
    padding: 30px 0;
    max-width: 1024px;
  }
}
