@import "stylesheets/variables";

.wrapper {
  background-color: $warmerBackgroundColor;

  &.theme_blue {
    background-color: $colderBackgroundColor;
  }
}

.content {
  margin: auto;
  padding: 2rem 1rem;

  @media (min-width: $smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: $largeRem) {
    padding: 4rem 0;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;

  @media (min-width: $largeRem) {
    margin-bottom: 1.5rem;
  }
}

.moreLink {
  color: $linkColor;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;

  @media (min-width: $smallRem) {
    font-size: 1.125rem;
  }
}

.moreLinkNoun {
  display: none;

  @media (min-width: $smallRem) {
    display: inline;
  }
}

.moreLinkChevron {
  height: 0.75rem;
  padding-left: 0.25rem;
  position: relative;
  top: 0;
  width: 1rem;
}

.title {
  font-family: $serifFont;
  font-weight: normal;
  font-size: 1.25rem;

  @media (min-width: $smallRem) {
    font-size: 1.5rem;
  }

  @media (min-width: $mediumRem) {
    font-size: 2.25rem;
  }
}

.items {
  display: flex;
}

.item {
  display: block;
  position: relative;
  padding-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.itemImgWrapper {
  overflow: hidden;
  border-radius: 3px;
}

.itemImg {
  /*
    This small scale improves the visual appearance of these slider items
    by truncating border artifacts around the edges of the cover images.
   */
  transform: scale(1.15);
  padding-top: 72.75%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.itemText {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 600;
  line-height: 1.25;

  @media (min-width: $largeRem) {
    margin-top: 0.9rem;
  }
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;

  @media (min-width: $largeRem) {
    top: 45%;
    height: 5rem;
    box-shadow: none;
    background: transparent;
    border-radius: 3px;
  }

  &:hover, &:focus {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

    @media (min-width: $largeRem) {
      background-color: rgba(0, 0, 0, 0.05);
      box-shadow: none;
    }
  }

  &:focus {
    outline: 0.25rem solid $outlineColor;
  }

  & img {
    width: 0.9rem;

    @media (min-width: $largeRem) {
      width: 1.5rem;
    }
  }
}

.prevArrow {
  left: -0.5rem !important;

  & img {
    transform: rotate(180deg);
    margin-left: -0.25rem;
  }

  @media (min-width: $largeRem) {
    left: -3.5rem !important;
  }
}

.nextArrow {
  right: -0.5rem !important;

  @media (min-width: $largeRem) {
    right: -3.5rem !important;
  }

  & img {
    margin-left: 0.25rem;
  }
}

.featuredTag {
  text-transform: uppercase;
  position: absolute;
  background-color: $featuredBannerColor;
  top: 0.75rem;
  left: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;

  @media (min-width: $largeRem) {
    left: -0.25rem;
    padding: 0.35rem 0.85rem;
  }
}

/* Vendor overrides: react-slick */

.content {
  @media (min-width: $largeRem) {
    & :global .slick-list {
      /* Offset for the featuredTag */
      padding-left: 0.25rem;
    }
  }

  & :global .slick-prev:before, & :global .slick-next:before {
    content: none;
  }

  :global .slick-disabled {
    display: none;
  }
}
