$theme-link-color: #00703E;
$theme-dark-color: darken($theme-link-color, 15%); //header color
$theme-main-color: mix($theme-link-color, #aaa); // mobile header color
$heroBackgroundColor: lighten($casablancaOrange, 36%); //lighten($theme-link-color, 76%);
$theme-background-color: #fff;
$theme-colder-tint: darken(rgb(245, 245, 245), 10%);
$theme-warmer-tint: lighten($theme-main-color, 50%);

$linkColor: $theme-link-color;
$linkHoverColor: lighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
$headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
$mobileNavColor: mix($theme-dark-color, $theme-main-color);
$mobileNavMenuButtonOpen: lighten($theme-dark-color, 5%);
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
$darkSecondaryButtonColor: mix($theme-dark-color, $theme-main-color);
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 25%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
$subLinkColor: $linkColor;
$subLinkColorHover: darken($linkColor, 10%);
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: darken($theme-main-color, 4%); //darken($mobileNavColor, 15%);

.homeLogo {
  .localLogo {
    padding-left: 35px;
    height: 8rem !important;
  }
}

.intro {
  p {
    margin-bottom: 1.5em !important;
  }
}

//HomeHero > .links {
//  display: none;
//}
