@import "stylesheets/colors";
@import "stylesheets/breakpoints";
@import "stylesheets/typography";

.topicsWrapper {
  margin-top: 1rem;

  @media (min-width: $mediumRem) {
    margin-bottom: 4rem;
  }

  @media (min-width: $mediumRem) {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}

.topicsIntro {
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
  font-family: $serifFont;
  color: $dimmedTextColor;

  @media (min-width: $mediumRem) {
    font-size: 1.3rem;
  }
}

.topic {
  position: relative;
  display: block;
  margin-top: 1rem;

  @media (min-width: $mediumRem) {
    margin-top: 1.5rem;
  }
}

.image {
  border-radius: 3px;
  width: 100%;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.ribbon {
  text-transform: uppercase;
  color: white;
  position: absolute;
  background-color: $linkColor;
  top: 0.5rem;
  left: -0.25rem;
  padding: .35rem .65rem;
  font-weight: bold;
  font-size: 0.875rem;
}
