@value curiousBlue, bambooOrange, black50 from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";

.topicsWrapper {
  margin-top: 1rem;

  @media (min-width: mediumRem) {
    margin-bottom: 4rem;
  }

  @media (min-width: mediumRem) {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}

.topic {
  position: relative;
  display: block;
  margin-top: 1rem;

  @media (min-width: mediumRem) {
    margin-top: 1.5rem;
  }
}

.image {
  border-radius: 3px;
  width: 100%;
}

.title {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin-top: .5rem;
}

.ribbon {
  text-transform: uppercase;
  color: white;
  position: absolute;
  background-color: bambooOrange;
  top: 0.5rem;
  left: -0.25rem;
  padding: .35rem .65rem;
  font-weight: bold;
  font-size: 0.875rem;
}
