$pan-am-blue: #2b67ac;

$theme-dark-color: darken($pan-am-blue, 25%); //#1f1f1f;
$theme-link-color: darken(#E95326, 10%); //darken($pan-am-blue, 25%);
$theme-main-color: desaturate(lighten($pan-am-blue, 45%), 25%);
$theme-background-color: lighten($theme-main-color, 5%);
$theme-colder-tint: rgb(245, 245, 245);
$theme-warmer-tint: lighten($theme-main-color, 30%); //good

$heroBackgroundColor: darken($theme-main-color, 30%);

$linkColor: $theme-link-color;
$linkHoverColor: lighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
$headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
$mobileNavColor: lighten(desaturate($theme-dark-color, 40%), 10%);
$mobileNavMenuButtonOpen: lighten($theme-dark-color, 5%);
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
$darkSecondaryButtonColor: mix($theme-dark-color, $theme-main-color);
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 25%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
$subLinkColor: $linkColor;
$subLinkColorHover: darken($linkColor, 10%);
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: $mobileNavColor;  //here
$outgoingLinkColor: $subLinkColor;

