@import "stylesheets/variables.module";

.suggestionsWrapper {
  width: 100%;
  background-color: $warmerBackgroundColor;
}

.suggestions {
  padding-top: 36px;
  padding-bottom: 45px;

  /* overrides for react-slick css*/
  & :global .slick-prev:before, & :global .slick-next:before {
    content: none;
  }

  & :global .slick-disabled {
    display: none;
  }
}

.header {
  text-transform: uppercase;
  font-family: $serifFont;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 16px;
  padding: 0;
}

.imageWrapper {
  width: 100%;
  display: block;
  height: 138px;
  background-size: cover;
  border-radius: 3px;
}

.gradientBackground {
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #000 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.typeAndTitle {
  padding: 0 0.75rem;
  position: absolute;
  bottom: 15px;
}

.resourceType {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 0.9375;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.suggestedItem {
  padding: 0 0.3rem;
}

.suggestedSlide {
  width: 16rem;
}

.suggestionTitle {
  font-size: 0.9375rem;
  line-height: 1.1875;
  font-weight: 600;
  color: white;
}

.exhibition .imageWrapper {
  border-top: 4px solid $linkColor;
}

.exhibition .resourceType {
  color: $linkColor;
}

.topic .imageWrapper {
  border-top: 4px solid $lightLinkColor;
}

.topic .resourceType {
  color: $lightLinkColor;
}

.navArrow {
  top: 50%;

  @media (min-width: largeRem) {
    top: 40%;
  }
}
