@import "stylesheets/variables";

.listTools {
  align-items: baseline;
  background-color: $colderBackgroundColor;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.displayMode {
  display: flex;
  margin: 0.5rem 0;

  & a {
    cursor: pointer;
  }
}

.csvExplainer {
  color: $dimmedTextColor;
  font-size: 0.8rem;
  font-style: italic;
}

.preformatted {
  font-family: $monoFont;
  white-space: pre-wrap;
}

.listAddToList {
  display: flex;
}

.listSelectLabel {
  display: none;

  @media (min-width: $mediumRem) {
    margin-left: auto;
    display: block;
  }
}

.listSelect {
  border: none;
  margin-left: 0.5rem;
  max-width: 15rem;

  @media (max-width: $mediumRem) {
    margin-left: auto;
  }
}

.listItem {
  border-bottom: 0.075rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: $mediumRem) {
    flex-wrap: nowrap;
  }
}

.checkboxLabel {
  align-items: center;
  color: $subLinkColor;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  max-height: auto;
  max-width: 5rem;
  order: -1;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.2s ease-out;

  &.disabled {
    color: $dimmedTextColor;
  }

  &.collapsed {
    max-height: 0;
    max-width: 0;
    order: 0;
    overflow: hidden;
    visibility: hidden;
  }

  @media (max-width: $mediumRem) {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
  }
}

.disabled {
  cursor: not-allowed;
}

.checkboxInput {
  appearance: none;
  border: 0.125rem solid $subLinkColor;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  min-width: 1.2rem;
  position: relative;

  @media (max-width: $mediumRem) {
    margin: 0 0.5rem;
  }

  &[disabled] {
    border-color: $dimmedTextColor;
  }

  &:checked {
    background-color: $subLinkColor;
    border-color: $subLinkColor;
    font-size: 1rem;
  }

  &:checked:after {
    background-color: $subLinkColor;
    color: white;
    content: "\2714";
    left: 0.1rem;
    position: absolute;
    top: -0.1rem;
  }
}

.itemTitle {
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: $smallRem) {
    font-weight: normal;
    color: $linkColor;
    font-size: 1.125rem;
    margin-right: 0.5rem;
  }
}

.itemInfo {
  width: 66%;
  padding-right: 1rem;
}

.defaultImageWrapper {
  background-color: $warmerBackgroundColor;
  padding-bottom: 0;
  padding-top: 0;

  & img {
    opacity: 0.25;
  }
}

.imageWrapper {
  border: 0.075rem solid rgba(0, 0, 0, 0.1);
  height: 10rem;
  margin: 0 0.5rem;
  width: calc(34% - 1rem);

  @media (max-width: $smallRem) {
    margin: 0 1rem;
    width: calc(34% - 2rem);
  }
}

.listItemImageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.itemDescription {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.itemSource, .itemSource:visited {
  font-size: 0.875rem;
  color: $outgoingLinkColor;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $smallRem) {
    font-weight: 600;
    margin-top: 0.25rem;
  }
}

.itemProvider {
  font-size: 0.875rem;
}

.itemAuthorAndDate {
  margin-top: 0.25rem;
  display: block;
  color: $dimmedTextColor;
  font-size: 0.875rem;
}
