@import "stylesheets/variables";

.listTools {
  align-items: baseline;
  background-color: $colderBackgroundColor;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.alert {
  background-color: $featuredBannerColor;
  bottom: -5rem;
  color: black;
  left: 50%;
  margin-left: -5rem;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  transition: bottom 0.1s ease-out;
  width: 10rem;

  &.open {
    bottom: 0.5rem;
  }
}

.listAddToList {
  display: flex;
}

.listSelectLabel {
  display: none;

  @media (min-width: $mediumRem) {
    margin-left: auto;
    display: block;
  }
}

.listSelect {
  border: none;
  margin-left: auto;
  max-width: 15rem;

  @media (min-width: $mediumRem) {
    margin-left: 0.5rem;
  }
}

.listName {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.listNameModal {
}

.listItem {
  border-bottom: 0.075rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: $mediumRem) {
    flex-wrap: nowrap;
  }
}

.checkboxLabel {
  align-items: center;
  color: $dimmedTextColor;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding: 0.5rem;
  max-width: 5rem;
  transition: all 0.2s ease-out;
  white-space: nowrap;

  &.collapsed {
    visibility: hidden;
    max-width: 0;
    overflow: hidden;
  }

  @media (max-width: $mediumRem) {
    flex-basis: 100%;
    flex-direction: row;
    max-width: 100%;
  }
}

.checkboxInput {
  margin-bottom: 0.5rem;

  @media (max-width: $mediumRem) {
    margin: 0 0.5rem;
  }
}

.itemTitle {
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: $smallRem) {
    font-weight: normal;
    color: $linkColor;
    font-size: 1.125rem;
    margin-right: 0.5rem;
  }
}

.itemInfo {
  width: 66%;
  padding-right: 1rem;
}

.defaultImageWrapper {
  background-color: $warmerBackgroundColor;
  padding-bottom: 0;
  padding-top: 0;

  & img {
    opacity: 0.25;
  }
}

.imageWrapper {
  border: 0.075rem solid rgba(0, 0, 0, 0.1);
  height: 10rem;
  margin: 0 0.5rem;
  width: calc(34% - 1rem);

  @media (max-width: $smallRem) {
    margin: 0 1rem;
    width: calc(34% - 2rem);
  }
}

.listItemImageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.itemDescription {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.itemSource, .itemSource:visited {
  font-size: 0.875rem;
  color: $outgoingLinkColor;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $smallRem) {
    font-weight: 600;
    margin-top: 0.25rem;
  }
}

.itemProvider {
  font-size: 0.875rem;
}

.externalLinkIcon {
  height: 12px;
  width: 12px;
  position: relative;
  top: 2px;
}

.itemAuthorAndDate {
  margin-top: 0.25rem;
  display: block;
  color: $dimmedTextColor;
  font-size: 0.875rem;
}

.nameForm {
  background-color: $warmerBackgroundColor;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  margin-left: -10rem;
  margin-top: -10rem;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
