@value linkColor, elephantBlue, dimmerGray, outgoingLinkColor, visualBrown from "../../../css/colors.css";
@value smallRem, largeRem from "../../../css/breakpoints.css";

.listItem {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.itemTitle {
  font-size: 0.875rem;
  font-weight: 600;
  @media (min-width: smallRem) {
    font-weight: normal;
    color: linkColor;
    font-size: 1.125rem;
    margin-right: 8px;
  }
}

.itemInfo {
  flex-basis: 66%;
  padding-right: 1rem;

  @media (min-width: smallRem) {
    padding-right: 0;
  }
}

.defaultImageWrapper {
  background-color: visualBrown;
  padding-bottom: 20%;
  padding-top: 20%;
  @media (min-width: largeRem) {
    padding-bottom: 0;
    padding-top: 0;
  }
  & img {
    opacity: 0.35;
  }
}

.imageWrapper {
  flex-basis: 33%;
  height: 10rem;
  margin-right: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: smallRem) {
    margin-left: 1rem;
  }

  @media (min-width: largeRem) {
    width: inherit;
  }
}

.listItemImageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.itemType {
  display: inline-block;
  color: elephantBlue;
  opacity: 0.90;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.itemDescription {
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: .25rem;
  padding-bottom: 0.25rem;
}

.itemSource {
  font-size: 0.875rem;
  color: outgoingLinkColor;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: smallRem) {
    font-weight: 600;
    margin-top: .25rem;
  }
}

.itemProvider {
  font-size: 0.875rem;
}

.externalLinkIcon {
  height: 12px;
  width: 12px;
  position: relative;
  top: 2px;
}

.itemSourceText {
  margin-right: .3rem;
}

.itemAuthorAndDate {
  margin-top: .25rem;
  display: block;
  color: dimmerGray;
  font-size: 0.875rem;
}
