@value bambooOrange, elephantBlue, dimmerGray, vikingBlue, visualBrown from "../../../css/colors.css";
@value smallRem, largeRem from "../../../css/breakpoints.css";

.listItem {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}

.listItem:last-of-type {
  border-bottom: 0;
}

.listItemLink {
  flex-shrink: 0;
}

.listItemImageLink {
  width: 33%;
  @media (min-width: largeRem) {
    width: inherit;
  }
}

.imageWrapper {
  @media (max-width: smallRem) {
    margin-left: 1rem
  }
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  flex-shrink: 0;
  flex-basis: 33%;
  @media (min-width: largeRem) {
    width: 160px;
    height: 120px;
  }
}

.imageWrapper:not(.defaultImageWrapper) {
  @media (min-width: smallRem) {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.defaultImageWrapper {
  background-color: visualBrown;
  padding-bottom: 20%;
  padding-top: 20%;
  @media (min-width: largeRem) {
    padding-bottom: 0;
    padding-top: 0;
  }
  & img {
    opacity: 0.35;
  }
}

.itemInfo {
  @media (min-width: smallRem) {
    padding-right: 0
  }
  padding-right: 1rem
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.itemTitle {
  font-size: 0.875rem;
  font-weight: 600;
  @media (min-width: smallRem) {
    font-weight: normal;
    color: bambooOrange;
    font-size: 1.125rem;
    margin-right: 8px;
  }
}

.itemType {
  display: none;
  @media (min-width: smallRem) {
    display: inline-block;
    color: elephantBlue;
    opacity: 0.90;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}

.itemDescription {
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.itemSource {
  display: none;
  @media (min-width: smallRem) {
    display: block;
    color: vikingBlue;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.externalLinkIcon {
  height: 12px;
  width: 12px;
  position: relative;
  top: 2px;
}

.itemSourceText {
  margin-right: 6px;
}

.itemAuthorAndDate {
  display: block;
  color: dimmerGray;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
