@import "stylesheets/variables";

.listItem {
  padding: 15px 0;
  border-bottom: 0.075rem solid rgba(0, 0, 0, 0.1);
  display: flex;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.listTools {
  align-items: baseline;
  border-bottom: 0.075rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.listCreate {
}

.listName {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: center;
  margin: 0.5rem;
  max-width: 10rem;
  text-align: center;
  transition: all 0.2s ease-out;
  white-space: nowrap;

  &.collapsed {
    max-width: 0;
    overflow: hidden;
  }
}

.itemTitle {
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: $smallRem) {
    font-weight: normal;
    color: $linkColor;
    font-size: 1.125rem;
    margin-right: 8px;
  }
}

.itemInfo {
  width: 66%;
  padding-right: 1rem;

  @media (min-width: $smallRem) {
    padding-right: 0;
  }
}

.defaultImageWrapper {
  background-color: $warmerBackgroundColor;
  padding-bottom: 0;
  padding-top: 0;

  & img {
    opacity: 0.25;
  }
}

.imageWrapper {
  width: 33%;
  height: 10rem;
  margin-right: 0.5rem;
  border: 0.075rem solid rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: $smallRem) {
    margin-left: 1rem;
  }
}

.listItemImageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.itemDescription {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.itemSource, .itemSource:visited {
  font-size: 0.875rem;
  color: $outgoingLinkColor;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $smallRem) {
    font-weight: 600;
    margin-top: 0.25rem;
  }
}

.itemProvider {
  font-size: 0.875rem;
}

.externalLinkIcon {
  height: 12px;
  width: 12px;
  position: relative;
  top: 2px;
}

.itemAuthorAndDate {
  margin-top: 0.25rem;
  display: block;
  color: $dimmedTextColor;
  font-size: 0.875rem;
}

.nameForm {
  background-color: $warmerBackgroundColor;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  margin-left: -10rem;
  margin-top: -10rem;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
