@value smallRem, mediumRem, largeRem from "../../../../css/breakpoints.css";

.header {
  display: none;
  background-color: #0A2A37;

  /* The SmallScreenHeader component handles the navigation on small screens */
  @media (min-width: mediumRem) {
    display: block;
  }
}

.linksContainer {
  margin: auto;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: mediumRem) {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  @media (min-width: largeRem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.links {
  color: white;
  display: inline-flex;
  justify-content: space-between;
  text-transform: uppercase;

  & a {
    margin-right: .75rem;

    @media (min-width: largeRem) {
      margin-right: 1rem;
    }
  }
}

.secondaryLinks {
  opacity: .7;
}

.login {
  color: white;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
}

.divider {
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: .75rem;

  @media (min-width: largeRem) {
    margin-right: 1rem;
  }
}
