@value colors: "../../../../../../../../css/colors.css";
@value black, white, casablancaOrange from colors;

.header {
  text-align: center;
  font-size: 4.5rem;
  line-height: 3.875rem;
  font-family: "Source Serif Pro";
  font-weight: normal;
  margin-bottom: 10px;
}

.topicDescription {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.75rem;
  line-height: 2rem;
  opacity: 0.50;
}

.divider {
  width: 48px;
  height: 6px;
  background-color: casablancaOrange;
  margin: 0 auto 55px;
}

.subtopics {
  display: flex;
  flex-wrap: wrap;
}

.subtopic {
  flex-basis: calc(33% - 17px);
  padding-right: 20px;
  margin-bottom: 25px;
  position: relative;
}

.subtopic:nth-child(3n) {
  padding-right: 0;
}

.imageWrapper {
  max-width: 100%;
  height: 214px;
  background-size: cover;
}

.gradientBackground {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.itemCountAndSubtopicTitle {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: calc(100% - 58px);
}

.itemCount {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  opacity: 0.70;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.subtopicTitle {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: normal;
  font-family: "Source Serif Pro";
  opacity: 0.90;
}

.subtopicDescription {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 26px 29px 35px;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  line-height: 1.25rem;
}
