@value headingColor, warmerBackgroundColor, linkColor from "../colors.css";
@value smallRem, mediumRem, largeRem from "../breakpoints.css";
@value monoFont, serifFont from "../typography.css";

.backgroundTint {
  background-color: warmerBackgroundColor;
}

.sidebar {
  @media (max-width: mediumRem) {
    /* so the sidebar doesnt show up first in mobile views */
    margin-top: 1rem;
    order: 2;
  }
}

.bannerImage {
  display: block;
  height: 12rem;
  margin: 0 auto 1rem;
  max-width: 100%;
  filter: grayscale(1) sepia(1) hue-rotate(160deg) brightness(1.0);

  @media (max-width: mediumRem) {
    margin-bottom: 0;
  }
}

.title {
  text-align: center;
  /* Override wysiwyg styles */
  margin: 0 !important;
}

.sidebarAndContentWrapper {
  padding-top: 1rem;
  padding-bottom: 4rem;

  @media (min-width: smallRem) {
    padding-top: 2rem;
  }

  @media (min-width: mediumRem) {
    padding-bottom: 8rem;
  }

  @media (min-width: largeRem) {
    padding-top: 3rem;
  }
}

.content {
  margin-top: 2rem;
  line-height: 1.5;

  @media (min-width: largeRem) {
    margin-top: 0;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    line-height: 1.15;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  & h1 {
    font-family: serifFont;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;

    & bold {
      font-weight: normal;
    }

    @media (min-width: mediumRem) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  & h2 {
    color: headingColor;
    font-weight: normal;
    font-size: 1.875rem;
  }

  & h3 {
    font-size: 1.25rem;

    @media (min-width: mediumRem) {
      font-size: 1.5rem;
    }
  }

  & h4 {
    font-size: 1.125rem;
  }

  & h5, & h6 {
    font-size: 1rem;
    color: headingColor;
    text-transform: uppercase;
  }

  & p {
    margin-bottom: 0;

    & + p:not(.address) {
      text-indent: 3rem;
    }
  }

  & p, & ul, & ol {
    font-weight: normal;
    font-size: 1rem;
    max-width: 40rem;

    @media (min-width: mediumRem) {
      font-size: 1.125rem;
    }

    @media (min-width: largeRem) {
    }
  }

  & ul, & ol {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    counter-reset: start-from 0;

    @media (max-width: mediumRem) {
      padding-left: 1rem;
    }
  }
  
  & ol li, & ul li {
    list-style-type: none;
    position: relative;
    counter-increment: start-from;
  }

  & li:not(.donate)::before {
    position: absolute;
    left: -3rem;
    width: 3rem;
    padding-right: 0.25rem;
    text-align: right;
    color: linkColor;
    box-sizing: border-box;
  }

  & ul li:not(.donate)::before {
    content: "\\2022";
  }

  & ol li:not(.donate)::before {
    content: counter(start-from);
  }

  & ul {
    list-style-type: disc;
  }

  & blockquote, & blockquote p {
    font-size: 1.5rem;
  }

  & table {
    border: 1px solid rgba(0, 0, 0, .1);
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 100%;
  }

  & td:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
  & td {
    padding: 1.5rem 2rem;
  }

  & td p:last-child {
    margin-bottom: 0;
  }

  & tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  & hr {
    border: 1px solid rgba(0, 0, 0, .1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: mediumRem) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & :global .alignright, & :global .alignleft, & :global .wp-caption {
    margin-bottom: 1.5rem;

    @media (min-width: largeRem) {
      margin-bottom: 1.75rem;
    }
  }

  & :global .alignleft {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: smallRem) {
      float: left;
      margin-right: 1rem;
    }
  }

  & :global .aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & :global .alignright {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: smallRem) {
      float: right;
      margin-left: 1rem;
    }
  }

  & :global .wp-caption-text {
    font-size: .875rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 0;
  }

  & :global .wp-caption {
    max-width: 100%;
  }
}
