@value cascadeBlue, warmerBackgroundColor, linkColor, silver from "../colors.css";
@value smallRem, mediumRem, largeRem from "../breakpoints.css";
@value monoFont, serifFont from "../typography.css";

.backgroundTint {
  background-color: warmerBackgroundColor;
}

.sidebarAndContentWrapper {
  padding-top: 1rem;
  padding-bottom: 4rem;

  @media (min-width: smallRem) {
    padding-top: 2rem;
  }

  @media (min-width: mediumRem) {
    padding-bottom: 8rem;
  }

  @media (min-width: largeRem) {
    padding-top: 3rem;
  }
}

.content {
  margin-top: 2rem;
  line-height: 1.3;

  @media (min-width: largeRem) {
    margin-top: 0;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    line-height: 1.15;
    margin-bottom: .75rem;
  }

  & h1 {
    font-family: serifFont;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;

    & bold {
      font-weight: normal;
    }

    @media (min-width: mediumRem) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  & h2 {
    font-weight: 600;
    font-size: 1.875rem;
  }

  & h3 {
    font-size: 1.25rem;
    font-weight: 400;

    @media (min-width: mediumRem) {
      font-size: 1.5rem;
    }
  }

  & h4 {
    font-size: 1.125rem;
  }

  & h5, & h6 {
    font-size: 1rem;
    color: cascadeBlue;
    text-transform: uppercase;
  }

  & p, & ul, & ol {
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 1rem;

    @media (min-width: mediumRem) {
      font-size: 1.125rem;
    }

    @media (min-width: largeRem) {
      margin-bottom: 1.75rem;
    }
  }

  & ul, & ol {
    padding-left: 1.125rem;
  }

  & ol li, & ul li {
    position: relative;
    padding-left: 0.75rem;
  }

  & li {
    margin-bottom: .5rem;
  }

  & ul {
    list-style-type: disc;
  }

  & table {
    border: 1px solid rgba(0, 0, 0, .1);
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 100%;
  }

  & td:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
  & td {
    padding: 1.5rem 2rem;
  }

  & td p:last-child {
    margin-bottom: 0;
  }

  & tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  & hr {
    border: 1px solid rgba(0, 0, 0, .1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: mediumRem) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & :global .alignright, & :global .alignleft, & :global .wp-caption {
    margin-bottom: 1.5rem;

    @media (min-width: largeRem) {
      margin-bottom: 1.75rem;
    }
  }

  & :global .alignleft {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: smallRem) {
      float: left;
      margin-right: 1rem;
    }
  }

  & :global .aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & :global .alignright {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: smallRem) {
      float: right;
      margin-left: 1rem;
    }
  }

  & :global .wp-caption-text {
    font-size: .875rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 0;
  }

  & :global .wp-caption {
    max-width: 100%;
  }
}
