@value cascadeBlue, bambooOrange from "../colors.css";
@value smallRem, mediumRem, largeRem from "../breakpoints.css";

.sidebarAndContentWrapper {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.content {
  margin-left: 4rem;
  max-width: 42.25rem;
  width: 100%;
  line-height: 1.25;

  & h1 {
    font-family: "Lora";
    font-weight: normal;
    font-size: 3.375rem;
    margin-bottom: 3rem;

    & bold {
      font-weight: normal;
    }
  }

  & h2 {
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
  }

  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  & h4 {
    font-size: 1.375rem;
    opacity: 0.65;
    margin-bottom: 0.5rem;
  }

  & h5 {
    font-size: 1rem;
    color: cascadeBlue;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  & p, & ul, & ol {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    font-weight: normal;
    opacity: 0.8;

    @media (min-width: largeRem) {
      margin-bottom: 1.75rem;
    }
  }

  & ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    padding-left: 0.75rem;
  }

  & ol li:before {
    content: counter(list, lower-alpha) ".";
    left: -32px;
    position: absolute;
    text-align: right;
    width: 26px;
    opacity: 0.65;
  }

  & li {
    margin-bottom: 1.5rem;
  }

  & ul, & ol {
    padding-left: 1.125rem;
  }

  & ul li {
    position: relative;
    padding-left: 0.75rem;
  }

  & ul li::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    left: -17px;
    top: 8px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
  }

  & table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 100%;
  }

  & td:not(:first-child) {
    border-left: 1px solid #CCCCCC;
  }
  & td {
    padding: 1.5rem 2rem;
  }

  & td p:last-child {
    margin-bottom: 0;
  }

  & tr:not(:last-child) {
    border-bottom: 1px solid #CCCCCC;
  }

  & a {
    color: bambooOrange;
    border-bottom: 1px solid bambooOrange;
  }

  & hr {
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: largeRem) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
