@value silver, elephantBlue, minuitBlue, ebonyClayBlue, bambooOrange, gray75 from "../colors.css";
@value smallRem, mediumRem, largeRem from "../breakpoints.css";

.title {
  font-family: "Lora";
  font-size: 1.5rem;
  line-height: 1.625rem;
  margin-bottom: 10px;
  font-weight: normal;
}

.testimonial {
  background-color: elephantBlue;
  color: white;

  & img {
    width: 100%;
  }
}

.byPaypal {
  background-color: white;
}

.byMail {

}

.buttonGroup {

}

.link {
  color: bambooOrange;
}

.image {
  width: 100%;
  transform: rotateZ(-2deg);
}
