@value onionBrown, visualBrown, colderBackgroundColor, cascadeBlue, silver, elephantBlue, minuitBlue, ebonyClayBlue, linkColor, gray75 from "../colors.css";
@value smallRem, mediumRem, largeRem from "../breakpoints.css";
@value monoFont, serifFont from "../typography.css";

.donateBackground {
  background-color: visualBrown;
  background-image: url("static/images/collage_light.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 1rem;
  padding-bottom: 4rem;

  @media (max-width: smallRem) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.donateContent {
  background-color: visualBrown;
  margin: 1rem 0 4rem;
  box-shadow: 0 1rem 2rem gray;

  @media (max-width: smallRem) {
    box-shadow: none;
    margin: 0 -1rem;
  }
}

.thankYou {
  & h1 {
    margin-bottom: 1.5rem;
  }
}

.byPaypal, .byMail {
  padding: 2.5rem 2rem;

  @media (max-width: smallRem) {
    padding: 2.1rem 1rem;
  }

  & h1 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
  }

  & h2 {
    font-size: 1.4rem;
    font-weight: normal;
  }

  & hr {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.byPaypal {
  background-color: white;
  margin: 0 -.5rem;
}

.otherAmount {
  & input {
    border: 2px solid colderBackgroundColor;
    padding: .6rem 1.6rem;
    width: 100%;
  }
}

.donateButton {
  width: 100%;
}

.link {
  color: linkColor;
}

.testimonial {
  background-color: elephantBlue;
  color: white;
  padding: 1.6rem 1.5rem;

  & h2 {
    font-family: serifFont;
    text-transform: uppercase;
    font-size: 1rem;
  }

  & p {
    font-size: 1rem;
    opacity: .85;
    margin-bottom: 0;
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;
    opacity: .85;
  }
}

.testimonialImage {
  margin-right: -2.2rem;
  margin-bottom: 2rem;

  & span {
    font-size: .9rem;
    display: block;
    margin-top: .9rem;
    opacity: .85;
  }

  & img {
    width: 100%;
    transform: rotateZ(-1.3deg);
  }

  @media (max-width: smallRem) {
    margin-right: 0;

    & img {
      transform: none;
    }
  }
}
