@value elephantBlue from "../colors.css";

.sidebarAndContentWrapper {
  display: flex;
  margin-top: 71px;
}

.content {
  margin-left: 4rem;
  max-width: 42.25rem;

  & h1 {
    font-family: "Lora";
    font-weight: normal;
    font-size: 3.4375rem;
    margin-bottom: 3rem;
    & b {
      font-weight: normal;
    }
  }

  & h2 {
    color: elephantBlue;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  & h3 {
    font-weight: 600;
    font-size: 1.375rem;
    margin-bottom: 0.5rem;
  }

  & p {
    font-size: 1.375rem;
    margin-bottom: 2rem;
  }
}
