.bannerImage {
  display: block;
  max-height: 10rem;
  margin: 0 auto;
  max-width: 100%;
  filter: grayscale(1) sepia(1) hue-rotate(140deg) brightness(1.1);
}

.guideTitle {
  text-align: center;
  /* Override wysiwyg styles */
  margin: 0 !important;
}
