@value elephantBlue from "../colors.css";

.content {
  margin-left: 4rem;
  max-width: 47.25rem;
  width: 100%;
}
.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  margin-right: 1rem;
}

.itemColumn {
  margin-bottom: 1rem;
}
