@value proSiteColor, linkColor from "../colors.css";

.newsItem {
  position: relative;
  margin-bottom: 3rem;
}

.newsItem::before {
  content: '';
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: proSiteColor;
}