.sidebarAndContentWrapper {
  display: flex;
  margin-top: 71px;
}

.content {
  margin-left: 4rem;
  max-width: 42.25rem;
}

.title {
  font-family: "Lora";
  font-weight: normal;
  font-size: 3.4375rem;
  margin-bottom: 3rem;
}
