@value rockBrown, black80, bonjourRed from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../css/typography.css";

.DPLAUsers {
  margin: 0 auto;
  padding: 2rem 1rem 0;

  @media (min-width: smallRem) {
    padding-top: 3rem;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0;
    max-width: 70em;
  }
}

.header {
  font-family: serifFont;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;

  @media (min-width: smallRem) {
    font-size: 2rem;
  }

  @media (min-width: mediumRem) {
    font-size: 2.25rem;
  }
}

.itemColumn {
  margin-bottom: 1rem;
}

.item {
  padding: 3rem 2rem 2rem;
  height: 100%;
  text-align: center;

  @media (min-width: smallRem) {
    padding: 2rem 1rem;
  }
}

.itemHeader {
  font-family: serifFont;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25rem;
  margin: 1rem 0 .5rem;
}

.itemImg {
  margin: 0 auto;
  mix-blend-mode: multiply;
}

.text {
  color: black;
  opacity: 0.50;
  font-size: 1rem;
  max-width: 22rem;
  margin: 0 auto;
}

.caption {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: black80;

  & p {
    max-width: 80%;
    margin: 0 auto;

    @media (min-width: smallRem) {
      font-size: 1.25rem;
    }

    @media (min-width: mediumRem) {
      max-width: 60%;
    }
  }

  @media (min-width: mediumRem) {
    margin-top: 2rem;
  }
}

.captionButton {
  display: inline-block;
  margin-top: 2rem;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: mediumRem) {
    margin-top: 2.5rem;
  }
}
