@value rockBrown, bonjourRed from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../css/breakpoints.css";

.DPLAUsers {
  margin: 0 auto;
  padding: 2rem 1rem 0;

  @media (min-width: smallRem) {
    padding-top: 3rem;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0;
    max-width: 70em;
  }
}

.header {
  font-family: "Lora";
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;

  @media (min-width: smallRem) {
    font-size: 2rem;
  }

  @media (min-width: mediumRem) {
    font-size: 2.25rem;
  }
}

.divider {
  border: 1px solid black;
  width: 2.5rem;
  margin: 1.5rem auto 2rem;

  @media (min-width: smallRem) {
    margin: 2rem auto 3rem;
  }
}

.itemColumn {
  margin-bottom: 1rem;
}

.item {
  padding: 3rem 2rem 2rem;
  height: 100%;
  text-align: center;

  @media (min-width: smallRem) {
    padding: 2rem 1rem;
  }
}

.itemHeader {
  font-family: "Lora";
  font-weight: normal;
  font-style: italic;
  font-size: 1.25rem;
  margin: 1rem 0 .5rem;
}

.itemImg {
  margin: 0 auto;
  mix-blend-mode: multiply;
}

.text {
  color: black;
  opacity: 0.50;
  font-size: 1rem;
  max-width: 22rem;
  margin: 0 auto;
}
