@value smallRem, mediumRem from "../../css/breakpoints.css";

.faveAndCiteButtons {
  align-self: baseline;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 1rem;
  @media (min-width: smallRem) {
    width: 225px;
  }
}

.contentWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  @media (min-width: smallRem) {
    margin-top: 2rem;
    flex-direction: row;
  }
}

.citeButton {
  margin-top: 0.5rem;
  width: 100%;
}
