@value colors: "../../../../colors.css";
@value visualBrown, elephantBlue from colors;

.wrapper {
  background-color: visualBrown;
  width: 100%;
}

.relatedSets {
}

.header {
  color: elephantBlue;
  font-family: "Source Serif Pro";
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 1.5625rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.sets {
  display: flex;
}

.set {
  flex-basis: 20%;
  margin-right: 19px;
}

.set:last-child {
  margin-right: 0;
}

.setImage {
  width: 100%;
  height: auto;
}
