@import "stylesheets/breakpoints.module";

.zoomableImageViewer {
  width: 100%;
  height: 28rem;
  cursor: pointer;

  @media (max-width: $mediumRem) {
    height: 75vh; /* this is tied to the ContentAndMetadata.module.scss height */
  }

  & img {
    padding: 0.75rem !important;
    padding-right: 0.15rem !important;
    width: 35px;
  }

  &:focus,
  & canvas:focus,
  & div:focus {
    outline: 0.25rem solid var(--outlineColor);
  }
}

.noscriptContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noscriptImg {
  max-width: 100%;
  max-height: 100%;
}

.audioPlayerWrapper {
  width: 100%;
  padding: 2rem;
  background-color: var(--warmerBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.audioPlayer {
  width: 100%;
}

.videoPlayerWrapper {
  height: 100%;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  display: block;
}

.pdfViewer {
  border: 0.1rem solid var(--lightBorderColor);
  position: relative;
  width: 100%;

  iframe {
    border: none;
  }

  .pdfDocument {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
  }

  .pdfPagination {
    background-color: var(--darkerBackgroundColor);
    bottom: 0;
    font-size: 1rem;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  .pdfPages {
    margin: 0 0.5rem;
  }

  .pdfNextChevron,
  .pdfPrevChevron {
    height: 0.75rem;
  }

  .pdfPrevChevron {
    transform: scaleX(-1);
  }
}
