@import "stylesheets/colors";
@import "stylesheets/breakpoints";

.zoomableImageViewer {
  width: 100%;
  height: 28rem;
  cursor: pointer;

  @media (max-width: $mediumRem) {
    height: 75vh; /* this is tied to the ContentAndMetadata.scss height */
  }

  & img {
    padding: 0.75rem !important;
    padding-right: 0.15rem !important;
    width: 35px;
  }

  &:focus, & canvas:focus, & div:focus {
    outline: 0.25rem solid $outlineColor;
  }
}

.noscriptContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noscriptImg {
  max-width: 100%;
  max-height: 100%;
}

.audioPlayerWrapper {
  width: 100%;
  padding: 2rem;
  background-color: $warmerBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.audioPlayer {
  width: 100%;
}

.videoPlayerWrapper {
  height: 100%;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  display: block;
}

.pdfViewer {
  position: relative;
  width: 100%;

  .pdfDocument {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    padding: 2rem 0;
  }

  .pdfPagination {
    background-color: $darkerBackgroundColor;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  .pdfPages {
    font-weight: bold;
    margin: 0 1rem;
  }

  .pdfNextChevron, .pdfPrevChevron {
    height: 0.75rem;
  }

  .pdfPrevChevron {
    transform: scaleX(-1);
  }
}
