@value visualBrown from "../../../css/colors.css";

.zoomableImageViewer {
  width: 100%;
  height: 28rem;
  cursor: pointer;

  & img {
    padding: 0.75rem !important;
    padding-right: 0.15rem !important;
    width: 35px;
  }

  & canvas:focus,
  & div:focus {
    outline: none;
  }
}

.noscriptContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noscriptImg {
  max-width: 100%;
  max-height: 100%;
}

.audioPlayerWrapper {
  width: 100%;
  padding: 70px;
  background-color: visualBrown;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.audioPlayer {
  width: 100%;
}

.videoPlayer {
  width: 100%;
}
