@value warmerBackgroundColor, outlineColor from "../../../css/colors.css";
@value smallRem, mediumRem from "../../../css/breakpoints.css";

.zoomableImageViewer {
  width: 100%;
  height: 28rem;
  cursor: pointer;

  @media (max-width: mediumRem) {
    height: 75vh; /* this is tied to the ContentAndMetadata.css height */
  }

  & img {
    padding: 0.75rem !important;
    padding-right: 0.15rem !important;
    width: 35px;
  }

  &:focus,
  & canvas:focus,
  & div:focus {
    outline: 0.25rem solid outlineColor;
  }
}

.noscriptContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noscriptImg {
  max-width: 100%;
  max-height: 100%;
}

.audioPlayerWrapper {
  width: 100%;
  padding: 70px;
  background-color: warmerBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.audioPlayer {
  width: 100%;
}

.videoPlayer {
  width: 100%;
  display: block;
}
