@value white: #FFFFFF;
@value black: #000000;
@value riceCakeWhite: #ECE9DA;
@value merinoWhite: #FBF8F4;
@value alabasterGray: #F4F0E9;
@value mysticGray: #DAE4E8;
@value romanceGray: #F9F6F0;
@value gainsboroGray: #DCDCDC;
@value charcoalGray: #424242;
@value white60: rgba(255, 255, 255, 0.6);
@value white50: rgba(255, 255, 255, 0.5);
@value black60: rgba(0, 0, 0, 0.6);
@value black12: rgba(0, 0, 0, 0.12);
@value gray75: rgba(255, 255, 255, 0.75);
@value casablancaOrange: #F9BA3F;
@value bambooOrange: #DD5C00;
@value tiberBlue: #0A2A37;
@value elephantBlue: #163F51;
@value ebonyClayBlue: #273443;
@value midnightBlue: #232F3C;
@value vikingBlue: #5AB4DC;
@value curiousBlue: #269ED4;
@value solitudeBlue: #E2EBEE;
@value oysterBayBlue: #D3E2E8;
@value iceBlue: #EAF6FC;
@value lisbonBrown: #464027;
@value vanCleefRed: #563535;
@value onionBrown: #493F28;
@value pampasBrown: #F3F1EC;
@value sisalBrown: #D1CCB6;
@value coldTurkeyRed: #D2BFBF;
@value silver: #CCCCCC;
@value rockBrown: #ECE9DA;
@value bonjourRed: #E4DADA;
@value dimGray: #6D6D6D;
