body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* nuka-carousel styles */

.slider-decorator-2 {
  display: none;
}
