@value bambooOrange from "../../css/colors.css";
@value xSmallRem, smallRem from "../../css/breakpoints.css";

.activeBreadcrumb {
  display: inline-block;
  max-width: 215px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .75rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink {
  display: inline-block;
  max-width: 215px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .75rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink p,
.activeBreadcrumb p {
  max-width: 115px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (min-width: xSmallRem) {
    max-width: 145px;
  }
  @media (min-width: smallRem) {
    max-width: 215px;
  }
}

.chevron {
  height: 9px;
  padding: 0 0.5rem;
  position: relative;
  top: -1px;
  @media (min-width: smallRem) {
    padding: 0 0.75rem;
    top: -3px;
  }
}
