@value bambooOrange from "../../css/colors.css";
@value smallRem from "../../css/breakpoints.css";

.activeBreadcrumb {
  display: inline-block;
  max-width: 215px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .75rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink {
  display: inline-block;
  max-width: 215px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .75rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.breadcrumbLink p,
.activeBreadcrumb p {
  max-width: 215px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chevron {
  height: 9px;
  padding: 0 11px;
  position: relative;
  top: -5px;
}
