@value colors: "../../../../../../../../css/colors.css";
@value curiousBlue, black, black50 from colors;

.setsWrapper {
  padding-top: 40px;
}

.sets {
  display: flex;
  flex-wrap: wrap;
}

.set {
  flex-basis: calc(33% - 4px);
  padding-right: 10px;
  margin-bottom: 36px;
}

.set:nth-child(3n) {
  padding-right: 0;
}

.image {
  border-radius: 3px;
  max-width: 100%;
  margin-bottom: 13px;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: black;
  margin-bottom: 3px;
}

.subtitle {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: black50;
  font-weight: normal;
  margin-bottom: 3px;
}

.tags {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: curiousBlue;
  font-weight: normal;
}

.tag {
  display: inline;
}
