$theme-main-color: #2a1e1e;
$theme-link-color: #ce5f06;

$linkColor: $theme-link-color;
$linkHoverColor: brighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
// $paginationLinkColor: $cascadeBlue;
// $headingColor: $theme-main-color;
$navColor: $theme-main-color;
// $userSiteColor: $hippieBlue;
// $proSiteColor: $elephantBlue;
// $mobileNavColor: $elephantBlue;
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
// $secondaryBulletColor: $linkColor;
// $darkSecondaryButtonColor: $elephantBlue;
// $warmerBackgroundColor: $romanceGray;
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
// $colderBackgroundColor: #f3f7f8;
// $lightBorderColor: #e7e7e7;
// $darkBorderColor: $hippieBlue;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
// $subLinkColor: #007294;
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
// $donateFormButtonColor: $cascadeBlue;
// $outlineColor: $casablancaOrange;
// $formLabelColor: $cascadeBlue;
// $errorColor: $linkColor;
// $proIconColor: #5d7384;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
// $footerLightColor: $ebonyClayBlue;
// $footerDarkColor: $minuitBlue;
