$theme-main-color: #545454;
$theme-dark-color: #1e1e1e;
$theme-link-color: darken(#c06528, 5%);
$theme-background-color: #fff;
$theme-colder-tint: rgb(231, 231, 231);
$theme-warmer-tint: lighten($theme-link-color, 55%);

$linkColor: $theme-link-color;
$linkHoverColor: brighten($linkColor, 10%);
$visitedLinkColor: darken($linkColor, 10%);
$paginationLinkColor: $linkColor;
// $headingColor: $theme-dark-color;
$navColor: $theme-dark-color;
$userSiteColor: $theme-main-color;
// $proSiteColor: $elephantBlue;
// $mobileNavColor: $elephantBlue;
$secondaryButtonColor: $linkColor;
$secondaryColor: $secondaryButtonColor;
$primaryBulletColor: $secondaryButtonColor;
$secondaryBulletColor: $linkColor;
// $darkSecondaryButtonColor: $elephantBlue;
$warmerBackgroundColor: mix($theme-warmer-tint, $theme-background-color);
// $darkerBackgroundColor: darken($warmerBackgroundColor, 20%);
$colderBackgroundColor: mix($theme-colder-tint, $theme-background-color, 25%);
// $lightBorderColor: #e7e7e7;
$darkBorderColor: $theme-main-color;
// $lightLinkColor: $casablancaOrange;
// $featuredBannerColor: $casablancaOrange;
// $subLinkColor: #007294;
// $outgoingLinkColor: $subLinkColor;
// $dimmedTextColor: $dimmerGray;
$donateFormButtonColor: $theme-dark-color;
// $outlineColor: $casablancaOrange;
$formLabelColor: $theme-dark-color;
$errorColor: $linkColor;
// $proIconColor: #5d7384;
// $radioButtonColor: $gainsboroGray;
// $memberColor: #006d84;
// $featureBackgroundColor: #cbe3e8;
$footerLightColor: $theme-main-color;
$footerDarkColor: $theme-dark-color;
