@value cascadeBlue from "../../../../css/colors.css";


.sidebar {
  width: 294px;
  margin-right: 19px;
  flex-shrink: 0;
}

.facet {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.activeFacetName {
  color: cascadeBlue;
  font-weight: bold;
}

.facetCount {
  font-size: 0.8125rem;
  color: #888888;
}
