@value cascadeBlue, dimmedTextColor from "../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../css/breakpoints.css";
@value sansFont from "../../../../css/typography.css";

.sidebar {
  flex-shrink: 0;

  & h2 {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

.facet {
  margin-bottom: 0.5rem;
  display: flex;

  &:hover .facetName {
    text-decoration: underline;
  }
}

.facetName {
  color: black;
  flex-basis: 75%;
}

.activeFacetName {
  color: cascadeBlue;
  font-weight: bold;
}

.facetCount {
  font-size: 0.8125rem;
  color: dimmedTextColor;
  margin-left: .25rem;
  flex-basis: 25%;
  text-align: right;
}

.dateRangeFacet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dateFacet {
  margin-bottom: 0.5rem;

  & span {
    display: block;
    margin-bottom: 0.25rem;
  }

  & input {
    border: 0.05rem solid dimmedTextColor;
    border-radius: 0.125rem;
    padding: 0.5rem 0.5rem;
  }
}

.dateButton {
}