@value cascadeBlue, dimmedTextColor from "../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../css/breakpoints.css";

.sidebar {
  flex-shrink: 0;

  & h2 {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

.facet {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: black;

  &:hover .facetName {
    text-decoration: underline;
  }
}

.activeFacetName {
  color: cascadeBlue;
  font-weight: bold;
}

.facetCount {
  font-size: 0.8125rem;
  color: dimmedTextColor;
  margin-left: .25rem;
}
