@value cascadeBlue, black50 from "../../../../css/colors.css";
@value smallRem, mediumRem from "../../../../css/breakpoints.css";


.sidebar {
  width: 100%;
  @media (min-width: smallRem) {
    width: 225px;
  }
  @media (min-width: mediumRem) {
    width: 294px;
  }
  margin-right: 19px;
  flex-shrink: 0;
}

.facet {
  font-size: 0.875rem;
  line-height: 1.125rem;

  &:hover .facetName {
    text-decoration: underline;
  }
}

.activeFacetName {
  color: cascadeBlue;
  font-weight: bold;
}

.facetCount {
  font-size: 0.8125rem;
  color: black50;
  margin-left: .25rem;
}
