@value visualBrown, pampasBrown, bambooOrange from "../../../../../css/colors.css";

.calloutWrapper {
  background-color: visualBrown;
  width: 100%;
  padding: 52px 0;
}

.callout {
  max-width: 816px;
  margin: auto;
  padding: 32px 43px 35px 37px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  background-color: pampasBrown;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  opacity: 0.55;
}

.header {
  font-family: "Lora";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 5px;
}

.link {
  margin-left: auto;
  border-radius: 3px;
  background-color: bambooOrange;
  color: white;
  padding: 10px 28px;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
}
