@import "stylesheets/breakpoints.module";

.calloutWrapper {
  background-color: var(--warmerBackgroundColor);
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;

  @media (min-width: $smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (max-width: $smallRem) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.callout {
  max-width: 46rem;
  margin: auto;
  padding: 2rem;
  background-color: var(--warmerBackgroundColor);

  @media (min-width: $mediumRem) {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-bottom: 1rem;
  text-align: left;

  @media (min-width: $mediumRem) {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

.header {
  font-family: var(--serifFont), serif;
  font-weight: normal;
  font-size: 2rem;
}

.text {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: var(--dimmedTextColor);
}

.link {
  margin: 0 auto;
  display: block;
  font-size: 1.5rem;

  & a {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }
}
