@value visualBrown, pampasBrown, linkColor from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";

.calloutWrapper {
  background-color: visualBrown;
  width: 100%;
  padding: 2rem 1rem;

  @media (min-width: @smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.callout {
  max-width: 46rem;
  margin: auto;
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.04);
  background-color: pampasBrown;
  text-align: center;

  @media (min-width: mediumRem) {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-bottom: 1rem;

  @media (min-width: mediumRem) {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

.header {
  font-family: "Lora";
  font-weight: normal;
  font-size: 1.5rem;
}

.text {
  margin-top: .5rem;;
  font-size: 1.125rem;
  opacity: 0.5;
}
