@value warmerBackgroundColor, linkColor, dimmedTextColor from "../../../../../css/colors.css";
@value smallRem, mediumRem, largeRem from "../../../../../css/breakpoints.css";
@value monoFont, serifFont from "../../../../../css/typography.css";

.calloutWrapper {
  background-color: warmerBackgroundColor;
  width: 100%;
  padding: 2rem 1rem;

  @media (min-width: @smallRem) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.callout {
  max-width: 46rem;
  margin: auto;
  padding: 2rem;
  background-color: warmerBackgroundColor;

  @media (min-width: mediumRem) {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-bottom: 1rem;

  @media (min-width: mediumRem) {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

.header {
  font-family: serifFont;
  font-weight: normal;
  font-size: 1.5rem;
}

.text {
  margin-top: .5rem;;
  font-size: 1.125rem;
  color: dimmedTextColor;
}
