@import "stylesheets/breakpoints.module";

.wrapper {
  background-color: var(--warmerBackgroundColor);
}

.content {
  margin: 0 auto;
  padding: 2rem 1rem;

  @media (min-width: $mediumRem) {
    padding: 3rem 1rem;
  }

  @media (min-width: $largeRem) {
    padding: 4rem 0;
  }

  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;

    @media (max-width: $mediumRem) {
      display: block;
    }
  }

  & li {
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 0;
    }

    @media (min-width: $mediumRem) {
      margin-top: 0;
    }
  }
}

.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $mediumRem) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.headerText {
  font-family: var(--serifFont), serif;
  font-weight: normal;
  font-size: 2rem;

  @media (min-width: $smallRem) {
    font-size: 2.25rem;
  }

  @media (min-width: $largeRem) {
    font-size: 3rem;
  }
}

.headerLink {
  color: var(--linkColor);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.25rem;
  display: block;

  @media (min-width: $largeRem) {
    margin-top: 1rem;
  }

  @media (min-width: $largeRem) {
    font-size: 1.25rem;
  }
}

.chevron {
  height: 0.65rem;
  margin-left: 0.5rem;
}

.post {
  margin: 1rem 0;

  &:first-child {
    position: relative;

    &:before {
      @media (min-width: $mediumRem) {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        left: -1.5rem;
      }
    }
  }
}

.postLink {
  font-weight: bold;
  font-size: 1rem;
}

.date {
  color: var(--dimmedTextColor);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.25rem;
  text-transform: uppercase;

  @media (min-width: $mediumRem) {
    margin-top: 0.5rem;
  }
}

.bodyText {
  margin-top: 0.25rem;

  @media (min-width: $mediumRem) {
    margin-top: 0.5rem;
  }
}
