@value alabasterGray, elephantBlue, dimGray, black, bambooOrange from "../../../css/colors.css";
@value smallRem, mediumRem, largeRem, mediumPlusRem from "../../../css/breakpoints.css";

.socialMedia {
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: smallRem) {
    flex-direction: row;
  }

  @media (min-width: mediumRem) {
    padding: 3rem 1rem;
  }

  @media (min-width: largeRem) {
    padding: 4rem 0;
  }
}

.wrapper {
  background-color: alabasterGray;
}

.header {
  font-family: "Lora";
  font-weight: normal;
  margin-bottom: 24px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: black;
}

.twitter {
  flex: 1;
  color: dimGray;
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  padding-right: 27px;
  margin-bottom: 25px;
}

.twitterText {
  margin-bottom: 6px;
}

.twitterDate {
  text-transform: uppercase;
  color: bambooOrange;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  margin-bottom: 19px;
}

.visitLink {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
  color: bambooOrange;
}

.instagram {
  flex: 2;
}

.instagramImages {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;

  @media (min-width: mediumPlusRem) {
    flex-wrap: nowrap;
  }
}

.instagramImage {
  padding: 0px 6px 6px 0;
  width: calc(50% - 6px);
  height: calc(50% - 6px);

  @media (min-width: mediumPlusRem) {
    width: calc(25% - 6px);
  }
}

.externalLinkIcon {
  width: 16px;
  height: 16px;
  padding-left: 9px;
  position: relative;
  top: 2px;
}
