@import "stylesheets/variables";

.wrapper {
  margin: 1rem 0 2rem;
}

.loading {
  margin: 3rem 0;
}

.empty p {
  margin-bottom: 1rem;
}

.contentTitle {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.listDetailWrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.listDetailName {
  display: flex;
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.listRenameButton {
  margin-left: 1rem;
}

.listDeleteConfirm {
  display: flex;
}

.lists {
  display: grid;
  grid-gap: 1rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.listItem {
  align-items: baseline;
  border-bottom: 0.075rem solid $grayBorderColor;
  display: grid;
  grid-template: "name count" auto "date date" 1.5rem / 3fr 1fr;
  height: 100%;
  padding-bottom: 0.5rem;

  &:hover {
    border-bottom-color: $linkColor;
    text-decoration: none;
  }
}

.listName {
  font-family: $serifFont;
  font-weight: normal;
  grid-area: name;
}

.listCount {
  color: $dimmedTextColor;
  grid-area: count;
  margin-left: auto;
}

.listDate {
  color: $dimmedTextColor;
  font-size: 0.8rem;
  font-style: italic;
  grid-area: date;
}

.listOfLists {
  margin-top: 1rem;
  max-height: 20rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.checkboxLabel {
  align-items: baseline;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  margin: 0 0.5rem 0.5rem;

  &.disabled {
    color: $dimmedTextColor;
  }

  @media (max-width: $mediumRem) {
    margin: 1.5rem 0.5rem;
  }
}

.checkbox {
  cursor: pointer;
  margin-right: 0.5rem;
}

.listCount {
  color: $dimmedTextColor;
  white-space: nowrap;
}

.disabled {
  cursor: not-allowed;
}

.newListModal {
  margin: 0.5rem 0;
}
