@import "stylesheets/variables";

.loading {
  margin: 5rem 0;
}

.lists {
  display: grid;
  grid-gap: 1rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding: 1rem 0.5rem 2rem;
}

.listItem {
  align-items: baseline;
  border-bottom: 0.075rem solid $grayBorderColor;
  display: grid;
  grid-template: "name count" auto "date date" 1.5rem / 3fr 1fr;
  height: 100%;
  padding-bottom: 0.5rem;

  &:hover {
    border-bottom-color: $linkColor;
    text-decoration: none;
  }
}

.listName {
  font-family: $serifFont;
  font-weight: normal;
  grid-area: name;
}

.listCount {
  color: $dimmedTextColor;
  grid-area: count;
  margin-left: auto;
}

.listDate {
  color: $dimmedTextColor;
  font-size: 0.8rem;
  font-style: italic;
  grid-area: date;
}
