@value pampasBrown from "../../../css/colors.css";

.wrapper {
  width: 100%;
  height: 44px;
  background-color: pampasBrown;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
}

.breadcrumbsModule {
  height: 100%;
  padding-top: 0; 
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
