@import "stylesheets/variables";

.previousItemButton, .nextItemButton {
  color: $linkColor;
  font-weight: 600;
  font-size: 0.75rem;

  @media (min-width: $smallRem) {
    font-size: 1rem;
  }
}

.previousChevron, .nextChevron {
  height: 8px;
  width: 5px;

  @media (min-width: $smallRem) {
    height: 9px;
  }
}

.previousChevron {
  transform: rotate(180deg);
  margin-right: 0.25rem;

  @media (min-width: $smallRem) {
    margin-right: 0.5rem;
  }
}

.nextChevron {
  margin-left: 0.25rem;

  @media (min-width: $smallRem) {
    margin-left: 0.5rem;
  }
}

.previousItemButton {
  margin-right: 0.75rem;

  @media (min-width: $smallRem) {
    margin-right: 2rem;
  }
}

.navButtonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hideOnSmallScreens {
  display: none;
  visibility: hidden;

  @media (min-width: $mediumRem) {
    display: inherit;
    visibility: visible;
  }
}
