@value pampasBrown, linkColor from "../../../css/colors.css";
@value smallRem, mediumRem from "../../../css/breakpoints.css";

.wrapper {
  width: 100%;
  height: 44px;
  background-color: pampasBrown;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.03);
}

.breadcrumbsModule {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previousItemButton, .nextItemButton {
  color: linkColor;
  font-weight: 600;
  font-size: 0.75rem;
  @media (min-width: smallRem) {
    font-size: 1rem;
  }
}

.previousChevron, .nextChevron {
  height: 8px;
  width: 5px;
  @media (min-width: smallRem) {
    height: 9px;
  }
}

.previousChevron {
  transform: rotate(180deg);
  margin-right: 0.25rem;
  @media (min-width: smallRem) {
    margin-right: 0.5rem;
  }
}

.nextChevron {
  margin-left: 0.25rem;
  @media (min-width: smallRem) {
    margin-left: 0.5rem;
  }
}

.previousItemButton {
  margin-right: 0.75rem;
  @media (min-width: smallRem) {
    margin-right: 2rem;
  }
}

.navButtonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hideOnSmallScreens {
  display: none;
  visibility: hidden;
  @media (min-width: mediumRem) {
    display: inherit;
    visibility: visible;
  }
}
