@import "stylesheets/variables";

$tablePadding: 1.125rem;

.content {
  padding-bottom: 1rem;
  flex: 1;

  @media (min-width: $smallRem) {
    margin-right: 3rem;
    padding-bottom: 3rem;
  }
}

.contentTable {
  @media (max-width: $smallRem) {
    width: 100%;
  }
}

.tableHeadingWrapper {
  display: block;
  padding-top: 0.25rem;
  width: 140px;
}

.tableHeading {
  color: $dimmedTextColor;
  font-size: 0.875rem;
  font-weight: 600;
}

.tableRow {
  display: flex;
  flex-direction: column;

  @media (min-width: $smallRem) {
    display: table-row;
  }
}

.tableItem {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  vertical-align: top;
  width: 100%;
  word-break: break-word;
}

.tableRow td {
  padding-bottom: 0.5rem;

  @media (min-width: $smallRem) {
    padding-bottom: 1rem;
  }
}

.tableRow:last-child td {
  padding-bottom: 0.5rem;

  @media (min-width: $smallRem) {
    padding-bottom: 0;
  }
}

.longDescription {
  max-height: 16rem;
  overflow: hidden;

  @media print {
    overflow: inherit;
    max-height: none;
    padding-bottom: 1rem;
  }

  &.open {
    max-height: none;
  }
}

.showMore {
  cursor: pointer;
  display: block;
  padding: 0.25rem 0;
  border-top: 0.075rem solid gray;
  font-size: 1rem;

  &.open {
    display: none;
  }

  @media (max-width: mediumRem) {
    padding: 0.25rem 1rem 1rem;
  }

  @media print {
    display: none;
  }
}

.defaultItemImage {
  padding: 5rem 0;
}

.title {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mainMetadata {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

  @media (min-width: $smallRem) {
    padding-bottom: $tablePadding;
  }
}

.mainMetadataText {
  font-size: 1rem;
  margin-bottom: 0;

  @media (min-width: $smallRem) {
    font-size: 1.25rem;
  }
}

.thumbnail {
  width: 242px;
  margin-bottom: 0.5rem;
  display: block;
}

.sourceLink, .sourceLink:visited {
  align-items: center;
  background-color: $subLinkColor;
  border-radius: 2px;
  color: white;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 600;
  justify-content: center;
  padding: 0.75rem 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
  width: 100%;

  &:hover {
    background-color: $subLinkColorHover;
    text-decoration: none;
  }

  @media (min-width: $smallRem) {
    width: 242px;
  }
}

.sourceLinkText {
  margin-right: 0.5rem;
}

.externalLinkIcon {
  height: 16px;
  width: 16px;
}

.otherMetadata {
  padding: 1rem 0 0;

  @media (min-width: $smallRem) {
    padding: $tablePadding 0;
  }
}

.otherMetadataItem {
  font-size: 1rem;
}

.rightsMetadata {
  padding-top: 1rem;

  @media (min-width: $smallRem) {
    padding-top: $tablePadding;
  }
}

.rightsStatement {
  padding: 1rem 0 0;

  & img {
    height: 2rem;
  }
}

.rightsText {
  font-size: 0.9375rem;
}

.url {
  font-family: $monoFont;
  padding: 9px 12px 12px;
  background-color: $warmerBackgroundColor;
  border-radius: 2px;
  font-size: 0.875rem;
  display: block;
  word-break: break-all;
}

.subjects .facetLink {
  margin-bottom: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}
